<div class="messages" ng-controller="CommonController">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
        <div class="terms_conditions">
          <h2 class="section-title ng-scope">Términos y condiciones</h2>
          <p>
            Los presentes términos y condiciones de uso (“Términos”) norman el uso de los servicios proporcionados por Geek Education S.C. (“GEEK”)
            a través de la Página Web de GEEK (“Plataforma”). Por favor lee detenidamente los Términos antes de continuar y usar la Plataforma.
            No aceptes a menos que comprendas y estés de acuerdo con todos los Términos. Al usar o continuar usando la Plataforma, aceptas que entiendes
            plenamente todos los Términos contenidos en el presente documento y otorgas tu consentimiento a regirte por ellos.
          </p>

          <h3 class="subtitle-section">1.	Términos Generales</h3>
          <p>
            GEEK provee esta Plataforma a usuarios en busca de servicios de clases particulares (“Estudiantes” y/o “Usuarios”), a usuarios que buscan ofrecer servicios de clases particulares (“Profesores”) y a cualquier otra persona que acepte estos Términos  (colectivamente “tú”). Estos Términos rigen la relación entre GEEK y tú (colectivamente las “Partes”), y los aceptas al: (a) contratar a un Profesor a través de la Plataforma; (b) utilizar la Plataforma en cualquier otra forma; (c) reconociendo el consentimiento de estos Términos; y/o (d) Ofrecer tus servicios de clases particulares a través de GEEK a potenciales Estudiantes. Si por algún motivo no estás de acuerdo con estos Términos, no uses la Plataforma.
            En caso de que exista algún conflicto o inconsistencia entre cualquier asunto asociado con la Plataforma, estos Términos servirán como documento rector.
            Si alguna disposición de los Términos se declara inválida por cualquier ley u ordenamiento regulatorio de cualquier Estado, por alguna autoridad jurisdiccional o por un árbitro, las Partes acuerdan que dicha disposición será sustituida por una nueva que cumpla el mismo propósito o fin de negocio que haya buscado la disposición original, y el resto de las disposiciones de los Términos seguirán siendo obligatorias y aplicables.
          </p>

          <h3 class="subtitle-section">2.	Servicios</h3>
          <p>
            La Plataforma es una plataforma digital para aquellos Estudiantes que estén buscando recibir servicios de clases particulares. Mediante la Plataforma podrán encontrar y conectarse con aquellas personas que ofrecen ese servicio (los “Prestadores de Servicio Profesional” y/o “Profesores”). Los Prestadores de Servicio Profesional ofrecen el servicio como prestadores de servicios independientes a GEEK por lo que ellos son los que controlan el material, los métodos y cualquier aspecto relacionado con las clases.
            Los Estudiantes se hacen responsables de seleccionar al Profesor que más les convenga para satisfacer sus necesidades. Al contratar a cualquier Profesor, el Estudiante debe revisar e investigar las credenciales presentadas por cada Profesor, su nivel de educación y experiencia, así como otras reseñas publicadas por otros estudiantes usuarios del sistema. EN CASO DE TRATARSE DE UN MENOR DE EDAD, EL PADRE/ MADRE O TUTOR SERÁ RESPONSABLE DEL PROCESO DE SELECCIÓN Y CONTRATACIÓN Y ENTIENDE Y ACEPTA QUE LAS CLASES DEBERÁN SER SUPERVISADAS POR UN ADULTO RESPONSABLE.
            GEEK controla y opera la Plataforma desde diferentes ubicaciones por lo que no garantiza que el contenido de la misma sea apropiado o esté disponible para su uso en cualquier ubicación. Es posible que los servicios proporcionados por GEEK no estén disponibles en ciertas ubicaciones, y puede ser que los servicios varíen dependiendo de la ubicación del usuario. Adicionalmente, GEEK hará todo lo posible por enviar cualquier correspondencia a través de correos electrónicos, sin embargo, GEEK no garantiza ni se hacer responsable de la entrega de dicho material.
          </p>

          <h3 class="subtitle-section">3.	Honestidad Académica</h3>
          <p>
            Los Usuarios reconocen y están de acuerdo que los servicios proporcionados por GEEK tienen como propósito el aprendizaje, no la deshonestidad académica. No deberán contactar, ni contratar a ningún Profesor a través de esta Plataforma para que ellos completen sus tareas, escriban sus ensayos,  tomen exámenes, o realicen cualquier tipo de trabajo de naturaleza académica que deban realizar los estudiantes. Adicionalmente, no deberán usar los servicios de GEEK para  cualesquier  acción que viole cualquier política de honestidad académica o cualquier política de conducta establecida por la escuela, universidad, instituto académico o trabajo del usuario.
          </p>

          <h3 class="subtitle-section">4.	Obligaciones y Conducta</h3>
          <p>
            Considerando el uso de la Plataforma el usuario o Estudiante acepta: (a) que tienes edad legal y estas en capacidad de aceptar estos Términos; (b)  proveer información completa, veraz y actual cuantas veces el sistema lo requiera durante el proceso de registro (“Información de Registro”); (c)  mantener tus contraseñas e identificación en un lugar seguro; (d)  mantener y actualizar tu Información de Registro y cualquier otra información que proporciones a GEEK de manera oportuna, manteniéndola al día, completa y precisa; y (e) cualquier riesgo referente al acceso no autorizado a tu Información de Registro o cualquier otra información que proporciones a GEEK.
            <br><br>
            Los Usuarios son completamente responsables por todo el contenido que suban, o transmitan a través del uso de la página (“Contenido”). Aceptan  no subir, o transmitir Contenido que: (a) sea ofensivo, obsceno, falso, pornográfico, racista, discriminatorio, violento, acosador o que por cualquier otra razón pueda ser considerado inadecuado, ; (b) incluya la divulgación no autorizada de información personal como lo es nombre, direcciones, salarios, parentesco, entre otras cosas; (c) viole o infrinja la propiedad intelectual de cualquier persona física o moral; o (d) contenga cualquier virus informático o cualquier código, archivo o programa diseñado para interrumpir, destruir o limitar la funcionalidad de cualquier software o hardware computacional o equipo de telecomunicaciones (“Virus”). GEEK se reserva el derecho a editar o remover cualquier Contenido que viole estos Términos, que contengan anuncios comerciales de terceros, o por cualquier otro motivo que considere necesario.
            <br><br>
            Los Usuarios aceptan usar esta Plataforma con apego a derecho, de manera relevante y apropiada para el foro en cuestión. Cualquier uso de la Plataforma, que GEEK, a su discreción, considere inapropiado y/u ofensivo puede resultar en la suspensión y/o terminación de un usuario con o sin advertencia.
            <br><br>
            A continuación se presenta una lista que incluye pero no limita, algunos usos considerados inapropiados por GEEK:
          </p>
          <ul>
            <li>Difamar, abusar, acosar, agredir, lastimar, amenazar o cualquier acción que viole los derechos (incluyendo pero no limitando los derechos de privacidad) de terceros;</li>
            <li>Publicar, subir, distribuir o diseminar cualquier tipo de nombre, tema, información o contenido  ofensivo, difamatorio, infractor, odioso, obsceno;</li>
            <li>Usar la Plataforma con el fin de quebrantar la legislación local, municipal, estatal, federal o internacional, incluyendo las normas referentes a las condiciones laborales.</li>
            <li>Subir contenido que contenga algún software o material que viole los derechos de terceros, incluyendo pero no limitado a los derechos de la propiedad intelectual y de privacidad;</li>
            <li>Subir contenido que contenga algún Virus;</li>
            <li>Tomar cualquier acción que pueda debilitar algún aspecto de la Plataforma;</li>
            <li>Intentar obtener acceso no autorizado a la Plataforma, otras cuentas de usuarios, otros dispositivos, sistemas de cómputo o redes conectadas a la Plataforma;</li>
            <li>Anunciarse u ofrecer bienes o servicios con un fin comercial ajeno a GEEK;</li>
            <li>Hacerse pasar por alguien más o permitir que otra persona utilice tu nombre de usuario, contraseña o membresía;</li>
            <li>Subir el mismo contenido de manera repetitiva o spam – el spam queda estrictamente prohibido;</li>
            <li>Bajar cualquier contenido publicado por otros usuarios;</li>
            <li>Acceder, bajar o copiar información, contenido y/o material de la Plataforma con, incluyendo pero no limitando, el uso de spiders, scrapers, programas computacionales, bots, entre otros;</li>
            <li>Reproducir, duplicar, copiar, vender, revender o explotar cualquier información, material o contenido en la Plataforma; o</li>
            <li>Restringir o inhabilitar el uso a otros usuarios de la Plataforma.</li>
          </ul>
          <p>
            Al usar la Plataforma, los Usuarios declaran y garantizan  que cumplen y seguirán cumpliendo con las siguientes condiciones de elegibilidad (“Condiciones de Elegibilidad”) durante todo el tiempo que seas usuario de los servicios de GEEK: (a) cumplen y cumplirán en todo momento con las políticas y normas de GEEK, así como con las leyes de su localidad, municipio, estado, país; (b) tienen el derecho, autoridad y capacidad de acceder a estos Términos y cumplir con todos los términos y condiciones mencionados en este documento: (c) Ni el Usuario ni nadie en su hogar: (i) ha sido sujeto de una queja, orden de aprehensión u cualquier otra acción legal que invoque violencia, abuso, negligencia, fraude, robo o cualquier ofensa que involucre un daño patrimonial o riesgo a la seguridad de terceros; (ii) ha sido juzgado o condenado por cualquier tipo de delito, incluyendo pero no limitando a, abuso a menores, abuso sexual o cualquier acto de violencia doméstica; y/o actualmente se considera un ofensor sexual por cualquier jurisdicción o entidad gubernamental; y (d) Ni el Usuario ni nadie en su hogar está en libertad condicional o en proceso de ser juzgado por algún crimen o delito, incluyendo pero no limitando, el abuso sexual o violencia doméstica.
            <br><br>
            Al usar esta Plataforma, los Usuarios entienden y aceptan que GEEK puede apoyarse en las declaraciones y garantías incluidas en las Condiciones de Elegibilidad mencionadas anteriormente y considerarlas como verdaderas. Entienden y aceptan que GEEK puede revisar las Condiciones de Elegibilidad en cualquier momento y requerir nuevas condiciones y certificados con los cuales el Usuario debe cumplir para poder continuar con el uso de la Plataforma.
            <br><br>
            Por medio del presente, los Usuarios autorizan que GEEK revise la veracidad, exactitud y/o cumplimiento con las declaraciones y garantías y reconocen y aceptan que GEEK tiene el derecho, pero no la obligación, de verificar si cumplen con estas. Aceptan y entienden que la verificación del cumplimiento con dichas declaraciones y garantías incluye, pero no limita, la solicitud de cartas de no antecedentes penales, verificaciones de identidad, solicitar información al buró de crédito y/o el uso de cualquier información pública. Al aceptar esto, das consentimiento a la recopilación, uso o divulgación de tu información personal para lograr dicha verificación. Asimismo, en caso que GEEK determine que has violado cualquiera de las declaraciones o garantías hechas, aceptas que GEEK, a su discreción, puede tomar las acciones que considere necesarias, incluyendo pero no limitando, la suspensión o terminación del uso y acceso a la Plataforma.
            <br><br>
            A pesar del párrafo anterior, los Usuarios reconocen y aceptan que GEEK no revisa los antecedentes de ningún usuario. También reconocen y aceptan que GEEK no confirma ni niega la validez de la información proporcionada por los usuarios y que GEEK no verifica que cada usuario cumpla con alguna o todas las Condiciones de Elegibilidad. Reconocen  y aceptan ser los Usuarios son responsable por las decisiones y juicios que tomen sobre las personas con las que decidas tener contacto. <strong>ES SU RESPONSABILIDAD VERIFICAR PARTE O TODA LA INFORMACIÓN REFERENTE A OTROS USUARIOS.</strong>
            <br><br>
            GEEK no tiene responsabilidad alguna, y al aceptar estos Términos los Usuarios expresamente y absolutamente liberan a GEEK de cualquier tipo de responsabilidad, ya sea penal o civil, sobre cualquier controversia, acción, demanda, reclamo, daño y/o lesión resultantes de o relacionadas con: (a) cualquier inexactitud, extemporaneidad o falta de completitud relacionada a las Condiciones de Elegibilidad y/ o (b) errores o tergiversaciones hechas por los usuarios.
            <br><br>
            Cualquier queja debe ser reportada a GEEK a través de un correo electrónico a la dirección <a class="mailto-link" href="mailto:info@geek.education">info@geek.education</a>. La información para que puedas ejercer tus derechos ARCO están incluidos en el Aviso de Privacidad de la Plataforma.
          </p>

          <h3 class="subtitle-section">5.	Reportes de terceros</h3>
          <p>
            GEEK puede hacer uso de reportes generados por agencias dedicadas a la verificación de información personal como, incluyendo pero no limitando, antecedentes penales, historial crediticio, identidad (“Reportes del Consumidor”). GEEK no emite ninguna declaración o garantía sobre estos Reportes del Consumidor. GEEK no verifica de manera independiente la información de los Reportes del Consumidor.
            <br><br>
            Por medio del presente los Usuarios autorizan que GEEK recolecte, utilice y divulgue información contenida en los Reportes del Consumidor. Reconocen y aceptan que GEEK puede, bajo su discreción, revisar y basar la decisión de suspender o terminar la suscripción de algún usuario sobre los Reportes del Consumidor. Dicho esto, en el caso de que cualquier información contenida en los Reportes del Consumidor acerca de cualquier persona, incluyendo, sin limitación, cualquier usuario, no sea precisa, oportuna o completa, GEEK no será responsable en modo alguno. GEEK se reserva el derecho a suspender y/o terminar a cualquier Usuario con base en la información contenida en los Reportes del Consumidor o por cualquier otra razón que GEEK considere apropiada.
          </p>

          <h3 class="subtitle-section">6.	Confidencialidad de la información de GEEK</h3>
          <p>
            Los Usuarios pueden obtener, a través de la Plataforma, acceso directo a cierta información confidencial de GEEK y de sus afiliados, incluyendo pero no limitando a información, técnica, contractual, de producto, de programa,  de fijación de precios, marketing u otra información valiosa que pueda considerarse como confidencial (“Información Confidencial”). El Usuario tiene la obligación  de mantener estricta confidencialidad sobre cualquier Información Confidencial. El derecho y propiedad sobre la Información Confidencial permanece con GEEK y sus afiliados.
            <br><br>
            Estos Términos no imponen ninguna obligación a  la divulgación de Información Confidencial que puedan probar con evidencia legitima y suficiente que: (a) el Usuarios tenga en su posesión dicha Información Confidencial antes de entrar a la Plataforma; (b) la información se vuelva del dominio público sin ningún acto u omisión de parte del Usuario o sin violentar los Términos presentes; y /o  (c) la Obtención de la información Confidencial fue mediante  un tercero que tenía autorización para divulgar dicha información.
          </p>

          <h3 class="subtitle-section">7.	Contenido publicado en la Plataforma por usuarios</h3>
          <p>
            GEEK no reclama la propiedad del Contenido que los Usuarios pongan en la Plataforma y no tendrá ningún tipo de obligación con respecto a dicho Contenido. A menos que se indique lo contrario, se considerará que cualquier Contenido que proporcionen los Usuarios en relación con este sitio lo proporcionan de manera pública. GEEK puede hacer uso o distribuir dicho Contenido de manera gratuita y sin restricciones de cualquier tipo con cualquier propósito. Al aceptar estos Términos y condiciones, los Usuarios conceden a GEEK una licencia gratuita, irrevocable, de uso mundial, y sin exclusividad para usar, reproducir, modificar, distribuir, transmitir, desplegar, adaptar, revender y/o publicar dicho Contenido (de manera física y/o digital).  Declaras y garantizas que tienes la autorización debida para la transferencia y procesamiento internacional sobre la información y Contenido que entregues, subas o publiques en la Plataforma entre GEEK, sus afiliados y sus proveedores.
          </p>

          <h3 class="subtitle-section">8.	Términos sobre las transacciones</h3>
          <p>
            Los Usuarios reconocen y aceptan  respetar y cumplir con las políticas de pago para los Estudiantes y Profesores. Aceptan que y están de acuerdo en cubrir todos los costos en los que incurran a través de GEEK. Estos costos incluyen pero no están limitados a: (a) la tarifa publicada en la página; (b) los costos de traslado; (c) las cuotas de cancelación descritas en las políticas de cancelación; (d) la comisión acordada entre GEEK y los Profesores
          </p>

          <h3 class="subtitle-section">9.	Publicidad y promociones</h3>
          <p>
            GEEK tendrá toda la libertad para comercializar espacios publicitarios a través de su Plataforma con terceros interesados en anunciarse (los “Clientes”). Cualquier relación que puedan llegar a tener los usuarios con los Clientes  será de carácter personal. Las obligaciones que se puedan generar entre los usuarios de GEEK y los Clientes incluyendo pero no limitado a el pago o entrega de bienes o servicios y la aceptación de otros términos, condiciones, garantías o declaraciones asociadas serán consideradas ajenas a la relación contractual que tanto el Cliente como el Usuarios tenga con GEEK. GEEK no se hace responsable por cualquier pérdida o daño que pueda resultar de la relación  entre los Clientes y los Usuarios.
          </p>

          <h3 class="subtitle-section">10. Contenido proporcionado a través de ligas</h3>
          <p>
            Podrán encontrar ligas a otras páginas web u otros recursos de la Plataforma. Los Usuarios reconocen y aceptan que GEEK no es responsable por la disponibilidad de dichas ligas a otras páginas web u otros recursos, y no apoya ni se hace responsable sobre cualquier contenido, anuncio, producto u otro material encontrado en dichas páginas web u otros recursos. GEEK no será responsable de manera directa o indirecta, por cualquier daño o pérdida causada por o relacionada con el uso de o la confiabilidad de dicho contenido, bien o servicio disponible en o a través de sitios u otro recurso para los cuales exista una liga en la Plataforma. Los Usuarios que accedan a las ligas o recursos disponibles en la Plataforma reconocen y aceptan la responsabilidad por abandonar el sitio de GEEK asumiendo las consecuencias que de este hecho deriven.
          </p>

          <h3 class="subtitle-section">11. Derechos de propiedad intelectual</h3>
          <p>
            Con excepción de lo expresamente autorizado por GEEK o por proveedores de Contenido, los Usuarios aceptan a no reproducir, modificar, alquilar, arrendar, prestar, vender, distribuir, copiar, publicar, bajar, transmitir o crear trabajos derivados, por ningún motivo ni por cualquier medio, parte o todo el Contenido de otros Usuarios. No deberán modificar, descompilar, o hacer ingeniería en reversa de ningún software que GEEK les dé a conocer, y no deberán eliminar, ni modificar ningún aviso de derechos de autor, de la marca de GEEK, ni de ningún otro aviso de propiedad. En caso de violentar lo dispuesto en esta Clausula, serán responsables civil y penalmente.
            <br><br>
            Las “Marcas de GEEK” engloban todos los nombres, marcas, logotipos, diseños, eslóganes y otras designaciones que GEEK utiliza en conexión con sus productos y servicios. No puedes remover ni alterar ninguna de las Marcas de GEEK, o utilizar la Marca de GEEK en tus productos o material sin el consentimiento escrito por parte de GEEK. Los Usuarios Reconocen los derechos de GEEK sobre sus Marcas y aceptan que cualquier uso de estas será únicamente para el beneficio de GEEK. Aceptan que en el uso de o en conexión a productos, servicios u otras tecnologías computacionales o relacionadas con el internet, no incorporan las Marcas de GEEK a sus propias marcas, servicios, nombres de compañías, direcciones web, nombres de dominio, u otra designación similar.
            <br><br>
            A menos que se indique expresamente lo contrario, nada en estas Condiciones se interpretará como el otorgamiento de licencia de derechos de propiedad intelectual, ya sea por exclusión, implicación o de otra manera. Se otorga permiso a desplegar, copiar, distribuir y bajar Contenido propiedad de GEEK presentado en la Plataforma siempre y cuando: (a) Se añada la leyenda de Copyright y un aviso de permiso (e.g., “Usado con el permiso de”) a dicho Contenido; (b) El uso de dicho Contenido sea para uso personal y no comercial; (c) con excepción de lo autorizado expresamente mediante licencia o permisos válidos sobre dicho Contenido, se prohíbe copiar o publicar el Contenido en computadoras conectadas a una red o publicarlo en ningún otro medio de comunicación; y (d) no se modifique nada de dicho Contenido. Este permiso se cancela de manera automática y sin previo aviso  si rompes o violas cualquiera de los Términos y Condiciones presentados en este documento. Tras la cancelación / terminación del permiso, deberás destruir inmediatamente cualquier Contenido descargado y / o impreso.
          </p>

          <h3 class="subtitle-section">12. Terminación y suspensión</h3>
          <p>
            GEEK, a su propia discreción,  se reserva el derecho a suspender y/o terminar la suscripción de cualquier Usuario con o sin ningún previo aviso, por cualquier o sin motivo alguno. Los Usuarios reconocen y aceptan que, si son suspendidos y/o GEEK termina su suscripción, no harán uso de la Plataforma durante la suspensión o después de la terminación.
          </p>

          <h3 class="subtitle-section">13. Exención de responsabilidades</h3>
          <p>
            A menos que se indique lo contrario de forma explícita, el uso de esta Plataforma se hace bajo propio riesgo. La Plataforma, incluyendo los servicios, información y el Contenido, se proporciona en la manera y bajo la disponibilidad en que se encuentre, y con todos los defectos que pudiere tener de manera “tal cual”, “bajo disponibilidad”, y “y todos los defectos”. GEEK renuncia a todas las condiciones expresas o implícitas, declaraciones y garantías de cualquier tipo, incluyendo cualquier garantía implícita o condición de comerciabilidad, calidad de satisfacción o idoneidad para algún propósito particular. GEEK no hace declaraciones, garantías o condiciones sobre la utilidad, calidad, idoneidad, veracidad, exactitud, o exhaustividad de la Plataforma.
            <br><br>
            GEEK no garantiza ni declara que: (a) la Plataforma será ininterrumpida, puntual, segura, o libre de errores; (b) los resultados que pueden obtenerse del uso de la Plataforma serán preciosos y confiables; (c) la calidad de cualquier producto, servicio, Contenido, información o cualquier otro material adquirido u obtenido de los Profesores cumpla con tus expectativas o requisitos; o (d) cualquier error en la Plataforma será corregido.
            <br><br>
            Los Usuarios asumen todo el riesgo sobre cualquier daño al  sistema informático o pérdida de datos que resulte de la obtención de cualquier Contenido de la Plataforma, incluyendo cualquier daño resultante de los virus informáticos, dejando en paz y a salvo de toda reclamación a GEEK.

          </p>

          <h3 class="subtitle-section">14. Limitaciones de responsabilidad</h3>
          <p>
            La Plataforma es una plataforma digital para que aquellas personas que estén buscando servicios de clases particulares puedan encontrar y conectarse con aquellas personas que ofrecen ese servicio. Los Usuarios reconocen y aceptan que GEEK no tiene control alguno sobre los actos u omisiones de cualquiera de los Usuarios y que GEEK no hace ningún tipo de declaración o garantías sobre la calidad de los servicios ofrecidos por cualquier usuario. Reconocen y aceptan, que GEEK no se hace responsable  por el desempeño o comportamiento (en línea o en persona) de ninguno de los Usuarios. Como tal, GEEK renuncia expresamente, y cada Usuario libera expresamente a GEEK, de cualquier y toda responsabilidad por las controversias, reclamaciones, demandas, lesiones y/o daños derivados de y/o relacionados de cualquier manera con la Plataforma, incluyendo sin limitación cualquier acto y/u omisión de los usuarios dentro o fuera del sitio
            <br><br>
            Los Usuarios de la Plataforma realizan transacciones entre ellos. GEEK no se involucra en la interacción entre los Usuarios. GEEK no se hace responsable por disputas, reclamaciones, demandas, pérdidas, lesiones o daños de cualquier tipo que puedan resultar durante o después de la interacción entre usuarios.
            <br><br>
            En lo permitido por derecho, GEEK no se hace responsable de ningún daño o perjuicio directo o indirecto(incluyendo sin limitación la pérdida de negocio, ingresos, ganancias, clientela, uso, datos, órdenes transmitidas electrónicamente , u otra ventaja económica) que surja de o en conexión con la Plataforma, incluso si GEEK es previamente advertido, o pueda prever de manera razonable, la posibilidad de tales daños, cual sea su causa, ya sea en el incumplimiento del contrato o por agravio (incluida la negligencia), incluyendo sin limitación daños debidos a: (a) el uso o la imposibilidad de uso del Sitio; (b) el costo de adquisición de bienes o servicios sustitutos resultantes de cualquier bien, dato, información o servicio adquirido u obtenido, o cualquier mensaje recibido o transacción realizada a través o desde la Plataforma; (c) declaraciones o conductas de terceros en la Plataforma, incluyendo, sin limitaciones, el acceso no autorizado o alteración de la transmisión de datos, conductas maliciosas o delictivas o transacciones falsas o fraudulentas; o (d) contenido o información que los usuarios pueden bajar, usar, modificar o distribuir.
          </p>

          <h3 class="subtitle-section">15. Admisión del riesgo</h3>
          <p>
            Los Usuarios reconocen y aceptan asumir todos los riesgos al usar la Plataforma, incluyendo pero no limitado a cualesquier y todos los riesgos asociados con la interacción en línea, remota o física con otros usuarios. Aceptan que tomarán todas las precauciones necesarias, incluyendo pero no limitado a seguir los consejos de seguridad presentados a continuación:
          </p>
          <h4>Para estudiantes y Profesores:</h4>
          <ul>
            <li>Revisa los antecedentes de las personas con las que vayas a tener contacto</li>
            <li>Revisa las reseñas y calificaciones que otros estudiantes han subido. A demás, puedes solicitar referencias externas a cada Profesor.</li>
            <li>Si decides tener una sesión presencial, escoge un lugar público como una cafetería o una biblioteca. Antes de asistir a la clase, dile a algún familiar o amigo a dónde vas a ir y por cuanto tiempo. Cuenta siempre con tu propio medio de transporte hacia y desde la ubicación de las clases.</li>
            <li>Se requiere la presencia de un adulto responsable y de confianza si eres menor de edad.</li>
            <li>Mantén toda tu información personal en un lugar seguro y privado. Nunca incluyas tu apellido, nombre, correo electrónico, lugar de trabajo, dirección, teléfono, o cualquier información sensible en mensajes iniciales de comunicación. Deja de comunicarte con cualquier persona que te presione a compartir información personal o financiera o que intente engañarte para conseguir dicha información. No intercambies información personal con nadie a menos que estés completamente seguro y  de acuerdo en hacerlo y hasta que GEEK tenga tu información de pago. </li>
          </ul>

          <h3 class="subtitle-section">16. Indemnización</h3>
          <p>
            Los Usuarios acuerdan liberar, sacar en paz y a salvo, indemnizar, defender y eximir de responsabilidad a GEEK y sus accionistas, afiliados, funcionarios, directores, subsidiarias, agentes, licenciatarios, proveedores, otros socios, empleados, y representantes de y en contra de cualquier y todo reclamo, demanda, causa de acción, pérdidas, gastos, daños y perjuicios, incluyendo los honorarios razonables de abogados y costos judiciales incurridos por GEEK de cualquier manera relacionada con (a) sus actos y/u omisiones en y fuera de la Plataforma; (b) la violación de los derechos de otros; (c) el incumplimiento de estos Términos y Condiciones; (d) disputas con o entre otros usuarios; (e) uso y/o uso indebido de esta Plataforma, incluyendo sin limitación, cualquier información, contenidos y/o materiales de la misma;(f) la violación de cualquier ley o regulación aplicable; (g) la información de usuario incorrecta, inoportuna, incompleta o engañosa, incluyendo sin limitación con respecto a la inscripción, el perfil o la elegibilidad; (h) errores y/o tergiversaciones en el Contenido que hayas subido a la Plataforma; (i) el uso de enlaces a sitios web de terceros, incluyendo, sin limitación de la disponibilidad de dichos sitios, términos de uso, Política de privacidad, información, contenido, materiales, publicidad, productos y / o servicios; (j) la información del usuario y de cualquier acto u omisión con respecto a dicha información; (k) el uso de cualquier información contenida en los informes de terceros; (l) el uso de los servicios de procesamiento de pagos de terceros; (m) el uso de los servicios de asistencia telefónica; y/o (n) el uso de los servicios, productos, contratos o acuerdos realizados o previstos con base en la información, contenidos y/o materiales obtenidos en o a través la Plataforma. Asimismo, aceptan y acuerdan cooperar con cualquier solicitud por parte de GEEK para defenderse de dichos reclamos.
            <br><br>
            GEEK se reserva el derecho, de asumir por propia cuenta y costo la defensa exclusiva, así como representación común del litisconsorcio, en cualquier asunto relacionado con la indemnización por parte de los usuarios en los que esté involucrado GEEK, y los Usuarios no deberán, en ningún caso realizar transacción alguna respecto de cualquier litigio o asunto a nombre de GEEK, sin el consentimiento expreso y por escrito de GEEK.
          </p>

          <h3 class="subtitle-section">17. Medidas Cautelares</h3>
          <p>
            Los Usuarios aceptan que cualquier incumplimiento de los Términos resultará en un daño irreparable a GEEK, para el cual el pago de daños y perjuicios sería un remedio inadecuado, y por lo tanto, adicionalmente a las acciones y medios de resolución de controversias jurídicas disponibles de conformidad con la legislación aplicable, GEEK tendrá derecho a una reparación justa, que puede incluir medidas cautelares preliminares y permanentes. Adicionalmente, forma los Usuarios renuncian a cualquier derecho a requerir que GEEK tenga que otorgar garantía, fianza o cualquier otro tipo caución o garantía en caso que solicite estas medidas cautelares.
          </p>

          <h3 class="subtitle-section">18. Notificaciones; modificaciones y terminación de servicios; enmiendas a los Términos</h3>
          <p>
            GEEK puede dar aviso a los usuarios a través de correo electrónico, correo ordinario, avisos publicados o enlaces a avisos en el la Plataforma. GEEK se reserva el derecho, en cualquier momento, de modificar, suspender o cancelar los servicios (o cualquier parte del mismo), y/o el uso de o el acceso a ellos, con o sin previo aviso. GEEK también puede eliminar, o impedir el acceso o el uso de toda la información y archivos relacionados. GEEK no será responsable ante los usuarios o cualquier tercero por cualquier modificación, suspensión o terminación del servicio, o la pérdida de información relacionada. GEEK podrá modificar estos Términos en cualquier momento mediante la publicación de los términos modificados en este sitio.
          </p>

          <h3 class="subtitle-section">19. Legislación aplicable y Jurisdicción</h3>
          <p>
            Para cualquier controversia o interpretación que se suscite con motivo de la aplicación de estos Términos y Condiciones los Usuarios se someten expresamente a la jurisdicción y competencia de las Leyes y tribunales Civiles y/o Mercantiles de la Ciudad de México, Distrito Federal, renunciando a cualquier fuero que por cualquier otro domicilio u otra circunstancia pudiera corresponder en el futuro.
            <br><br>
            La renuncia por GEEK de cualquiera de los términos y condiciones del presente no se considerará renuncia de dichos términos y condiciones para el futuro, o de cualquier incumplimiento subsecuente del mismo. De igual forma, ningún tipo de renuncia dejará libre al Usuario del cumplimiento estricto de las obligaciones contraídas en los términos y condiciones presentes.  Si cualquiera de las secciones del presente es declarada inválida o no ejecutable, el resto no se verá afectado, y cada término y condición restante será válida y ejecutable a su máxima extensión permitida por la ley.
          </p>

          <p>
            FIN DE LOS TERMINOS Y CONDICIONES
          </p>
        </div>
      </div>
    </div>
  </div>
</div>