<div ng-controller="PaymentController">
  <h2 class="section-title">{{ 'PAYMENT_TITLE' | translate}}</h2>
  <ng-alert id="tutor-request-form" alert-params="tutorRequestAlertParams"></ng-alert>
  <div class="tutor-profile-container form">
    <form name="tutorPaymentOptionsForm" id="tutor_payment_options_form" class="dashboard-form validation-form">

      <!-- Sección de listado de calificaciones vacío -->
      <div class="unavailable-message" ng-hide="paymentMethodsList.length">
        <div class="unavailable-message-content">
          <h3 translate="UNAVAILABLE_MESSAGE_CARDS"></h3>
          <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.CARD_METHOD.code)"><span class="icon-credit-card"></span> {{ 'PAYMENT_ADD_A_CARD' | translate }}</a>
          <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.BANK_ACCOUNT_METHOD.code)"><span class="icon-pig"></span> {{ 'PAYMENT_ADD_AN_BANK_ACCOUNT' | translate }}</a>
        </div>
      </div>

      <!-- Listado de métodos de pago actuales -->
      <div ng-show="paymentMethodsList.length">
        <div class="payment-methods-list">
          <div class="payment-method-headers">
            <div class="type"></div>
            <div class="number">{{ 'PAYMENT_LABEL_CARD_BANK_ACCOUNT' | translate }}</div>
            <div class="main">{{ 'PAYMENT_LABEL_MAIN_ACCOUNT' | translate }}</div>
            <div class="control"></div>
          </div>
          <div ng-repeat="paymentMethod in paymentMethodsList" class="payment-method-item">
            <div class="payment-method-resume">
              <div class="type"><span class="{{ PAYMENT_METHODS[paymentMethod.type].icon }}"></span></div>
              <div class="number">{{ paymentMethod.number }}</div>
              <div class="main"><span class="icon-accept" ng-if="paymentMethod.is_main_account"></span></div>
              <span ng-click="togglePaymentMethodInfo(paymentMethod)"><span class="control-arrow" ng-class="{ true:'control-down-arrow', false:'control-right-arrow'}[paymentMethod.showInfo]"></span></span>
            </div>
            <div class="payment-method-info" ng-show="paymentMethod.showInfo">
              <div>
                <table>
                  <thead>
                  <tr>
                    <th class="brand"></th>
                    <th class="holder-name">Name of Account</th>
                    <th class="more-info">Address</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="brand"><span ng-class="paymentMethod.brandClass"></span></td>
                    <td class="holder-name">{{ paymentMethod.method_info.holder_name }}</td>
                    <td class="more-info">{{ paymentMethod.method_info.bank_name }}<br>{{ paymentMethod.method_info.expiration_month }}/{{ paymentMethod.method_info.expiration_year }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="appointment-button">
                <a ng-repeat="button in PAYMENT_METHODS_BUTTONS" ng-if="showActionButtons(paymentMethod.is_main_account, button.action)"  ng-class="[button.class, button.icon]" title=" {{ button.title }}" ng-click="callButtonAction($event, button.action, appointment)"> {{ button.text | translate }}</a>
              </div>

            </div>
          </div>
        </div>

        <div class="payment-buttons-container">
          <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.CARD_METHOD.code)"><span class="icon-credit-card"></span> {{ 'PAYMENT_ADD_A_CARD' | translate }}</a>
          <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.BANK_ACCOUNT_METHOD.code)"><span class="icon-pig"></span> {{ 'PAYMENT_ADD_AN_BANK_ACCOUNT' | translate }}</a>
        </div>

      </div>


    </form>
  </div>
</div>