<div class="balance">
  <h2 class="section-title">{{ 'BALANCE_TITLE' | translate}}</h2>
  <ng-alert id="tutor-request-form" alert-params="tutorBalanceAlertParams"></ng-alert>

    <table>

    </table>

</div>