<header class="container">
  <div class="row navbar">
    <h1 class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
      <a href="#" title="Geek">
        <img src="/assets/site/geek-logo.png" class="hidden-xs">
        <span class="hidden-lg hidden-md hidden-sm">geek</span>
      </a>
    </h1>
    <nav class="navigation col-lg-10 col-md-10 col-sm-9 col-xs-12" role="navigation" ng-controller="NavigationController as navigationCtrl">
      <ul>
        <li ng-show="tutor.request.approved">
          <span class="messages-alert" ng-show="newConversationMessages">{{ newConversationMessages }}</span>
          <a ui-sref=".messages" title="Mensajes" class="text-color-dark-blue" translate="{{ 'MESSAGES' }}"></a>
        </li>
        <li class="dropdown"><a title="Perfil" class="dropdown-toggle" data-toggle="dropdown" type="button"><span ng-bind="userName"></span> <span class="caret"></span>
        </a>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" ui-sref=".profile"><a role="menuitem"><span class="icon-user"></span> {{'PROFILE' | translate}}</a></li>
            <li role="presentation" ui-sref=".payment-options"><a role="menuitem" translate="PAYMENT_OPTIONS"></a></li>
            <li><a title="{{ 'CHOOSE_LANGUAGE' | translate }}" ng-click="toggleLanguage()" translate="CHOOSE_LANGUAGE"></a></li>
            <li role="presentation"><a role="menuitem" href="/logout" translate="SIGN_OUT"></a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container" ng-show="tutor.request.approved">
  <div class="row">
    <ul class="menu-tabs col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <li><a ui-sref=".resume" title="{{ 'DASHBOARD_TITLE' | translate }}" translate="DASHBOARD_TITLE"></a></li>
      <li><a ui-sref=".calendar" title="{{ 'MY_CALENDAR' | translate }}" translate="MY_CALENDAR"></a></li>
      <li><a ui-sref=".history" title="{{ 'MY_HISTORY' | translate }}" translate="MY_HISTORY"></a></li>
      <li><a ui-sref=".reviews" title="{{ 'MY_REVIEWS' | translate }}" translate="MY_REVIEWS"></a></li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
      <div ui-view></div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm language">
        <a href="#" title="¿Quieres dar clases en geek?" class="text-color-light-blue">English/Español</a>
      </div>
      <div class="col-lg-6 col-md-3 social-icons columns uppercase">
        <p translate="FOOTER_SOCIAL"></p>
        <ul>
          <li><a href="" title="Twitter"><span class="icon-twitter text-color-light-blue"></span></a></li>
          <li><a href="" title="Facebook"><span class="icon-facebook3 text-color-light-green"></span></a></li>
          <li><a href="" title="LinkedIn"><span class="icon-linkedin text-color-light-orange"></span></a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-3 columns links">
        <div class="col-lg-6 col-md-6 columns uppercase">
          <ul>
            <li translate="FOOTER_WE"></li>
            <li translate="FOOTER_CONTACT"></li>
            <li translate="FOOTER_HELP"></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 columns right uppercase">
          <ul>
            <li translate="FOOTER_FAQ"></li>
            <li translate="FOOTER_BLOG"></li>
            <li translate="FOOTER_TERMS_AND_CONDITIONS"></li>
            <li translate="FOOTER_PRIVACY"></li>
          </ul>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</footer>

<div ng-modal-detail></div>
<div ng-modal-anomaly></div>
<div ng-modal-message></div>