<div class="messages" ng-controller="CommonController">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
        <div class="terms_conditions">
          <h2 class="section-title ng-scope">AVISO DE PRIVACIDAD PARA PROVEEDORES, PERSONAS FÍSICAS.</h2>
          <p>
            GEEK EDUCATION S.C. (“GEEK”) con domicilio en calle Presa la Angostura 167, Colonia Irrigación, Ciudad de México, Delegación Miguel Hidalgo, C.P. 11500, en la entidad de Distrito Federal, México, es responsable de recabar sus datos personales, del uso que se les dé a los mismos y de su protección.
          </p>

          <p>
            La información personal será utilizada con el único objetivo de identificar a los proveedores y los servicios que ofrecen a GEEK, así como la realización de diversos trámites administrativos, contables y/o financieros. Para las finalidades antes mencionadas requerimos ciertos datos personales [tales como: nombre, dirección, teléfonos, información académica y extra académica, actividad laboral, entre otros.].
          </p>

          <p>
            De acuerdo con la Ley Federal de Protección de Datos Personales en Posesión de Particulares (LFPDPPP) y su Reglamento el titular tiene el derecho de acceder a sus datos personales y a los detalles del tratamiento de los mismos, así como a rectificarlos, cancelarlos u oponerse al tratamiento de ellos. Para que pueda ejercer cualquiera de estos derechos, así como para revocar su consentimiento, le solicitamos enviar su petición conforme a lo señalado en la propia Ley a la siguiente dirección de correo electrónico:
          </p>

          <p>
            Hacemos de su conocimiento que sus datos personales serán resguardados por GEEK bajo medidas de seguridad que han sido implementadas con el objeto de proteger sus datos personales contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizados.
          </p>

          <p>
            Así mismo, le informamos que sus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a esta empresa. En ese sentido, su información puede ser compartida con empresas filiales, subsidiarias y/o relacionadas a GEEK. Por lo que solicitamos su consentimiento para ello: info@geek.education
          </p>

        </div>
      </div>
    </div>
  </div>
</div>