<header class="container">
  <div class="row navbar">
    <h1 class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <a ui-sref="tutor.landing" title="Geek">
        <img src="/assets/site/geek-logo.png" class="hidden-xs">
        <span class="hidden-lg hidden-md hidden-sm">geek</span>
      </a>
    </h1>
    <nav class="navigation col-lg-10 col-md-10 col-sm-12 col-xs-12" role="navigation" ng-controller="NavigationController as navigationCtrl">
      <ul class="hidden-xs">
        <li>
          <a href="/" title="{{ 'WANT_TO_LEARN' | translate }}" translate="WANT_TO_LEARN"></a>
        </li>
        <li><a title="{{ 'SIGN_IN' | translate }}" class="signin" ng-click="showSignInModal('signIn')" translate="SIGN_IN"></a></li>
        <li><a title="{{ 'SIGN_UP' | translate }}" class="signup" ng-click="showSignInModal('signUp')" translate="SIGN_UP"></a></li>
        <li><a title="{{ 'CHOOSE_LANGUAGE' | translate }}" ng-click="toggleLanguage()" translate="ENGLISH_SPANISH"></a></li>
      </ul>
      <ul class="visible-xs">
        <li>
          <a href="/" title="{{ 'WANT_TO_LEARN' | translate }}" translate="STUDENT"></a>
        </li>
        <li><a title="{{ 'SIGN_IN' | translate }}" class="signin" ng-click="showSignInModal('signIn')" translate="SIGN_IN"></a></li>
        <li><a title="{{ 'SIGN_UP' | translate }}" class="signup" ng-click="showSignInModal('signUp')" translate="SIGN_UP"></a></li>
      </ul>

      <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-head">
              <div class="owl">
                <img src="/assets/site/signup-owl.png" alt="Geek owl" class="">
              </div>
              <div class="tabs">
                <div class="tab left-tab" ng-class="{active: selectedTab == 'signIn'}" ng-click="selectTab('signIn')">
                  <span translate="MODAL_SIGN_IN"></span>
                </div>
                <div class="tab right-tab" ng-class="{active: selectedTab == 'signUp'}" ng-click="selectTab('signUp')">
                  <span translate="MODAL_SIGN_UP"></span>
                </div>
              </div>
              <div class="owl-hands">
                <img src="/assets/site/signup-owl-hands.png" alt="Geek owl" class="">
              </div>
            </div>
            <div class="modal-body">
              <div class="sign-up-container noselect" ng-show="selectedTab == 'signUp'">
                <div class="form-button-gp" ng-hide="userData">
                  <div ng-click="registerGooglePlus()">{{ 'MODAL_SIGN_UP_GOOGLE' | translate }}<span class="icon-google"></span></div>
                </div>
                <form name="signUpForm" id="tutor-form" class="validation-form" ng-show="userData" accept-charset="UTF-8" action="/users" method="post">
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-name" name="user[first_name]" ng-model="signUpName" class="form-input form-control" placeholder="{{ 'SIGN_UP_NAME' | translate }}" popover-input-name="{{ 'SIGN_UP_NAME' | translate }}" required/>
                    <span class="popup-trigger" popover="{{signUpForm['user[first_name]'].popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-mail" name="user[email]" ng-model="signUpMail" class="form-input form-control" placeholder="{{ 'SIGN_UP_MAIL' | translate }}" popover-input-name="{{ 'SIGN_UP_MAIL' | translate }}" ng-pattern="/^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,4}$/" required/>
                    <span class="popup-trigger" popover="{{signUpForm['user[email]'].popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-password" name="user[password]" ng-model="signUpPassword" class="form-input form-control" placeholder="{{ 'SIGN_UP_PASSWORD' | translate }}" popover-input-name="{{ 'SIGN_UP_PASSWORD' | translate }}" required/>
                    <span class="popup-trigger" popover="{{signUpForm['user[password]'].popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-confirmation" name="user[password_confirmation]" ng-model="signUpConfirmation" class="form-input form-control" placeholder="{{ 'SIGN_UP_CONFIRMATION' | translate }}" popover-input-name="{{ 'SIGN_UP_CONFIRMATION' | translate }}" pw-check="sign-up-password" required/>
                    <span class="popup-trigger" popover="{{signUpForm['user[password_confirmation]'].popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
                  </div>
                  <div class="form-group form-checkbox custom-checkbox" show-errors>
                    <input type="checkbox" id="sign-up-terms" name="sign-up-terms" ng-model="signUpTerms" class="form-control" required>
                    <label for="sign-up-terms" class="sign-up-terms-accept">{{ 'TERMS_AND_CONDITIONS_ACCEPT' | translate}} <a class="sign-up-terms-link" ng-click="redirectToURL('tutor.terms')" translate="TERMS_AND_CONDITIONS_TERMS_LINK"></a> {{ 'TERMS_AND_CONDITIONS_AND' | translate}} <a class="sign-up-terms-link" ng-click="redirectToURL('tutor.privacy')" translate="TERMS_AND_CONDITIONS_PRIVACY_LINK"></a></label>
                  </div>
                  <div>
                    <input id="user_uid" name="user[uid]" type="hidden" value="{{signUpUID}}" />
                    <input id="user_last_name" name="user[last_name]" type="hidden" value="{{signUpLastName}}" />
                    <input id="user_token" name="user[token]" type="hidden" value="{{signUpToken}}" />
                    <input id="user_refresh_token" name="user[refresh_token]" type="hidden" value="{{signUpRefreshToken}}" />
                    <input id="user_role_ids" multiple="multiple" name="user[role_ids][]" type="hidden" value="{{roleIds}}" />
                  </div>
                  <div class="form-submit" ng-click="submitTutorForm()">
                    <div translate="SIGN_UP"></div>
                  </div>
                </form>

              </div>
              <div class="sign-in-container" ng-show="selectedTab == 'signIn'">
                <label ng-show='loginError' ng-bind='loginError'></label>
                <div ng-hide="userData">
                  <div class="form-button-gp">
                    <div ng-click="registerGooglePlus()">{{ 'MODAL_SIGN_IN_GOOGLE' | translate }}<span class="icon-google"></span></div>
                  </div>
                  <div class="form-text" translate="OR"></div>
                </div>
                <form name="tutorLoginForm" id="tutor-login-form" accept-charset="UTF-8" action="/users/sign_in" id="login-form" method="post">
                  <div class="form-group">
                    <input type="text" name="tutor[email]" ng-model="signInMail" class="form-input form-control" placeholder="{{ 'SIGN_UP_MAIL' | translate }}"/>
                  </div>
                  <div class="form-group">
                    <input type="password" name="tutor[password]" ng-model="signInPassword" class="form-input form-control" placeholder="{{ 'SIGN_UP_PASSWORD' | translate }}"/>
                  </div>
                  <input id="tutor_role_ids" multiple="multiple" name="tutor[role_ids][]" type="hidden" value="2" >
                  <div class="form-submit" ng-click="loginTutor()">
                    <div translate="SIGN_IN"></div>
                  </div>
                </form>
                <a class="forgot-password-link" ng-click="showForgotPassword()" translate="FORGOT_PASSWORD"></a>
              </div>
              <div class="forgot-password-container" ng-show="selectedTab == 'forgotPassword'">
                <span us-spinner spinner-key="forgot-password-spinner"></span>
                <label ng-show='forgotPasswordMessage' ng-bind='forgotPasswordMessage'></label>
                <label ng-show='forgotPasswordError' ng-bind='forgotPasswordError'></label>
                <form name="forgotPasswordForm" id="forgot-password-form" accept-charset="UTF-8" action="/users/sign_in" method="post" ng-hide='forgotPasswordMessage'>
                  <div class="form-text" translate="FORGOT_PASSWORD_INSTRUCTIONS"></div>
                  <div class="form-group">
                    <input type="text" name="forgotPasswordMail" ng-model="forgotPasswordEmail" class="form-input form-control" placeholder="{{ 'FORGOT_PASSWORD_EMAIL' | translate }}" required/>
                  </div>
                  <div class="form-submit" ng-click="sendForgotPasswordEmail()">
                    <div translate="FORGOT_PASSWORD_SEND"></div>
                  </div>
                </form>
              </div>
              <div class="reset-password-container" ng-show="selectedTab == 'resetPassword'">
                <span us-spinner spinner-key="reset-password-spinner"></span>
                <label ng-show='resetPasswordMessage' ng-bind='resetPasswordMessage'></label>
                <label ng-show='resetPasswordError' ng-bind='resetPasswordError'></label>
                <form name="resetPasswordForm" id="reset-password-form" class="validation-form" accept-charset="UTF-8" action="/users/sign_in" method="post" ng-hide='resetPasswordMessage'>
                  <div class="form-text" translate="RESET_PASSWORD_INSTRUCTIONS"></div>
                  <div class="form-group" show-errors>
                    <input type="password" id="reset-password-password" name="resetPasswordPassword" ng-model="resetPasswordPassword" class="form-input form-control" placeholder="{{ 'RESET_PASSWORD_PASSWORD' | translate }}" popover-input-name="{{ 'RESET_PASSWORD_PASSWORD' | translate }}" required/>
                    <span class="popup-trigger" popover="{{resetPasswordForm.resetPasswordPassword.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="reset-password-confirmation" name="resetPasswordConfirmation" ng-model="resetPasswordConfirmation" class="form-input form-control" placeholder="{{ 'RESET_PASSWORD_CONFIRMATION' | translate }}" popover-input-name="{{ 'RESET_PASSWORD_CONFIRMATION' | translate }}" pw-check="reset-password-password" required/>
                    <span class="popup-trigger" popover="{{resetPasswordForm.resetPasswordConfirmation.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
                  </div>
                  <div class="form-submit" ng-click="sendResetPassword()">
                    <div translate="RESET_PASSWORD_SEND"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<section ui-view></section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 visible-xs language">
        <ul>
          <li><a title="{{ 'CHOOSE_LANGUAGE' | translate }}" ng-click="toggleLanguage()" translate="ENGLISH_SPANISH"></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-4 social-icons columns uppercase">
        <p><span translate="FOOTER_CALL_US"></span> 01-800-718-5334</p>
        <p translate="FOOTER_SOCIAL"></p>
        <ul>
          <li><a href="https://twitter.com/GeekEduMx" target="_blank" title="Twitter"><span class="icon-twitter text-color-light-blue"></span></a></li>
          <li><a href="https://www.facebook.com/geekeducate" target="_blank" title="Facebook"><span class="icon-facebook1 text-color-light-green"></span></a></li>
          <li><a href="https://www.linkedin.com/company/geek-education-sc" target="_blank" title="LinkedIn"><span class="icon-linkedin text-color-light-orange"></span></a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-8 hidden-xs columns links">
        <div class="col-lg-6 col-md-6 col-sm-6 columns uppercase">
          <ul>
            <li><a title="{{ 'FOOTER_WE' | translate}}" ui-sref=".about-us">{{ 'FOOTER_WE' | translate}}</a></li>
            <!--li><a title="{{ 'FOOTER_CONTACT' | translate}}">{{ 'FOOTER_CONTACT' | translate}}</a></li-->
            <!--li><a title="{{ 'FOOTER_HELP' | translate}}" ui-sref=".help">{{ 'FOOTER_HELP' | translate}}</a></li-->
            <li><a title="{{ 'FOOTER_FAQ' | translate}}" ui-sref=".faq">{{ 'FOOTER_FAQ' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 columns right uppercase">
          <ul>
            <li><a href="http://geekseekblog.wordpress.com/" target="_blank">{{ 'FOOTER_BLOG' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_TERMS_AND_CONDITIONS' | translate}}" ui-sref=".terms">{{ 'FOOTER_TERMS_AND_CONDITIONS' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_PRIVACY' | translate}}" ui-sref=".privacy">{{ 'FOOTER_PRIVACY' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_CANCELLATION' | translate}}" ui-sref=".cancellation-policy">{{ 'FOOTER_CANCELLATION' | translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="visible-xs links">
        <div class="uppercase">
          <ul>
            <li><a title="{{ 'FOOTER_WE' | translate}}" ui-sref=".about-us">{{ 'FOOTER_WE' | translate}}</a></li>
            <!--li><a title="{{ 'FOOTER_CONTACT' | translate}}">{{ 'FOOTER_CONTACT' | translate}}</a></li-->
            <!--li><a title="{{ 'FOOTER_HELP' | translate}}" ui-sref=".help">{{ 'FOOTER_HELP' | translate}}</a></li-->
            <li><a title="{{ 'FOOTER_FAQ' | translate}}" ui-sref=".faq">{{ 'FOOTER_FAQ' | translate}}</a></li>
            <li><a href="http://geekseekblog.wordpress.com/" target="_blank">{{ 'FOOTER_BLOG' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_TERMS_AND_CONDITIONS' | translate}}" ui-sref=".terms">{{ 'FOOTER_TERMS_AND_CONDITIONS' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_PRIVACY' | translate}}" ui-sref=".privacy">{{ 'FOOTER_PRIVACY' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_CANCELLATION' | translate}}" ui-sref=".cancellation-policy">{{ 'FOOTER_CANCELLATION' | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
