<div class="tutor-calendar-container">
  <span us-spinner spinner-key="history-spinner"></span>

  <h2 class="section-title" translate="MY_HISTORY"></h2>
  <div class="appointment-history" ng-controller="AppointmentHistoryController as AppointmentHistoryCtrl">
    <div class="history-list-view-unavailable" ng-show="appointmentsGroups && appointmentsGroups.length == 0">
      <div class="history-list-view-unavailable-content">
        <h3 translate="UNAVAILABLE_MESSAGE_APPOINTMENTS"></h3>
      </div>
    </div>
    <div class="history-list-view-row" ng-show="appointmentsGroups && appointmentsGroups.length">
      <span us-spinner spinner-key="appointment-action-spinner"></span>
      <table>
        <thead>
            <tr class="history-list-title-row">
              <th class="info-title" translate="TABLE_TITLE_TIME"></th>
              <th class="info-title" translate="TABLE_TITLE_STUDENT"></th>
              <th class="info-title" translate="TABLE_TITLE_SUBJECT"></th>
              <th class="info-title" translate="TABLE_TITLE_STATUS"></th>
              <th class="info-title" translate="TABLE_TITLE_ACTIONS"></th>
            </tr>
        </thead>
      </table>
      <table ng-repeat="appointmentGroup in appointmentsGroups" class="week-list-day-row" ng-show="appointmentGroup.appointments.length">
        <thead>
            <tr class="history-list-day-title-row">
              <td class="hidden-sm hidden-xs day-title" colspan="6">{{appointmentGroup.date | dateTranslateFilter:this}}</td>
              <td class="hidden-md hidden-lg day-title" colspan="6">{{appointmentGroup.date | dateTranslateFilter:this}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="appointment in appointmentGroup.appointments" class="history-list-day-info-row" ng-click="showAppointmentDetail($event,appointment)">
              <td class="day-info">{{ 'FROM' | translate }} {{ appointment.startHour }} {{ 'TO' | translate }} {{ appointment.endHour }}</td>
              <td class="day-info">{{ appointment.student.first_name }} {{ appointment.student.last_name }}</td>
              <td class="day-info">{{ appointment.subject }}</td>
              <td class="day-info day-status"><span class="payment-icon" title="{{ 'PAYMENT_LABEL_PAYMENT_RECEIVED' | translate }}"><span ng-if="appointment.paid" class="icon-coin-dollar"></span></span>  <span class="anomaly-reported" title="{{ 'ANOMALY_REPORTED' | translate}}"><span ng-if="appointment.anomaly" class="icon-alert"></span></span> <span ng-class="[appointment.status.class]"><span ng-class="[appointment.status.icon_class]"></span> {{ appointment.status.name | translate }}</span></td>
              <td class="day-info buttons">
              <span class="appointment-button">
                <a ng-if="showActionButtons(appointment, appointmentButtons['MESSAGE_BUTTON'].action)" ng-class="[appointmentButtons['MESSAGE_BUTTON'].class]" title=" {{ appointmentButtons['MESSAGE_BUTTON'].title }}" ng-click="callButtonAction($event, appointmentButtons['MESSAGE_BUTTON'].action, appointment)"><span ng-class="[appointmentButtons['MESSAGE_BUTTON'].icon]"></span> {{ appointmentButtons['MESSAGE_BUTTON'].text | translate }}</a>
              </span>
                <div class="dropdown" ng-dropdown-actions>
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    &#8226;&#8226;&#8226;
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation" ng-repeat="button in appointmentButtons" ng-if="showActionButtons(appointment, button.action) && button.action != 'send-message'"><a ng-class="[button.class]" title=" {{ button.title }}" ng-click="callButtonAction($event, button.action, appointment)"><span ng-class="[button.icon]"></span> {{ button.text | translate }}</a></li>
                  </ul>
                </div>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
