<div class="tutor-calendar-container">
  <span us-spinner spinner-key="history-spinner"></span>

  <h2 class="section-title" translate="MY_HISTORY"></h2>
  <div class="appointment-history" ng-controller="AppointmentHistoryController as AppointmentHistoryCtrl">
    <div class="history-list-view-unavailable" ng-show="appointmentsGroups && appointmentsGroups.length == 0">
      <div class="history-list-view-unavailable-content">
        <h3 translate="UNAVAILABLE_MESSAGE_APPOINTMENTS"></h3>
      </div>
    </div>
    <div class="history-list-view-row" ng-show="appointmentsGroups && appointmentsGroups.length">
      <table>
        <thead>
            <tr class="history-list-title-row">
              <th class="info-title" translate="TABLE_TITLE_TIME"></th>
              <th class="info-title" translate="TABLE_TITLE_STUDENT"></th>
              <th class="info-title" translate="TABLE_TITLE_SUBJECT"></th>
              <th class="info-title" translate="TABLE_TITLE_STATUS"></th>
              <th class="info-title" translate="TABLE_TITLE_ACTIONS"></th>
            </tr>
        </thead>
      </table>
      <table ng-repeat="appointmentGroup in appointmentsGroups" class="week-list-day-row" ng-show="appointmentGroup.appointments.length">
        <thead>
            <tr class="history-list-day-title-row">
              <td class="hidden-sm hidden-xs day-title" colspan="6">{{appointmentGroup.date | dateTranslateFilter}}</td>
              <td class="hidden-md hidden-lg day-title" colspan="6">{{appointmentGroup.date | dateTranslateFilter}}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="appointment in appointmentGroup.appointments" class="history-list-day-info-row" ng-click="showAppointmentDetail($event,appointment)">
              <td class="day-info">{{ 'FROM' | translate }} {{ appointment.startHour }} {{ 'TO' | translate }} {{ appointment.endHour }}</td>
              <td class="day-info">{{ appointment.student.first_name }} {{ appointment.student.last_name }}</td>
              <td class="day-info">{{ appointment.subject }}</td>
              <td class="day-info day-status"><span class="payment-icon"><span ng-if="appointment.paid" class="icon-coin-dollar"></span></span>  <span class="anomaly-reported"><span ng-if="appointment.anomaly" class="icon-alert"></span></span> <span ng-class="[appointment.status.class,appointment.status.icon_class]"> {{ appointment.status.name | translate }}</span></td>
              <td class="day-info appointment-button">
                <a ng-repeat="button in appointmentButtons" ng-if="showActionButtons(appointment, button.action)" ng-class="[button.class, button.icon]" title=" {{ button.title }}" ng-click="callButtonAction($event, button.action, appointment)"> {{ button.text | translate }}</a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
