<div class="reviews" ng-controller="ReviewsController">
  <span us-spinner spinner-key="reviews-spinner"></span>

  <h2 class="section-title" translate="REVIEWS"></h2>
  <!-- Sección de listado de calificaciones vacío -->
  <div class="unavailable-message" ng-show="reviews && !reviews.grade">
    <div class="unavailable-message-content">
      <h3 translate="UNAVAILABLE_MESSAGE_REVIEWS"></h3>
    </div>
  </div>

  <!-- Sección de listado de calificaciones -->
  <div class="reviews-list" ng-show="reviews && reviews.grade">
    <div class="score-average">
      <span>{{ 'REVIEWS_MY_AVERAGE' | translate }}:</span>
      <span class="icon-star1" ng-class="reviews.grade >= 1 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade >= 2 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade >= 3 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade >= 4 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade >= 5 ? 'star-full': 'star-empty'"></span>
    </div>
    <div class="score-average-topic">
      <span>{{ 'REVIEWS_MY_AVERAGE_KNOWLEDGE' | translate }}:</span>
      <span class="icon-star1" ng-class="reviews.grade_knowledge >= 1 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_knowledge >= 2 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_knowledge >= 3 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_knowledge >= 4 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_knowledge >= 5 ? 'star-full': 'star-empty'"></span>
    </div>
    <div class="score-average-topic">
      <span>{{ 'REVIEWS_MY_AVERAGE_COMMUNICATION' | translate }}:</span>
      <span class="icon-star1" ng-class="reviews.grade_presentation >= 1 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_presentation >= 2 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_presentation >= 3 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_presentation >= 4 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_presentation >= 5 ? 'star-full': 'star-empty'"></span>
    </div>
    <div class="score-average-topic">
      <span>{{ 'REVIEWS_MY_AVERAGE_PRESENTATION' | translate }}:</span>
      <span class="icon-star1" ng-class="reviews.grade_communication >= 1 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_communication >= 2 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_communication >= 3 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_communication >= 4 ? 'star-full': 'star-empty'"></span>
      <span class="icon-star1" ng-class="reviews.grade_communication >= 5 ? 'star-full': 'star-empty'"></span>
    </div>
    <div class="review" ng-show="review.description" ng-repeat="review in reviews.reviews" ng-image-adjustment image-container="user_picture" image-src="{{ review.student.picture_url }}">
      <div class="user_picture_container">
        <div class="user_picture">
          <img/>
        </div>
      </div>
      <div class="user-personal-info">
        <div class="content">
          <h4 class="user-name">{{ review.student.first_name }} {{ review.student.last_name }}</h4>
          <div class="review-info">
            <em class="timestamp">{{ review.timestamp | timestampTranslateFilter }}</em>
          </div>
          <p class="user-last-message">{{ review.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>