<div class="tutor-calendar-container">
    <h2 class="section-title">Mi agenda</h2>
    <div class="calendar" ng-controller="CalendarController as CalendarCtrl">
        <div class="month-view">
          <ul class="events">
            <li><span class="event appointment-status-confirmed"></span> Cita confirmada</li>
            <li><span class="event appointment-status-pending"></span> Cita pendiente</li>
            <li><span class="event appointment-status-canceled"></span> Cita cancelada</li>
          </ul>
          <div class="calendar-header">
            <div class="month-title">
                <span ng-click="getPreviousMonth()" class="control"><span class="control-arrow control-left-arrow"></span></span>
                <span class="title"> {{ MONTHS[selectedMonth] }} {{ selectedYear }} </span>
                <span ng-click="getNextMonth()" class="control"><span class="control-arrow control-right-arrow"></span></span></div>
                <a class="action-button action-button-dark-green" title="Editar preferencias" ui-sref="dashboard.profile">Editar preferencias</a>
          </div>
          <div class="month-row">
            <table>
              <tbody>
              <tr>
                <td class="month-day-title" ng-repeat="day in DAYS">
                  <span class="hidden-sm hidden-xs">{{ day.title }}</span>
                  <span class="hidden-md hidden-lg">{{ day.minTitle }}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="month-row" ng-repeat="row in calendarRows">
            <table>
              <tbody>
                  <tr>
                    <td class="month-day" ng-repeat="day in row.days">
                      <a title="Día {{ day.numberDay }}" ng-class="[day.dayClass, { true:'selected-day', false:'' }[day.selected]]" ng-click="selectDate(day)">{{ day.numberDay }}
                        <div class="events"><span class="event" ng-repeat="appointment in day.appointments" ng-class="appointment.status.class"></span></div>
                      </a>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div>
          <ul class="view-selector">
            <li><a title="Lista semanal de citas" ng-click="changeView(false)" ng-class="{ true:'', false:'selected' }[weekView]"><span class="icon-list"></span></a></li>
            <li><a title="Vista semanal" ng-click="changeView(true)" ng-class="{ true:'selected', false:'' }[weekView]"><span class="icon-table"></span></a></li>
          </ul>
        </div>
        <div class="week-list-view" ng-hide="weekView">
          <div class="week-list-view-unavailable" ng-hide="existstWeekAppoinments">
            <div class="week-list-view-unavailable-content">
                <h3>No tienes citas agendadas en esta semana</h3>
            </div>
          </div>
          <div class="week-list-view-row" ng-show="existstWeekAppoinments">
            <table>
                <thead>
                    <tr class="week-list-title-row">
                        <th class="info-title">Horario</th>
                        <th class="info-title">Alumno</th>
                        <th class="info-title">Materia</th>
                        <th class="info-title">Estatus</th>
                        <th class="info-title">Acciones</th>
                    </tr>
                </thead>
            </table>
            <table ng-repeat="day in selectedWeek" class="week-list-day-row" ng-show="day.appointments.length">
              <thead>
                <tr class="week-list-day-title-row">
                  <th class="hidden-sm hidden-xs day-title" colspan="6">{{ DAYS[day.day].title }}, {{ day.numberDay }} de {{ MONTHS[day.month] }}</th>
                  <th class="hidden-md hidden-lg day-title" colspan="6">{{ DAYS[day.day].minTitle }}, {{ day.numberDay }}</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="appointment in day.appointments" class="week-list-day-info-row" ng-click="showAppointmentDetail($event, appointment)">
                  <td class="day-info">De {{ appointment.startHour }} a {{ appointment.endHour }}</td>
                  <td class="day-info">{{ appointment.student.first_name }} {{ appointment.student.last_name }}</td>
                  <td class="day-info">{{ appointment.subject }}</td>
                  <td class="day-info"><span ng-class="[appointment.status.class,appointment.status.icon_class]"> {{ appointment.status.name }}</span></td>
                  <td class="day-info">
                    <div class="appointment-button">
                      <a ng-repeat="button in appointment.buttons" ng-class="button.class" title="button.title" ng-click="changeAppointmentStatus($event, button.action, appointment)">{{ button.text }}</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="week-view tutor-calendar-section" ng-show="weekView">
          <div class="week-row">
            <table>
              <tbody>
              <tr>
                <td class="week-day-title"></td>
                <td class="week-day-title" ng-repeat="day in DAYS">
                  <span class="hidden-sm hidden-xs">{{ day.title }}</span>
                  <span class="hidden-md hidden-lg">{{ day.minTitle }}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="week-row" ng-repeat="row in weekRows">
            <table>
              <tbody>
              <tr>
                <td class="week-day">{{ HOURS[$index] }}</td>
                <td class="week-day" ng-class="[halfHour.appointment.status.class, {true:'available', false: 'unavailable'}[halfHour.available], 'no-cursor']" ng-repeat="halfHour in row.halfHours" ng-click="showAppointmentDetail($event, halfHour.appointment)">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
</div>