<div class="about-us" ng-controller="CommonController">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
        <h2 class="section-title" translate="FOOTER_WE"></h2>
        <div class="content">
          <div class="description">
            <div class="two-columns">
              <div translate="ABOUT_US_INTRO_1"></div>
            </div>
            <div class="two-columns">
              <div translate="ABOUT_US_INTRO_2"></div><br/>
              <div translate="ABOUT_US_INTRO_3"></div>
            </div>
          </div>
          <div class="owl-row">
            <div class="two-columns">
            </div>
            <div class="two-columns">
              <div class="owl-container">
                <div class="owl">
                  <img src="/assets/site/signup-owl.png" alt="Geek owl" class="">
                </div>
              </div>
              <div class="owl-hands">
                <img src="/assets/site/signup-owl-hands.png" alt="Geek owl" class="">
              </div>
            </div>
          </div>
          <div class="people">
            <div class="four-columns blue-column">
              <a href="https://www.linkedin.com/pub/mateo-serrano-medina/4a/798/ba7" target="_blank"><img src="/assets/site/about-us/mateo.jpg" alt="Mateo"></a>
              <div class="name-gray"><a href="https://www.linkedin.com/pub/mateo-serrano-medina/4a/798/ba7" target="_blank">MATEO SERRANO</a></div>
              <div><a href="https://www.linkedin.com/pub/mateo-serrano-medina/4a/798/ba7" target="_blank" translate="ABOUT_US_JOB_TITLE_2"></a></div>
              <div>MATEO@GEEK.EDUCATION</div>
            </div>
            <div class="four-columns green-column">
              <a href="https://www.linkedin.com/pub/maite-diez-canedo/88/a54/1" target="_blank"><img src="/assets/site/about-us/maite.jpg" alt="Maite"></a>
              <div class="name-white"><a href="https://www.linkedin.com/pub/maite-diez-canedo/88/a54/1" target="_blank">MAITE DIEZ-CANEDO</a></div>
              <div><a href="https://www.linkedin.com/pub/maite-diez-canedo/88/a54/1" target="_blank" translate="ABOUT_US_JOB_TITLE_1"></a></div>
              <div>MAITE@GEEK.EDUCATION</div>
            </div>
            <div class="four-columns yellow-column">
              <a href="https://www.linkedin.com/pub/ricardo-capuano/76/a78/43" target="_blank"><img src="/assets/site/about-us/ricky.jpg" alt="Ricardo"></a>
              <div class="name-gray"><a href="https://www.linkedin.com/pub/ricardo-capuano/76/a78/43" target="_blank">RICARDO CAPUANO</a></div>
              <div><a href="https://www.linkedin.com/pub/ricardo-capuano/76/a78/43" target="_blank" translate="ABOUT_US_JOB_TITLE_3"></a></div>
              <div>RICARDO@GEEK.EDUCATION</div>
            </div>
            <div class="four-columns pink-column">
              <a href="https://www.linkedin.com/pub/omar-s%C3%A1nchez-castillo/b0/6b6/436" target="_blank"><img src="/assets/site/about-us/omar.jpg" alt="Omar"></a>
              <div class="name-white"><a href="https://www.linkedin.com/pub/omar-s%C3%A1nchez-castillo/b0/6b6/436" target="_blank">OMAR SÁNCHEZ</a></div>
              <div><a href="https://www.linkedin.com/pub/omar-s%C3%A1nchez-castillo/b0/6b6/436" target="_blank" translate="ABOUT_US_JOB_TITLE_4"></a></div>
              <div>OMAR@GEEK.EDUCATION</div>
            </div>
          </div>
          <div class="what-to-do">
            <span translate="ABOUT_US_FOOTER_THEN"></span>
            <span class="what-to-do-student" translate="ABOUT_US_FOOTER_LEARN"></span>
            <span class="what-to-do-tutor" translate="ABOUT_US_FOOTER_TEACH"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>