<div class="tutor-calendar-container">
  <h2 class="section-title">Mi historial</h2>
  <div class="appointment-history" ng-controller="AppointmentHistoryController as AppointmentHistoryCtrl">
    <div class="history-list-view-unavailable" ng-hide="appointmentsGroups.length">
      <div class="history-list-view-unavailable-content">
        <h3>No tienes citas anteriores</h3>
      </div>
    </div>
    <div class="history-list-view-row" ng-show="appointmentsGroups.length">
      <table>
        <thead>
            <tr class="history-list-title-row">
              <th class="info-title">Horario</th>
              <th class="info-title">Alumno</th>
              <th class="info-title">Materia</th>
              <th class="info-title">Estatus</th>
              <th class="info-title">Acciones</th>
            </tr>
        </thead>
      </table>
      <table ng-repeat="appointmentGroup in appointmentsGroups" class="week-list-day-row" ng-show="appointmentGroup.appointments.length">
        <thead>
            <tr class="history-list-day-title-row">
              <td class="hidden-sm hidden-xs day-title" colspan="6">{{ DAYS[appointmentGroup.day].title | translate }}, {{ appointmentGroup.numberDay }} de {{ MONTHS[appointmentGroup.month] | translate }}</td>
              <td class="hidden-md hidden-lg day-title" colspan="6">{{ DAYS[appointmentGroup.day].minTitle | translate}}, {{ appointmentGroup.numberDay }}</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="appointment in appointmentGroup.appointments" class="history-list-day-info-row" ng-click="showAppointmentDetail($event,appointment)">
              <td class="day-info">De {{ appointment.startHour }} a {{ appointment.endHour }}</td>
              <td class="day-info">{{ appointment.student.first_name }} {{ appointment.student.last_name }}</td>
              <td class="day-info">{{ appointment.subject }}</td>
              <td class="day-info"><span ng-class="[appointment.status.class,appointment.status.icon_class]"> {{ appointment.status.name }}</span></td>
              <td class="day-info"><a ng-click="showAnomalyDetail($event, appointment)" ng-show="!appointment.anomaly">Reportar</a>
                <span ng-show="appointment.anomaly">Reportado</span>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
