<div ng-controller="ProfileController">
<div class="tutor-profile-container" ng-show="tutor && !tutor.request.sent">
  <h2 class="section-title">Enviar solicitud</h2>
  <form name="tutorRequestForm" id="tutor_request_form" class="dashboard-form validation-form">
    <fieldset>
      <legend>Información personal</legend>
      <div class="tutor_picture">
        <div class="profile_picture_container">
          <img class="profile_picture" src="/assets/site/person.png">
          <div class="action-button-upload" ng-click="openProfilePictureSelector($event)">CAMBIAR FOTO</div>
          <input type='file' onchange="angular.element(this).scope().selectProfilePicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Nombre:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_name" ng-model="tutor.firstName" class="form-input form-control" placeholder="NOMBRE" required/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Apellido:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_last_name" ng-model="tutor.lastName" class="form-input form-control" placeholder="APELLIDO" class="form-input form-control" required/>
        </div>
      </div>

      <div class="form-group" show-errors>
        <div class="left">
          <label>Email:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_email" ng-model="tutor.email" class="form-input form-control" placeholder="EMAIL" class="form-input form-control" />
        </div>
      </div>

      <div class="form-group" show-errors>
        <div class="left">
          <label>Teléfono:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_phone" ng-model="tutor.phone_number" ng-pattern="/^[0-9]+$/" ng-minlength="8" ng-maxlength="10" maxlength="10" class="form-input form-control" placeholder="TELÉFONO" class="form-input form-control" />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Información académica</legend>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Formación y Experiencia:</label>
        </div>
        <div class="right">
          <textarea name="tutor_studies" ng-model="tutor.studies" class="form-textarea form-control" placeholder="FORMACIÓN" required></textarea>
        </div>
      </div>
      
      <div class="form-group">
        <div class="left">
          <label>Temas:</label>
        </div>
        <div class="right">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              {{selectedCategory.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="{{$index}}" ng-repeat="category in categories" ng-click="selectCategory(category)">{{ category.name }}</a></li>
            </ul>
          </div>
          <input type="text" placeholder="Tema" ng-model="selectedTopic" name="tutor_topic" class="form-input-half form-control">
          <a class="action-button action-button-medium-gray" ng-click="addTutorTopic()">Añadir</a>
          <div id="tutor_request_topics" class="items-added-group">
            <div id="tutor_request_topic_{{$index}}" ng-repeat="tutorTopic in tutor.topics" class="item-added">{{tutorTopic.name}} <span ng-click="removeTutorTopic($index)" class="icon-close close-item"></span></div>
            <div ng-hide="tutor.topics.length">Debes seleccionar al menos un tema.</div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="send-form">
      <a class="action-button action-button-light-green" ng-click="submitTutorRequest()">Enviar solicitud</a>
    </div>
  </form>
</div>
<div class="tutor-profile-container" ng-show="tutor && tutor.request.sent && !tutor.request.approved">
  <h2 class="section-title">Solicitud enviada</h2>
  <div>
    Para poder ver tu perfil tu solicitud de tutor debe ser aceptada.
  </div>
</div>
<div class="tutor-profile-container" ng-show="tutor && tutor.request.sent && tutor.request.approved">
  <h2 class="section-title">Mi perfil</h2>
  <form name="tutorProfileForm" id="tutor_profile_form" class="dashboard-form validation-form">
    <fieldset>
      <legend>Información personal</legend>
      <div class="tutor_picture">
        <div class="profile_picture_container">
          <img class="profile_picture" src="/assets/site/person.png">
          <div class="action-button-upload" ng-click="openProfilePictureSelector($event)">CAMBIAR FOTO</div>
          <input type='file' onchange="angular.element(this).scope().selectProfilePicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Nombre:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_name" ng-model="tutor.firstName" class="form-input form-control" placeholder="NOMBRE" required/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Apellido:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_last_name" ng-model="tutor.lastName" class="form-input form-control" placeholder="APELLIDO" class="form-input form-control" required/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Teléfono:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_phone" ng-model="tutor.phone" ng-pattern="/^[0-9]+$/" ng-minlength="8" ng-maxlength="10" maxlength="10" class="form-input form-control" placeholder="TELÉFONO" class="form-input form-control" required/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Sexo:</label>
        </div>
        <div class="right form-radio custom-radio">
          <input type="radio" id="tutor_gender_h" name="tutor_gender" ng-model="tutor.gender" class="form-control" value="H">
          <label for="tutor_gender_h">Hombre</label>
          <input type="radio" id="tutor_gender_m" name="tutor_gender" ng-model="tutor.gender" class="form-control" value="M">
          <label for="tutor_gender_m">Mujer</label>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Información académica</legend>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Formación:</label>
        </div>
        <div class="right">
          <textarea name="tutor_studies" ng-model="tutor.studies" class="form-textarea form-control" placeholder="FORMACIÓN" required></textarea>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Referencias:</label>
        </div>
        <div class="right">
          <textarea name="tutor_references" ng-model="tutor.references" class="form-textarea form-control" placeholder="REFERENCIAS" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="left">
          <label>Temas:</label>
        </div>
        <div class="right">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
              {{selectedCategory.name}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation"><a role="menuitem" tabindex="{{$index}}" ng-repeat="category in categories" ng-click="selectCategory(category)">{{ category.name }}</a></li>
            </ul>
          </div>
          <input type="text" placeholder="Tema" ng-model="selectedTopic" name="tutor_topic" class="form-input-half form-control">
          <a class="action-button action-button-medium-gray" ng-click="addTutorTopic()">Añadir</a>
          <div id="tutor_topics" class="items-added-group">
            <div id="tutor_topic_{{$index}}" ng-repeat="tutorTopic in tutor.topics" class="item-added">{{tutorTopic.name}} <span ng-click="removeTutorTopic($index)" class="icon-close close-item"></span></div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Información de clases</legend>
      <div class="form-group">
        <div class="left">
          <label>Zonas:</label>
        </div>
        <div class="right profile-zones">
          <angucomplete-alt-geek id="counties"
                            placeholder="ZONA"
                            pause="600"
                            selected-object="selectedZone"
                            local-data="counties"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="form-input-half">
          </angucomplete-alt-geek>
          <a class="action-button action-button-medium-gray" ng-click="addTutorZone()">Añadir</a>
          <div id="tutor_zones" class="items-added-group">
            <div id="tutor_zone_{{$index}}" ng-repeat="tutorZone in tutor.zones" class="item-added">{{tutorZone.name}} <span ng-click="removeTutorZone($index)" class="icon-close close-item"></span></div>
          </div>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Modalidad:</label>
        </div>
        <div class="right form-radio custom-checkbox custom-checkbox-profile">
          <input type="checkbox" id="tutor_class_mode_online" name="tutor_class_mode[]" ng-model="tutor.preference.online" class="form-control" >
          <label for="tutor_class_mode_online">EN LÍNEA</label>
          <input type="checkbox" id="tutor_class_mode_home" name="tutor_class_mode[]" ng-model="tutor.preference.office" class="form-control" >
          <label for="tutor_class_mode_home">CASA/OFICINA</label>
          <input type="checkbox" id="tutor_class_mode_public" name="tutor_class_mode[]" ng-model="tutor.preference.public" class="form-control" >
          <label for="tutor_class_mode_public">PÚBLICA</label>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Costo por clase:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_class_cost" ng-model="tutor.preference.cost" ng-pattern="/^[0-9]+$/" ng-pattern="/^\$?\-?([1-9]{1}[0-9]{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\-?\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))$|^\(\$?([1-9]{1}\d{0,2}(\,\d{3})*(\.\d{0,2})?|[1-9]{1}\d{0,}(\.\d{0,2})?|0(\.\d{0,2})?|(\.\d{1,2}))\)$/" class="form-input form-control" placeholder="COSTO" class="form-input form-control"/>
        </div>
      </div>
    </fieldset>
    <div class="calendar">
      <div class="week-view">
        <div class="week-row">
          <table>
            <tbody>
            <tr>
              <td class="week-day-title"></td>
              <td class="week-day-title" ng-repeat="day in DAYS">
                <span class="hidden-sm hidden-xs">{{ day.title }}</span>
                <span class="hidden-md hidden-lg">{{ day.minTitle }}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="week-row" ng-repeat="row in weekRows">
          <table>
            <tbody>
            <tr>
              <td class="week-day">{{ HOURS[$index] }}</td>
              <td class="week-day" ng-class="{available: halfHour.available}" ng-click="toggleHourAvailability(halfHour)" ng-repeat="halfHour in row.halfHours">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="send-form">
      <a class="action-button action-button-light-green" ng-click="submitTutorProfile()">Guardar</a>
    </div>
  </form>
</div>
</div>
