<header class="container">
  <div class="row navbar">
    <h1 class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
      <a href="#" title="Geek">
        <img src="/assets/site/geek-logo.png" class="hidden-xs">
        <span class="hidden-lg hidden-md hidden-sm">geek</span>
      </a>
    </h1>
    <nav class="navigation col-lg-10 col-md-10 col-sm-12 col-xs-12" role="navigation" ng-controller="NavigationController as navigationCtrl">
      <ul class="hidden-xs">
        <li>
          <a href="/" title="¿Qué quieres aprender hoy?" class="text-color-dark-blue">¿Qué quieres aprender hoy?</a>
        </li>
        <li><a title="Ingresa" class="signin" ng-click="showSignInModal('signIn')">Ingresa</a></li>
        <li><a title="Registrate" class="signup" ng-click="showSignInModal('signUp')">Regístrate</a></li>
        <li><a title="Idioma" class="text-color-light-blue">English/Español</a></li>
      </ul>
      <ul class="hidden-md hidden-lg hidden-sm">
        <li>
          <a href="/" title="¿Qué quieres aprender hoy?" class="text-color-dark-blue">Estudiante</a>
        </li>
        <li><a href="#" title="Ingresa">Ingresa</a></li>
        <li><a href="#" title="Registra">Regístrate</a></li>
      </ul>

      <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-head">
              <div class="owl">
                <img src="/assets/site/signup-owl.png" alt="Geek owl" class="">
              </div>
              <div class="tabs">
                <div class="tab left-tab" ng-class="{active: selectedTab == 'signIn'}" ng-click="selectTab('signUp')">
                  <span>REGÍSTRARTE</span>
                </div>
                <div class="tab right-tab" ng-class="{active: selectedTab == 'signUp'}" ng-click="selectTab('signIn')">
                  <span>INICIAR SESIÓN</span>
                </div>
              </div>
              <div class="owl-hands">
                <img src="/assets/site/signup-owl-hands.png" alt="Geek owl" class="">
              </div>
            </div>
            <div class="modal-body">
              <div class="sign-up-container noselect" ng-show="selectedTab == 'signUp'">
                <div class="form-button-gp" ng-hide="userData">
                  <div ng-click="registerGooglePlus()">REGÍSTRATE CON GOOGLE <span class="icon-googleplus"></span></div>
                </div>
                <form name="signUpForm" id="tutor-form" class="validation-form" ng-show="userData" accept-charset="UTF-8" action="/users" method="post">
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-name" name="user[first_name]" ng-model="signUpName" class="form-input form-control" placeholder="NOMBRE" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-mail" name="user[email]" ng-model="signUpMail" class="form-input form-control" placeholder="CORREO" ng-pattern="/^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,4}$/" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-password" name="user[password]" ng-model="signUpPassword" class="form-input form-control" placeholder="PASSWORD" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-confirmation" name="user[password_confirmation]" ng-model="signUpConfirmation" class="form-input form-control" placeholder="CONFIRMAR PASSWORD" pw-check="sign-up-password" required/>
                  </div>
                  <div class="form-group form-checkbox custom-checkbox" show-errors>
                    <input type="checkbox" id="sign-up-terms" name="sign-up-terms" ng-model="signUpTerms" class="form-control" required>
                    <label for="sign-up-terms">HE LEÍDO Y ACEPTO LOS TÉRMINOS Y CONDICIONES</label>
                  </div>
                  <div>
                    <input id="user_uid" name="user[uid]" type="hidden" value="{{signUpUID}}" />
                    <input id="user_last_name" name="user[last_name]" type="hidden" value="{{signUpLastName}}" />
                    <input id="user_token" name="user[token]" type="hidden" value="{{signUpToken}}" />
                    <input id="user_refresh_token" name="user[refresh_token]" type="hidden" value="{{signUpRefreshToken}}" />
                    <input id="user_role_ids" multiple="multiple" name="user[role_ids][]" type="hidden" value="{{roleIds}}" />
                  </div>
                  <div class="form-submit" ng-click="submitTutorForm()">
                    <div>REGÍSTRATE</div>
                  </div>
                </form>

              </div>
              <div class="sign-in-container" ng-show="selectedTab == 'signIn'">
                <label ng-show='loginError' ng-bind='loginError'></label>
                <div ng-hide="userData">
                  <div class="form-button-gp">
                    <div ng-click="registerGooglePlus()">INICIA CON GOOGLE <span class="icon-googleplus"></span></div>
                  </div>
                  <div class="form-text">
                    o
                  </div>
                </div>
                <form name="tutorLoginForm" id="tutor-login-form" class="validation-form" accept-charset="UTF-8" action="/users/sign_in" id="login-form" method="post">
                  <div class="form-group" show-errors>
                    <input type="text" name="tutor[email]" ng-model="signInMail" class="form-input form-control" placeholder="CORREO" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" name="tutor[password]" ng-model="signInPassword" class="form-input form-control" placeholder="PASSWORD" required/>
                  </div>
                  <input id="tutor_role_ids" multiple="multiple" name="tutor[role_ids][]" type="hidden" value="2" >
                  <div class="form-submit" ng-click="loginTutor()">
                    <div>INICIAR SESIÓN</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bgcolor-light-gray section-search">
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
        <div>
          <h2 class="hidden-xs">geek</h2>
          <div class="section-how-it-works">
            <ul>
              <li><span class="number">1</span>Busca a tu tutor</li>
              <li><span class="number">2</span>Agenda una cita</li>
              <li><span class="number">3</span>Pasa tu examen de Álgebra</li>
            </ul>
          </div>
        </div>
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
      </div>
    </div>
  </div>
</div>

<div class="bgcolor-light-green green-separator"></div>

<div class="container-fluid">
  <div class="row bgcolor-light-blue">
    <div class="section-benefits">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 benefit">
        <h3>Geek es rápido y practicosadasd.</h3>
        <p>No pierdas tiempo buscando tutores en pizarrones de corcho Geek
          te permite encontrar el tutor que buscas en la zona que lo necesites
          desde tu computa dora o smartphone.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 benefit">
        <h3>Geek te ahorra correr al cajero automático.</h3>
        <p>Todas la transacción de Geek es en linea, 100%, y se cobra una vez que ya
          haya terminado la clase.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 benefit">
        <h3>Geek es seguro.</h3>
        <p>Todos nuestros tutores están validados por nosotros para asegurarnos de que sean
          confiables y profesionales.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm language">
        <a href="#" title="¿Quieres dar clases en geek?" class="text-color-light-blue">English/Español</a>
      </div>
      <div class="col-lg-6 col-md-6">© Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus mauris, eleifend vel vehicula ac.</div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
      <div class="col-lg-2 col-md-2 social-icons">
        <a href="" title="Facebook"><img src="/assets/icons/icon-fb.png" alt="Facebook Icon"></a>
        <a href="" title="Instagram"><img src="/assets/icons/icon-ig.png" alt="Instagram Icon"></a>
        <a href="" title="Twitter"><img src="/assets/icons/icon-tw.png" alt="Twitter Icon"></a>
      </div>
    </div>
  </div>
</footer>
