<div class="tutor-request-container col-lg-12">
  <form name="tutorRequestForm" id="tutor_profile_form" class="validation-form">
    <div class="left col-lg-6">
      <div class="tutor_picture">
        <div class="profile_picture">
          <img id="profile_picture" src="/assets/site/person.png">
        </div>
        <div class="btn-upload">SUBIR ARCHIVO</div>
        <div class="fileupload" style="display: none">
          <input type='file' name="picture" id="picture" enctype="multipart/form-data" runat="server" />
        </div>
      </div>
      <div class="form-group" show-errors>
        <input type="text" name="tutor_name" ng-model="tutorRequestName" class="form-input form-control" placeholder="NOMBRE" required/>
      </div>
      <div class="form-group" show-errors>
        <input type="text" name="tutor_last_name" ng-model="tutorRequestLastName" class="form-input form-control" placeholder="APELLIDO" class="form-input form-control" required/>
      </div>
      <div class="form-group" show-errors>
        <input type="text" name="tutor_phone" ng-model="tutorRequestPhone" class="form-input form-control" placeholder="TELÉFONO" class="form-input form-control" required/>
      </div>
    </div>
    <div class="right col-lg-6">
      <div class="form-group" show-errors>
        <textarea name="tutor_studies" ng-model="tutorRequestStudies" class="form-textarea form-control" placeholder="FORMACIÓN" required></textarea>
      </div>
      <div class="form-group" show-errors>
        <textarea name="tutor_references" ng-model="tutorRequestReferences" class="form-textarea form-control" placeholder="REFERENCIAS" required></textarea>
      </div>
      <div class="request-subtitle">TEMAS</div>

      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        </ul>
      </div>

      <div class="form-group">
        <select ng-model="selectedCategory" ng-options="category.name for category in categories" />
      </div>
      <input type="text" placeholder="Tema" ng-model="selectedTopic" name="tutor_topic">
      <button ng-click="addTutorTopic()">Añadir</button>
      <div id="tutor_topics">
        <div id="tutor_topic_{{$index}}" ng-repeat="tutorTopic in tutorTopics">{{tutorTopic.name}} <div ng-click="removeTutorTopic($index)">X</div></div>
      </div>
    </div>
  </form>
  <button ng-click="submitTutorRequest()">Enviar solicitud</button>
</div>