<div ng-controller="BlockedUserController as blockedUserCtrl">
  <div class="tutor-profile-container form">
    <h2 class="section-title" translate="USER_BLOCKED_TITLE"></h2>
    <p class="section-message" translate="ERROR_USER_BLOCKED"></p>
  </div>
</div>