<div ng-controller="PaymentController" class="tutor-profile-container form">
    <h2 class="section-title">{{ 'PAYMENT_TITLE' | translate}}</h2>
    <ng-alert id="tutor-request-form" alert-params="tutorPaymentAlertParams"></ng-alert>

    <!-- Sección de listado de métodos de pago vacío -->
    <div class="unavailable-message" ng-hide="paymentMethodsList.length || showNewBankAccount || showNewCard">
      <div class="unavailable-message-content">
        <h3 translate="UNAVAILABLE_MESSAGE_PAYMENTS_NO_METHODS_TUTOR"></h3>
        <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.CARD_METHOD.code)"><span class="icon-credit-card"></span> {{ 'PAYMENT_ADD_A_CARD' | translate }}</a>
        <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.BANK_ACCOUNT_METHOD.code)"><span class="icon-pig"></span> {{ 'PAYMENT_ADD_AN_BANK_ACCOUNT' | translate }}</a>
      </div>
    </div>

    <!-- Listado de métodos de pago actuales -->
    <div ng-show="paymentMethodsList.length && !showNewBankAccount && !showNewCard">
      <div class="payment-methods-list">
        <div class="payment-method-headers">
          <div class="type"></div>
          <div class="number">{{ 'PAYMENT_LABEL_CARD_BANK_ACCOUNT' | translate }}</div>
          <div class="main">{{ 'PAYMENT_LABEL_MAIN_ACCOUNT' | translate }}</div>
          <div class="control"></div>
        </div>
        <div ng-repeat="paymentMethod in paymentMethodsList | orderBy:paymenthMethod.active" class="payment-method-item">
          <!-- Se muesta información si es tarjeta -->
          <div class="payment-method-resume" ng-if="!paymentMethod.is_bank_account">
            <div class="type"><span class="{{ paymentMethod.type.icon }}"></span></div>
            <div class="number">XXXX-XXXX-XXXX-{{ paymentMethod.card_number }}</div>
            <div class="main"><span class="icon-accept" ng-if="paymentMethod.active"></span></div>
            <span ng-click="togglePaymentMethodInfo(paymentMethod)"><span class="control-arrow" ng-class="{ true:'control-down-arrow', false:'control-right-arrow'}[paymentMethod.showInfo]"></span></span>
          </div>

          <!-- Se muesta información si es cuenta bancaria -->
          <div class="payment-method-resume" ng-if="paymentMethod.is_bank_account">
            <div class="type"><span class="{{ paymentMethod.type.icon }}"></span></div>
            <div class="number">XXXXXXXXXXXXXX{{ paymentMethod.card_number }}</div>
            <div class="main"><span class="icon-accept" ng-if="paymentMethod.active"></span></div>
            <span ng-click="togglePaymentMethodInfo(paymentMethod)"><span class="control-arrow" ng-class="{ true:'control-down-arrow', false:'control-right-arrow'}[paymentMethod.showInfo]"></span></span>
          </div>

          <div class="payment-method-info" ng-show="paymentMethod.showInfo">
            <div>
              <table>
                <thead>
                <tr>
                  <th class="brand" ng-if="!paymentMethod.is_bank_account"></th>
                  <th class="holder-name">{{ 'PAYMENT_LABEL_ACCOUNT_NAME' | translate }}</th>
                  <th class="more-info" ng-if="!paymentMethod.is_bank_account">{{ 'PAYMENT_LABEL_EXPIRATION_DATE' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="brand" ng-if="!paymentMethod.is_bank_account"><span ng-class="paymentMethod.brandClass"></span></td>
                  <td class="holder-name">{{ paymentMethod.holder_name }}</td>
                  <td class="more-info" ng-if="!paymentMethod.is_bank_account">{{ paymentMethod.expiration_month }}/{{ paymentMethod.expiration_year }}</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="appointment-button">
              <a ng-repeat="button in PAYMENT_METHODS_BUTTONS" ng-if="showActionButtons(paymentMethod.active, button.action)"  ng-class="[button.class, button.icon]" title=" {{ button.title | translate }}" ng-click="callButtonAction($event, button.action, paymentMethod)"> {{ button.text | translate }}</a>
            </div>

          </div>
        </div>
      </div>

      <div class="payment-buttons-container">
        <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.CARD_METHOD.code)"><span class="icon-credit-card"></span> {{ 'PAYMENT_ADD_A_CARD' | translate }}</a>
        <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.BANK_ACCOUNT_METHOD.code)"><span class="icon-pig"></span> {{ 'PAYMENT_ADD_AN_BANK_ACCOUNT' | translate }}</a>
      </div>

    </div>

    <!-- Forma para nueva tarjeta -->
    <div ng-show="showNewCard">
      <form name="tutorPaymentOptionsCardForm" id="tutor_payment_options_form" class="dashboard-form validation-form">

        <fieldset>
          <legend translate="PAYMENT_LABEL_NEW_CARD_SUBTITLE"></legend>
          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_DEBIT_CARD_HOLDER_NAME' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="debit_card_holder" ng-model="$parent.debitCardHolder" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_DEBIT_CARD_HOLDER_NAME' | translate }}" popover="{{tutorPaymentOptionsCardForm.debit_card_holder.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label>{{ 'PAYMENT_LABEL_DEBIT_CARD_NUMBER' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="debit_card_number" ng-model="$parent.debitCardNumber" pattern="/^[0-9]+$/" ng-pattern="/^[0-9]+$/" ng-minlength="16" ng-maxlength="16" maxlength="16" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_DEBIT_CARD_NUMBER' | translate }}" popover="{{tutorPaymentOptionsCardForm.debit_card_number.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" ng-class="expirationErrorClass">
            <div class="left">
              <label>{{'PAYMENT_LABEL_EXPIRATION_DATE' | translate }}:</label>
            </div>
            <div class="right">

              <div class="dropdown form-dropdown">
                <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                  <span ng-if="expirationMonth">{{ expirationMonth }}</span>
                  <span ng-if="!expirationMonth" translate="MONTH"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header"><span translate="MONTH"></span></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" ng-repeat="month in MONTHS"><a role="menuitem" tabindex="{{ $index+1 }}"  ng-click="setExpirationMonth($index+1)">{{ ($index+1) }}</a></li>
                </ul>
              </div>

              <div class="dropdown form-dropdown">
                <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                  <span ng-if="expirationYear">{{ expirationYear }}</span>
                  <span ng-if="!expirationYear" translate="YEAR"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header"><span translate="YEAR"></span></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" ng-repeat="year in availableYears"><a role="menuitem" tabindex="{{ year }}"  ng-click="setExpirationYear(year)">{{ year }}</a></li>
                </ul>
              </div>

            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label>{{ 'PAYMENT_LABEL_VERIFICATION_NUMBER' | translate }}:</label>
            </div>
            <div class="right">
              <div class="input-container-small">
                <input type="text" name="verification_number" ng-model="$parent.debitCardValidationNumber" ng-pattern="/^[0-9]+$/" ng-minlength="3" ng-maxlength="5" maxlength="5" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_VERIFICATION_NUMBER' | translate }}" popover="{{tutorPaymentOptionsCardForm.verification_number.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
              </div>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_ADDRESS' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="address_line_1" ng-model="$parent.addressLine1"  class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_ADDRESS_LINE_1' | translate }}" popover="{{tutorPaymentOptionsCardForm.address_line_1.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left"></div>
            <div class="right">
              <input type="text" name="address_line_2" ng-model="$parent.addressLine2" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_ADDRESS_LINE_2' | translate }}" popover="{{tutorPaymentOptionsCardForm.address_line_2.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_CITY' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="city" ng-model="$parent.city"  class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_CITY' | translate }}" popover="{{tutorPaymentOptionsCardForm.city.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" ng-class="stateErrorClass">
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_STATE' | translate }}:</label>
            </div>
            <div class="right">
              <div class="dropdown form-dropdown input-container-medium">
                <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                  <span ng-if="state">{{ state }}</span>
                  <span ng-if="!state" translate="STATE"></span>
                  &nbsp;
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" ng-repeat="state in LIST_OF_STATES"><a role="menuitem"  ng-click="setState(state)">{{ state }}</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_POSTAL_CODE' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="postal_code" ng-model="$parent.postalCode" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_POSTAL_CODE' | translate }}" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="5" maxlength="5" popover="{{tutorPaymentOptionsCardForm.postal_code.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

        </fieldset>

        <div class="payment-buttons-container">
          <a class="action-button action-button-light-red" title="" ng-click="cancelPaymentMethodCreation()">{{ 'CANCEL' | translate }}</a>
          <a class="action-button action-button-light-green" title="" ng-click="saveCard()">{{ 'SAVE' | translate }}</a>
        </div>

      </form>

    </div>

    <!-- Forma para nueva cuenta de banco -->
    <div ng-show="showNewBankAccount">
      <form name="tutorPaymentOptionsBankForm" id="tutor_payment_options_form" class="dashboard-form validation-form">
        <fieldset>
          <legend translate="PAYMENT_LABEL_NEW_BANK_ACCOUNT_SUBTITLE"></legend>

          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_BANK_ACCOUNT_OWNER_NAME' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="bank_account_owner" ng-model="$parent.bankAccountOwner" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_BANK_ACCOUNT_OWNER_NAME' | translate }}" popover="{{tutorPaymentOptionsBankForm.bank_account_owner.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_PLACEHOLDER_BANK_ACCOUNT_CLABE' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="bank_account_clabe" ng-model="$parent.clabe" pattern="/^[0-9]+$/" ng-pattern="/^[0-9]+$/" ng-minlength="18" ng-maxlength="18" maxlength="18" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_BANK_ACCOUNT_CLABE' | translate }}" popover="{{tutorPaymentOptionsBankForm.bank_account_clabe.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

        </fieldset>

        <div class="payment-buttons-container">
          <a class="action-button action-button-light-red" title="" ng-click="cancelPaymentMethodCreation()">{{ 'CANCEL' | translate }}</a>
          <a class="action-button action-button-light-green" title="" ng-click="saveBankAccount()">{{ 'SAVE' | translate }}</a>
        </div>

      </form>
    </div>

</div>