<div ng-controller="ProfileController">
<div class="tutor-profile-container" ng-show="tutor && !tutor.request.sent">
  <h2 class="section-title">Enviar solicitud</h2>
  <ng-alert id="tutor-request-form" alert-params="tutorRequestAlertParams"></ng-alert>
  <p class="section-message">
    ¡Hola! Antes de crear un perfil completo como tutor en Geek deberás llenar una solicitud sencilla con
    información básica. Una vez que hayas llenado y enviado esta solicitud, el equipo de Geek te contactará
    en los próximos días paracontinuar con el proceso.
  </p>
  <form name="tutorRequestForm" id="tutor_request_form" class="dashboard-form validation-form">
    <fieldset>
      <legend>Información personal</legend>
      <div class="tutor_picture">
        <div class="profile_picture_container">
          <div class="profile_picture">
            <img src="">
          </div>
          <div class="action-button-upload" ng-click="openProfilePictureSelector($event)">CAMBIAR FOTO</div>
          <input type='file' accept="image/*" onchange="angular.element(this).scope().selectProfilePicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Nombre:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_name" ng-model="tutor.firstName" class="form-input form-control" placeholder="NOMBRE" popover="{{tutorProfileForm.tutor_name.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Apellido:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_last_name" ng-model="tutor.lastName" class="form-input form-control" placeholder="APELLIDO" popover="{{tutorProfileForm.tutor_last_name.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
        </div>
      </div>

      <div class="form-group" show-errors>
        <div class="left">
          <label>Teléfono (Celular o fijo):</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_phone" ng-model="tutor.phone_number" ng-pattern="/^[0-9]+$/" ng-minlength="8" ng-maxlength="10" maxlength="10" class="form-input form-control" placeholder="TELÉFONO" popover="{{tutorProfileForm.tutor_phone.popoverMessage}}" popover-trigger="click" popover-animation="false" />
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Información académica</legend>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Formación y Experiencia:</label>
        </div>
        <div class="right">
          <textarea name="tutor_studies" ng-model="tutor.studies" class="form-textarea form-control" placeholder="FORMACIÓN" popover="{{tutorProfileForm.tutor_studies.popoverMessage}}" popover-trigger="focus" popover-animation="false" required></textarea>
        </div>
      </div>
      <div class="form-group" show-errors show-errors-params="tutor.topics" show-errors-validation-type="arrayLength">
        <div class="left">
          <label>Temas:</label>
        </div>
        <div class="right">
          <div>
          <!-- <div popover="{{tutorProfileForm.tutor_topic.popoverMessage}}" popover-trigger="click" popover-animation="false"> -->
            <div class="dropdown form-dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                {{selectedCategory.name}}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="category in parentCategories"><a role="menuitem" tabindex="{{$index}}"  ng-click="selectCategory(category)">{{ category.name }}</a></li>
              </ul>
            </div>
            <input type="text" placeholder="Tema" ng-model="selectedTopic.name" name="tutor_topic_name" class="form-input form-input-third form-control">
            <input type="text" placeholder="Costo" ng-model="selectedTopic.cost" name="tutor_topic_cost" class="form-input form-input-fifth form-control" ng-currency>
            <a class="action-button action-button-medium-gray" ng-click="addTutorTopic()">Añadir</a>
            <div id="tutor_topics" class="items-added-group">
              <div id="tutor_topic_{{$index}}" ng-repeat="tutorTopic in tutor.topics" class="item-added">{{tutorTopic.name}} - {{tutorTopic.cost | currency : '$'}}<span ng-click="removeTutorTopic($index)" class="icon-close close-item"></span></div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="send-form">
      <a class="action-button action-button-light-green" ng-click="submitTutorRequest()">Enviar solicitud</a>
    </div>
  </form>
</div>
<div class="tutor-profile-container" ng-show="tutor && tutor.request.sent && !tutor.request.approved">
  <h2 class="section-title">Solicitud enviada</h2>
  <div>
    <p class="section-message">
      ¡Tu solicitud ha sido enviada! En poco tiempo alguien del equipo de Geek se pondrá en contacto contigo para continuar con el proceso. ¡Gracias!
    </p>
  </div>
</div>
<div class="tutor-profile-container" ng-show="tutor && tutor.request.sent && tutor.request.approved">
  <h2 class="section-title">Mi perfil</h2>
  <ng-alert id="tutor-profile-form" alert-params="tutorProfileAlertParams"></ng-alert>
  <form name="tutorProfileForm" id="tutor_profile_form" class="dashboard-form validation-form">
    <fieldset>
      <legend>Información personal</legend>
      <div class="tutor_picture">
        <div class="profile_picture_container">
          <div class="profile_picture">
            <img src="">
          </div>
          <div class="action-button-upload" ng-click="openProfilePictureSelector($event)">CAMBIAR FOTO</div>
          <input type="file" accept="image/*" onchange="angular.element(this).scope().selectProfilePicture(this)" name="picture" enctype="multipart/form-data" runat="server" style="display: none"/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Nombre:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_name" ng-model="tutor.firstName" class="form-input form-control" placeholder="NOMBRE" popover="{{tutorProfileForm.tutor_name.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Apellido:</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_last_name" ng-model="tutor.lastName" class="form-input form-control" placeholder="APELLIDO" popover="{{tutorProfileForm.tutor_last_name.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Teléfono  (Celular o fijo):</label>
        </div>
        <div class="right">
          <input type="text" name="tutor_phone" ng-model="tutor.phone_number" ng-pattern="/^[0-9]+$/" ng-minlength="8" ng-maxlength="10" maxlength="10" class="form-input form-control" placeholder="TELÉFONO" popover="{{tutorProfileForm.tutor_phone.popoverMessage}}" popover-trigger="click" popover-animation="false" />
        </div>
      </div>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Sexo:</label>
        </div>
        <div class="right form-radio custom-radio">
          <div popover="{{tutorProfileForm.tutor_gender.popoverMessage}}" popover-trigger="click" popover-animation="false">
            <input type="radio" id="tutor_gender_h" name="tutor_gender" placeholder="sexo" ng-model="tutor.gender" class="form-control" value="H" required>
            <label for="tutor_gender_h">Hombre</label>
            <input type="radio" id="tutor_gender_m" name="tutor_gender" placeholder="sexo" ng-model="tutor.gender" class="form-control" value="M" required>
            <label for="tutor_gender_m">Mujer</label>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Información académica</legend>
      <div class="form-group" show-errors>
        <div class="left">
          <label>Formación y Experiencia:</label>
        </div>
        <div class="right">
          <p class="input-message">
            ¡Cuéntanos un poco sobre ti! ¿Qué te hace un buen tutor? Sé lo más detallado
            posible e incluye información relevante que te pueda diferenciar del resto de
            tutores en la plataforma:
            <br><br>
            <em>Estudié Matemáticas Aplicadas en la Universidad Iberoamericana en México DF,
              con especialización en alemán, economía, y escritura. Estando ahí, fui tutor de
              estudiantes en todo, desde sumar y restar hasta cálculo diferencial e integral.
              Obtuve una Maestría en Artes en Enseñanza de Bard College en el '07. He estado
              dando tutoría desde hace 10 años, y de tiempo completo por más de 6. He tenido
              estudiantes entre las edades de 6 y 66 años, con un enfoque en los estudiantes de
              secundaria aunque estoy muy cómodo con cualquier curso de matemáticas.</em>
          </p>
        </div>
        <div class="left">
        </div>
        <div class="right">
          <textarea name="tutor_studies" rows="10" ng-model="tutor.studies" class="form-textarea form-control" placeholder="FORMACIÓN" popover="{{tutorProfileForm.tutor_studies.popoverMessage}}" popover-trigger="focus" popover-animation="false" required></textarea>
        </div>
      </div>
      <div class="form-group" show-errors show-errors-params="tutor.topics" show-errors-validation-type="arrayLength">
        <div class="left">
          <label>Temas:</label>
        </div>
        <div class="right">
          <p class="input-message">
            ¿Qué materias quieres enseñar en Geek? Agrega una por una las materias que
            quisieras enseñar. Escribe el nombre de la materia, define una categoría a la
            que pertenece (Académico, Lenguas, Artes, Exámenes, y Computación) y fija un
            costo por hora. Puedes ser tan específico o general como tu quieras.
            <br><br>
            <em>Ej. Algebra, pertenece a la categoría Académico, con un costo por hora de $400</em>
          </p>
        </div>
        <div class="left">
        </div>
        <div class="right">
          <div>
          <!-- <div popover="{{tutorProfileForm.tutor_topic.popoverMessage}}" popover-trigger="click" popover-animation="false"> -->
            <div class="dropdown form-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    {{selectedCategory.name}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="category in parentCategories"><a role="menuitem" tabindex="{{$index}}"  ng-click="selectCategory(category)">{{ category.name }}</a></li>
                </ul>
            </div>
            <input type="text" placeholder="Tema" ng-model="selectedTopic.name" name="tutor_topic_name" class="form-input form-input-third form-control">
            <input type="text" placeholder="Costo" ng-model="selectedTopic.cost" name="tutor_topic_cost" class="form-input form-input-fifth form-control" ng-currency>
            <a class="action-button action-button-medium-gray" ng-click="addTutorTopic()">Añadir</a>
            <div id="tutor_topics" class="items-added-group">
                <div id="tutor_topic_{{$index}}" ng-repeat="tutorTopic in tutor.topics" class="item-added">{{tutorTopic.name}} - {{tutorTopic.cost | currency : '$'}}<span ng-click="removeTutorTopic($index)" class="icon-close close-item"></span></div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Información de clases</legend>
      <div class="form-group">
        <div class="left">
          <label>Zonas:</label>
        </div>
        <div class="right">
          <p class="input-message">
            ¿En qué zonas de la ciudad puedes/quieres dar tus tutorías? Recuerda que
            los estudiantes van a buscar materias de interés por zonas particulares de la
            ciudad. Puedes elegir varias colonias específicas y/o delegaciones. Mientras más
            detallado seas en tus preferencias, ¡mejor!
          </p>
        </div>
        <div class="left">
        </div>
        <div class="right profile-zones">
          <angucomplete-alt-geek id="counties"
                                 placeholder="ZONA"
                                 pause="600"
                                 selected-object="selectedZone"
                                 local-data="counties"
                                 search-fields="name"
                                 title-field="name"
                                 minlength="1"
                                 input-class="form-control"
                                 name="tutor_zone"
                                 showerrors="true"
                                 object-validation="tutor.zones">
          </angucomplete-alt-geek>
          <a class="action-button action-button-medium-gray" ng-click="addTutorZone()">Añadir</a>
          <div id="tutor_zones" class="items-added-group">
            <div id="tutor_zone_{{$index}}" ng-repeat="tutorZone in tutor.zones" class="item-added">{{tutorZone.name}} <span ng-click="removeTutorZone($index)" class="icon-close close-item"></span></div>
          </div>
        </div>
      </div>
      <div class="form-group" show-errors="{'trigger':'change'}" show-errors-params="tutor.preference.classLocation" show-errors-validation-type="checkboxGroup">
        <div class="left">
          <label>Modalidad:</label>
        </div>
        <div class="right">
          <p class="input-message">
            ¿En qué modalidades puedes/quieres dar tus tutorías? Elige una o varias de las
            opciones: i) Casa tutor- las tutorías pueden ser en tu casa; ii) Casa estudiante-
            estás dispuesto a ir a la casa de tus alumnos; iii) Espacio público- puedes dar
            tus tutorías en un café, biblioteca, escuela o otro espacio público; iv) En línea-
            puedes ofrecer dar tus clases en línea.
          </p>
        </div>
        <div class="right form-radio custom-checkbox custom-checkbox-profile">
          <div popover="{{tutorProfileForm.tutor_class_mode.popoverMessage}}" popover-trigger="mouseenter" popover-animation="false">
            <input type="checkbox" id="tutor_class_mode_online" name="tutor_class_mode" ng-model="tutor.preference.classLocation.online" class="form-control">
            <label for="tutor_class_mode_online">EN LÍNEA</label>
            <input type="checkbox" id="tutor_class_mode_home" name="tutor_class_mode" ng-model="tutor.preference.classLocation.office" class="form-control">
            <label for="tutor_class_mode_home">CASA/OFICINA</label>
            <input type="checkbox" id="tutor_class_mode_public" name="tutor_class_mode" ng-model="tutor.preference.classLocation.public" class="form-control">
            <label for="tutor_class_mode_public">PÚBLICA</label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="calendar">
      <div class="left">
        <label>Disponibilidad:</label>
      </div>
      <div class="right">
        <p class="input-message">
          ¿En qué días y horarios estás disponible? Elige tu disponibilidad default que se
          replicará para el resto de las semanas del calendario. Recuerda que si quieres
          cambiar tu disponibilidad en semanas específicas, lo podrás hacer al terminar
          este perfil y entrar a tu calendario.
        </p>
      </div>
      <div class="left">
        <label></label>
      </div>
      <div class="right">
        <ng-alert-message alert-params="calendarAlertMessagesParams"></ng-alert-message>
        <div class="week-view tutor-calendar-section" ng-class="calendarErrorClass">
          <div class="week-row tutor-calendar-title-day">
            <table>
              <tbody>
              <tr>
                <td class="week-day-title"></td>
                <td class="week-day-title" ng-repeat="day in DAYS">
                  <span class="hidden-sm hidden-xs">{{ day.title }}</span>
                  <span class="hidden-md hidden-lg">{{ day.minTitle }}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="week-row tutor-calendar-hours">
            <table ng-repeat="row in weekRows" id="week-row-{{ HOURS[$index] }}">
              <tbody>
              <tr>
                <td class="week-day"><span ng-hide="$index%2">{{ HOURS[$index] }}</span>&nbsp;</td>
                <td class="week-day" ng-class="{available: halfHour.available}" ng-click="toggleHourAvailability(halfHour)" ng-repeat="halfHour in row.halfHours">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="send-form">
      <a class="action-button action-button-light-green" ng-click="submitTutorProfile()">Guardar</a>
    </div>
  </form>
</div>
</div>
