<div ng-class="[DEFAULT_CLASS, detailArrowClass]" ng-style="modalStyle" ng-show="clickedAnomaly" ng-controller="CalendarController">
  <span class="icon-close modal-detail-close" ng-click="closeAnomalyDetail()"></span>
  <div class="modal-detail-header"></div>
  <div class="modal-detail-content">
    Appointment anomaly

  </div>
  <div class="modal-detail-footer"></div>
</div>