<ul class="hidden-xs">
  <li>
    <a href="/tutor" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">¿Quieres dar clases en geek?</a>
  </li>
  <li><a href="#" title="Ingresa" class="signin">Ingresa</a></li>
  <li><a href="#" title="Regístrate" class="signup">Regístrate</a></li>
  <li><a href="#" title="Cambiar idioma" class="text-color-light-blue">English/Español</a></li>
</ul>
<ul class="hidden-md hidden-lg hidden-sm">
  <li>
    <a href="/tutor" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">Tutor</a>
  </li>
  <li><a href="#" title="Ingresa">Ingresa</a></li>
  <li><a href="#" title="Regístrate">Registrate</a></li>
</ul>