<header class="container">
  <div class="row navbar">
    <h1 class="col-lg-2 col-md-2 col-sm-1">
      <a href="#" title="Geek"><img src="/assets/site/geek-logo.png"></a>
    </h1>
    <nav class="navigation col-lg-10 col-md-10" role="navigation">
      <div>
        <ul>
          <li><a href="#" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">¿Quieres dar clases en geek?</a></li>
          <li><a href="#" title="¿Quieres dar clases en geek?">Ingresa</a></li>
          <li><a href="#" title="¿Quieres dar clases en geek?">Registrate</a></li>
          <li><a href="#" title="¿Quieres dar clases en geek?" class="text-color-light-blue">English/Español</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bgcolor-light-gray section-search">
        <img src="/assets/site/geek.png" alt="Geek" class="search-image">
        <div>
          <h2>geek</h2>
          <h3>¿Qué quieres aprender?</h3>
          <form>
            <input type="text" class="course" placeholder="Me interesaría aprender...">
              <span class="moz-county-wrapper">
                  <select class="county">
                    <option>Tu colonia</option>
                    <option>Condesa</option>
                  </select>
              </span>
            <button>Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bgcolor-light-green green-separator"></div>

<div class="container-fluid">
  <div class="row bgcolor-light-blue">
    <div class="section-how-it-works">
      <div class="col-lg-4 col-md-4 col-sm-12 text-color-white"><span class="number">1</span><span class="title">Busca a tu tutor.</span></div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-color-white"><span class="number">2</span><span class="title">Agenda una cita.</span></div>
      <div class="col-lg-4 col-md-4 col-sm-12 text-color-white"><span class="number">3</span><span class="title">Pasa tu examen de Álgebra.</span></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-categories">
      <div class="category">
        <a href="#" title="Académico">
          <img src="/assets/site/cat-academico.png" alt="Categoría Académico">
          <span class="category-title">Académico</span>
        </a>
      </div>
      <div class="category">
        <a href="#" title="Lenguas">
          <img src="/assets/site/cat-lenguas.png" alt="Categoría Académico">
          <span class="category-title">Lenguas</span>
        </a>
      </div>
      <div class="category">
        <a href="#" title="Artes">
          <img src="/assets/site/cat-artes.png" alt="Categoría Académico">
          <span class="category-title">Artes</span>
        </a>
      </div>
      <div class="category">
        <a href="#" title="Computación">
          <img src="/assets/site/cat-computacion.png" alt="Categoría Académico">
          <span class="category-title">Computación</span>
        </a>
      </div>
      <div class="category">
        <a href="#" title="Exámenes">
          <img src="/assets/site/cat-examenes.png" alt="Categoría Académico">
          <span class="category-title">Exámenes</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row bgcolor-light-blue">
    <div class="section-benefits">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 benefit">
        <h3>Geek es rapido y practico.</h3>
        <p>No pierdas tiempo buscando tutores en pizarrones de corcho Geek
          te permite encontrar el tutor que buscas en la zona que lo necesites
          desde tu computa dora o smartphone.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 benefit">
        <h3>Geek es rapido y practico.</h3>
        <p>No pierdas tiempo buscando tutores en pizarrones de corcho Geek
          te permite encontrar el tutor que buscas en la zona que lo necesites
          desde tu computa dora o smartphone.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 benefit">
        <h3>Geek es rapido y practico.</h3>
        <p>No pierdas tiempo buscando tutores en pizarrones de corcho Geek
          te permite encontrar el tutor que buscas en la zona que lo necesites
          desde tu computa dora o smartphone.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">© Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus mauris, eleifend vel vehicula ac.</div>
      <div class="col-lg-4 col-md-4"></div>
      <div class="col-lg-2 col-md-2">
        <a href="" title="Facebook"><img src="/assets/icons/icon-fb.png" alt="Facebook Icon"></a>
        <a href="" title="Instagram"><img src="/assets/icons/icon-ig.png" alt="Instagram Icon"></a>
        <a href="" title="Twitter"><img src="/assets/icons/icon-tw.png" alt="Twitter Icon"></a>
      </div>
    </div>
  </div>
</footer>
