<header class="container">
  <div class="row navbar">
    <h1 class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
      <a ui-sref=".landing" title="Geek">
        <img src="/assets/site/geek-logo.png" class="hidden-xs">
        <span class="hidden-lg hidden-md hidden-sm">geek</span>
      </a>
    </h1>
    <nav class="navigation col-lg-10 col-md-10 col-sm-9 col-xs-12" role="navigation" ng-controller="NavigationController as navigationCtrl">
      <ul class="hidden-xs">
        <li>
          <a href="/tutor" title="{{ 'WANT_TO_TEACH' | translate}}" class="text-color-dark-blue" translate="WANT_TO_TEACH"></a>
        </li>
        <li><a title="{{ 'SIGN_IN' | translate }}" class="signin" ng-click="showSignInModal('signIn')" translate="SIGN_IN"></a></li>
        <li><a title="{{ 'SIGN_UP' | translate }}" class="signup" ng-click="showSignInModal('signUp')" translate="SIGN_UP"></a></li>
        <li><a title="{{ 'CHOOSE_LANGUAGE' | translate }}" class="text-color-light-blue" ng-click="toggleLanguage()" translate="ENGLISH_SPANISH"></a></li>
      </ul>
      <ul class="hidden-md hidden-lg hidden-sm">
        <li>
          <a href="/tutor" title="{{ 'WANT_TO_TEACH' | translate }}" class="text-color-dark-blue" translate="TUTOR"></a>
        </li>
        <li><a href="#" title="{{ 'SIGN_IN' | translate }}" translate="SIGN_IN"></a></li>
        <li><a href="#" title="{{ 'SIGN_UP' | translate }}" translate="SIGN_UP"></a></li>
      </ul>
      <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-head">
              <div class="owl">
                <img src="/assets/site/signup-owl.png" alt="Geek owl" class="">
              </div>
              <div class="tabs">
                <div class="tab left-tab" ng-class="{active: selectedTab == 'signIn'}" ng-click="selectTab('signIn')">
                  <span translate="MODAL_SIGN_IN"></span>
                </div>
                <div class="tab right-tab" ng-class="{active: selectedTab == 'signUp'}" ng-click="selectTab('signUp')">
                  <span translate="MODAL_SIGN_UP"></span>
                </div>
              </div>
              <div class="owl-hands">
                <img src="/assets/site/signup-owl-hands.png" alt="Geek owl" class="">
              </div>
            </div>
            <div class="modal-body">
              <div class="sign-up-container noselect" ng-show="selectedTab == 'signUp'">
                <div ng-hide="userData">
                  <div class="form-button-fb">
                    <div ng-click="registerFacebook()">{{ 'MODAL_SIGN_UP_FACEBOOK' | translate }}<span class="icon-facebook2"></span></div>
                  </div>
                  <div class="form-text">
                    o
                  </div>
                </div>
                <form name="signUpForm" id="student-form" accept-charset="UTF-8" action="/users" method="post">
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-name" name="user[first_name]" ng-model="signUpName" class="form-input form-control" placeholder="{{ 'SIGN_UP_NAME' | translate }}" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-mail" name="user[email]" ng-model="signUpMail" class="form-input form-control" placeholder="{{ 'SIGN_UP_MAIL' | translate }}" ng-pattern="/^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,4}$/" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-password" name="user[password]" ng-model="signUpPassword" class="form-input form-control" placeholder="{{ 'SIGN_UP_PASSWORD' | translate }}" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-confirmation" name="user[password_confirmation]" ng-model="signUpConfirmation" class="form-input form-control" placeholder="{{ 'SIGN_UP_CONFIRMATION' | translate }}" pw-check="sign-up-password" required/>
                  </div>
                  <div class="form-group form-checkbox custom-checkbox" show-errors>
                    <input type="checkbox" id="sign-up-terms" name="sign-up-terms" ng-model="signUpTerms" class="form-control" required>
                    <label for="sign-up-terms" translate="TERMS_AND_CONDITIONS"></label>
                  </div>
                  <div>
                    <input id="user_uid" name="user[uid]" type="hidden" value="{{signUpUID}}" />
                    <input id="user_last_name" name="user[last_name]" type="hidden" value="{{signUpLastName}}" />
                    <input id="user_token" name="user[token]" type="hidden" value="{{signUpToken}}" />
                    <input id="user_refresh_token" name="user[refresh_token]" type="hidden" value="{{signUpRefreshToken}}" />
                    <input id="user_role_ids" multiple="multiple" name="user[role_ids][]" type="hidden" value="{{roleIds}}" />
                  </div>
                  <div class="form-submit" ng-click="submitStudentForm()">
                    <div translate="SIGN_UP"></div>
                  </div>
                </form>
              </div>
              <div class="sign-in-container" ng-show="selectedTab == 'signIn'">
                <label ng-show='loginError' ng-bind='loginError'></label>
                <div ng-hide="userData">
                  <div class="form-button-fb">
                    <div ng-click="registerFacebook()">{{ 'MODAL_SIGN_IN_FACEBOOK' | translate }}<span class="icon-facebook2"></span></div>
                  </div>
                  <div class="form-text">
                    o
                  </div>
                </div>
                <form name="studentLoginForm" id="student-login-form" accept-charset="UTF-8" action="/users/sign_in" id="login-form" method="post">
                  <div class="form-group" show-errors>
                    <input type="text" name="student[email]" class="form-input form-control" placeholder="{{ 'SIGN_UP_MAIL' | translate }}" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" name="student[password]" class="form-input form-control" placeholder="{{ 'SIGN_UP_PASSWORD' | translate }}" required/>
                  </div>
                  <input id="tutor_role_ids" multiple="multiple" name="student[role_ids][]" type="hidden" value="3" >
                  <div class="form-submit" ng-click="loginStudent()">
                    <div translate="SIGN_IN"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<section ui-view></section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm language">
        <a href="#" title="¿Quieres dar clases en geek?" class="text-color-light-blue">English/Español</a>
      </div>
      <div class="col-lg-6 col-md-3 social-icons columns uppercase">
        <p><span translate="FOOTER_CALL_US"></span> 01-800-718-5334</p>
        <p translate="FOOTER_SOCIAL"></p>
        <ul>
          <li><a href="" title="Twitter"><span class="icon-twitter text-color-light-blue"></span></a></li>
          <li><a href="" title="Facebook"><span class="icon-facebook1 text-color-light-green"></span></a></li>
          <li><a href="" title="LinkedIn"><span class="icon-linkedin text-color-light-orange"></span></a></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-3 columns links">
        <div class="col-lg-6 col-md-6 columns uppercase">
          <ul>
            <li><a title="{{ 'FOOTER_WE' | translate}}" ui-sref=".about-us">{{ 'FOOTER_WE' | translate}}</a></li>
            <!--li><a title="{{ 'FOOTER_CONTACT' | translate}}">{{ 'FOOTER_CONTACT' | translate}}</a></li-->
            <!--li><a title="{{ 'FOOTER_HELP' | translate}}" ui-sref=".help">{{ 'FOOTER_HELP' | translate}}</a></li-->
            <li><a title="{{ 'FOOTER_FAQ' | translate}}" ui-sref=".faq">{{ 'FOOTER_FAQ' | translate}}</a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 columns right uppercase">
          <ul>
            <!--li><a title="{{ 'FOOTER_BLOG' | translate}}">{{ 'FOOTER_BLOG' | translate}}</a></li-->
            <li><a title="{{ 'FOOTER_TERMS_AND_CONDITIONS' | translate}}" ui-sref=".terms">{{ 'FOOTER_TERMS_AND_CONDITIONS' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_PRIVACY' | translate}}" ui-sref=".privacy">{{ 'FOOTER_PRIVACY' | translate}}</a></li>
            <li><a title="{{ 'FOOTER_CANCELLATION' | translate}}" ui-sref=".cancellation-policy">{{ 'FOOTER_CANCELLATION' | translate}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
