<div class="section-search-results" ng-controller="SearchTutorController as SearchTutorCtrl">
<div class="light-search section-search" ng-show="showTopSearchbar && !appointmentRequestSent">
  <h2 class="hidden-sm hidden-xs">geek</h2>
  <form>
    <angucomplete-alt-geek id="topics"
                           placeholder="{{ 'AUTOCOMPLETE_TOPIC' | translate }}"
                           pause="600"
                           selected-object="subjectInput"
                           local-data="categories"
                           search-fields="name"
                           title-field="name"
                           minlength="1"
                           input-class="category">
    </angucomplete-alt-geek>
    <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="{{ 'AUTOCOMPLETE_ZONE' | translate }}" googleplace>
    <a href="" class="search-button icon-pointer" type="button" ng-click="searchTutor(1, true, false)" translate="SEARCH"></a>
  </form>
  <div class="clearfix"></div>
</div>

<div class="search-results-list" ng-show="showTopSearchbar && !appointmentRequestSent">
<span us-spinner spinner-key="search-tutor-spinner"></span>

    <div class="search-results-tools" ng-hide="selectedTutor">
      <div class="filter-tools">
        <span class="category filter-label">{{ 'FILTERS' | translate}}:</span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_online" name="tutor_class_mode" ng-model="filters.online" ng-change="searchTutor(1, true, false)"/>
          <label for="tutor_class_mode_online" translate="SEARCH_FILTER_LABEL_ONLINE"></label>
        </span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_tutor_home" name="tutor_class_mode" ng-model="filters.office" ng-change="searchTutor(1, true, false)"/>
          <label for="tutor_class_mode_tutor_home" translate="SEARCH_FILTER_LABEL_OFFICE"></label>
        </span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_student_home" name="tutor_class_mode" ng-model="filters.student" ng-change="searchTutor(1, true, false)"/>
          <label for="tutor_class_mode_student_home" translate="SEARCH_FILTER_LABEL_STUDENT"></label>
        </span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_public" name="tutor_class_mode" ng-model="filters.public" ng-change="searchTutor(1, true, false)"/>
          <label for="tutor_class_mode_public" translate="SEARCH_FILTER_LABEL_PUBLIC"></label>
        </span>
      </div>
      <div class="order-tools">
        <span class="category order-label">{{ 'SEARCH_ORDER_BY_LABEL' | translate}}:</span>
        <span class="search-result-filter order-item">
          <div class="dropdown form-dropdown" >
            <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
              <span ng-if="orderByOption">{{ orderByOption.title | translate }}</span>
              &nbsp;
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header"><span translate="SEARCH_ORDER_BY_LABEL"></span></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation" ng-repeat="orderOption in orderOptions"><a role="menuitem" tabindex="{{ orderOption.code }}"  ng-click="setOrderByOption(orderOption)" translate>{{ orderOption.title }}</a></li>
            </ul>
          </div>
        </span>
      </div>
    </div>

<div class="search-results-tools" ng-show="selectedTutor">
  <span class="btn-back" ng-click="showSearchResults()" ng-show="selectedTutor"><< {{ 'SHOW_ALL' | translate }}</span>
</div>

<div class="unavailable-message" ng-show="tutorList && suggestedTutorList && tutorList.length == 0 && suggestedTutorList.length == 0">
  <div class="unavailable-message-content">
    <h3 translate="UNAVAILABLE_MESSAGE_SEARCH_TUTORS"></h3>
  </div>
</div>

<div class="search-result-list" ng-show="tutorList.length || suggestedTutorList.length">
  <div>
    <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" dir-paginate="tutor in tutorList | itemsPerPage: tutorsPerPage" total-items="totalTutors" pagination-id="tutorsPagination" ng-show="tutor.show" on-tutor-search-render current-page="pagination_current">
      <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-click="showTutorDetails(tutor)">
        <div class="tutor_picture">
          <img/>
        </div>
      </div>
      <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="content" ng-class="{ 'no-background' : tutor.id == selectedTutor.id }">
          <div class="content-info">
            <h4 class="tutor-name" ng-if="tutor.id != selectedTutor.id" ng-click="showTutorDetails(tutor)">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <h4 class="tutor-name expanded" ng-if="tutor.id == selectedTutor.id">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <p class="tutor-categories" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }"><span ng-repeat="category in tutor.categories">{{ category.name }}{{ $last ? '' : ', ' }}</span></p>
            <div class="preferences">
              <span class="item-added" ng-if="tutor.preference.online" title="{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}">{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}</span>
              <span class="item-added" ng-if="tutor.preference.office" title="{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}">{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}</span>
              <span class="item-added" ng-if="tutor.preference.student_place" title="{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}">{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}</span>
              <span class="item-added" ng-if="tutor.preference.public" title="{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}">{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}</span>
            </div>
            <pre class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="{{ 'MORE' | translate }}" ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></pre>
          </div>
          <div class="score-info">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
              </div>
            </div>
            <div class="score-more" ng-show="!hasComments(tutor.reviews)" translate="TUTOR_SEARCH_NO_COMMENTS"></div>
            <div class="score-more pointer" ng-hide="tutor.showComments || !hasComments(tutor.reviews)" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_SHOW_COMMENTS"></div>
            <div class="score-more pointer" ng-show="tutor.showComments" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_HIDE_COMMENTS"></div>
            <div class="given-classes">
              <div>{{ 'TUTOR_SEARCH_CLASS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
              <div>{{ 'TUTOR_SEARCH_STUDENTS_COUNT' | translate }}: {{tutor.appointments.students || 0}}</div>
            </div>
          </div>
          <div class="reviews" ng-show="tutor.showComments">
            <div class="review" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="review in tutor.reviews.comments" ng-if="review.description" ng-image-adjustment image-container="user_picture" image-src="{{ review.student.picture_url }}">
              <h3>{{ 'TUTOR_SEARCH_COMMENTS' | translate }}</h3>
              <div class="user_picture_container">
                <div class="user_picture">
                  <img/>
                </div>
              </div>
              <div class="user-personal-info">
                <div class="content">
                  <h4 class="user-name">{{ review.student.first_name }} {{ review.student.last_name }}</h4>
                  <div class="review-info">
                    <em class="timestamp">{{ review.timestamp | timestampTranslateFilter:this }}</em>
                  </div>
                  <p class="user-review">{{ review.description }}</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <div class="content">
          <div class="content-price" ng-class="{ 'no-background' : tutor.id == selectedTutor.id }">
            <h4 class="price">
              MXN <br>
              {{ tutor.costRange }} <br>
              {{ 'EACH_HOUR' | translate }}
            </h4>
          </div>
          <div class="content-button">
            <a class="action-button see-availability" ng-if="!selectedTutor" ng-click="showTutorDetails(tutor)" translate="SHOW_AVAILABILITY"></a>
            <a class="action-button send-message" ng-click="openModalMessage($event,tutor)" translate="TUTOR_SEARCH_SEND_MESSAGE"></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <dir-pagination-controls pagination-id="tutorsPagination" template-url="/assets/student/dirPagination.tpl.html" on-page-change="pageChanged(newPageNumber)" ng-hide="selectedTutor">
    </dir-pagination-controls>
  </div>
  <p class="total-tutor" ng-hide="selectedTutor || !tutorList.length">
    {{totalTutors}} <span ng-if="totalTutors == 1">{{ 'SEARCH_TOTAL_TUTORS_SINGLE_LABEL' | translate }}</span><span ng-if="totalTutors > 1">{{ 'SEARCH_TOTAL_TUTORS_LABEL' | translate }}</span>
  </p>

  <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title" ng-hide="selectedTutor || !suggestedTutorList.length" translate="WE_RECOMMEND"></h3>
  <div>
    <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" dir-paginate="tutor in suggestedTutorList | itemsPerPage: tutorsPerPage" total-items="totalSuggestedTutors" pagination-id="suggestedTutorsPagination" ng-show="tutor.show" on-tutor-search-render current-page="suggested_pagination_current">
      <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-click="showTutorDetails(tutor)">
        <div class="tutor_picture">
          <img/>
        </div>
      </div>
      <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="content" ng-class="{ 'no-background' : tutor.id == selectedTutor.id }">
          <div class="content-info">
            <h4 class="tutor-name" ng-if="tutor.id != selectedTutor.id" ng-click="showTutorDetails(tutor)">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <h4 class="tutor-name expanded" ng-if="tutor.id == selectedTutor.id">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <p class="tutor-categories" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }"><span ng-repeat="category in tutor.categories">{{ category.name }}{{ $last ? '' : ', ' }}</span></p>
            <div class="preferences">
              <span class="item-added" ng-if="tutor.preference.online" title="{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}">{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}</span>
              <span class="item-added" ng-if="tutor.preference.office" title="{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}">{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}</span>
              <span class="item-added" ng-if="tutor.preference.student_place" title="{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}">{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}</span>
              <span class="item-added" ng-if="tutor.preference.public" title="{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}">{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}</span>
            </div>
            <pre class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="{{ 'MORE' | translate }}" ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></pre>
          </div>
          <div class="score-info">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
              </div>
            </div>
            <div class="score-more" ng-show="!hasComments(tutor.reviews)" translate="TUTOR_SEARCH_NO_COMMENTS"></div>
            <div class="score-more pointer" ng-hide="tutor.showComments || !hasComments(tutor.reviews)" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_SHOW_COMMENTS"></div>
            <div class="score-more pointer" ng-show="tutor.showComments" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_HIDE_COMMENTS"></div>
            <div class="given-classes">
              <div>{{ 'TUTOR_SEARCH_CLASS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
              <div>{{ 'TUTOR_SEARCH_STUDENTS_COUNT' | translate }}: {{tutor.appointments.students || 0}}</div>
            </div>
          </div>
          <div class="reviews" ng-show="tutor.showComments">
            <div class="review" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="review in tutor.reviews.comments" ng-image-adjustment image-container="user_picture" image-src="{{ review.student.picture_url }}">
              <h3>{{ 'TUTOR_SEARCH_COMMENTS' | translate }}</h3>
              <div class="user_picture_container">
                <div class="user_picture">
                  <img/>
                </div>
              </div>
              <div class="user-personal-info">
                <div class="content">
                  <h4 class="user-name">{{ review.student.first_name }} {{ review.student.last_name }}</h4>
                  <div class="review-info">
                    <em class="timestamp">{{ review.timestamp | timestampTranslateFilter }}</em>
                  </div>
                  <p class="user-review">{{ review.description }}</p>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <div class="content">
          <div class="content-price" ng-class="{ 'no-background' : tutor.id == selectedTutor.id }">
            <h4 class="price">
              MXN <br>
              {{ tutor.costRange }} <br>
              {{ 'EACH_HOUR' | translate }}
            </h4>
          </div>
          <div class="content-button">
            <a class="action-button see-availability" ng-if="!selectedTutor" ng-click="showTutorDetails(tutor)" translate="SHOW_AVAILABILITY"></a>
            <a class="action-button send-message" ng-click="openModalMessage($event,tutor)" translate="TUTOR_SEARCH_SEND_MESSAGE"></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <dir-pagination-controls pagination-id="suggestedTutorsPagination" template-url="/assets/student/dirPagination.tpl.html" on-page-change="pageChanged(newPageNumber)" ng-hide="selectedTutor">
    </dir-pagination-controls>
  </div>
  <p class="total-tutor" ng-hide="selectedTutor || !suggestedTutorList.length">
    {{totalSuggestedTutors}} <span ng-if="totalSuggestedTutors == 1">{{ 'SEARCH_TOTAL_TUTORS_SINGLE_LABEL' | translate }}</span><span ng-if="totalSuggestedTutors > 1">{{ 'SEARCH_TOTAL_TUTORS_LABEL' | translate }}</span>
  </p>

</div>

<div class="calendar" ng-show="selectedTutor">
  <h3 class="section-title">{{ 'TUTOR_SEARCH_SCHEDULE_CLASS_WITH' | translate }} {{ selectedTutor.first_name }}</h3>
  <ng-alert id="appointment-alert" alert-params="appointmentAlertParams"></ng-alert>
  <ul class="events">
    <li><span class="event appointment-status-available"></span> {{ 'APPOINTMENT_LEGEND_AVAILABLE' | translate }}</li>
    <li><span class="event appointment-status-unavailable"></span> {{ 'APPOINTMENT_LEGEND_UNAVAILABLE' | translate }}</li>
  </ul>
  <div class="week-view tutor-calendar-section" ng-controller="CalendarController">
    <div class="week-row tutor-calendar-title-day">
      <table>
        <tbody>
        <tr class="week-title">
          <td class="control"><span class="control-arrow control-left-arrow" ng-click="changeWeek('previous')" ng-show="showPreviousWeek"></span></td>
          <td class="title">{{ translateWeeklyCalendarTitle(selectedWeek[0].numberDay, MONTHS[selectedWeek[0].month], selectedWeek[6].numberDay, MONTHS[selectedWeek[6].month]) }}</td>
          <td class="control"><span class="control-arrow control-right-arrow" ng-click="changeWeek('next')"></span></td>
        </tr>
        </tbody>
      </table>
      <table>
        <tbody>
        <tr>
          <td class="week-day-title"></td>
          <td class="week-day-title" ng-repeat="day in DAYS">
            <span class="hidden-sm hidden-xs">{{ day.title | translate }}</span>
            <span class="hidden-md hidden-lg">{{ day.minTitle | translate }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tutor-calendar-hours week-row" calendar-scroll>
      <table ng-repeat="row in weekRows" id="week-row-{{ HOURS[$index] }}">
        <tbody>
        <tr>
          <td class="week-day"><span ng-hide="$index%2">{{ HOURS[$index] }}</span>&nbsp;</td>
          <td class="week-day" ng-class="[{true:'highlighted', false: ''}[halfHour.highlight], {true:'available', false: 'unavailable'}[halfHour.available]]" ng-repeat="halfHour in row.halfHours" ng-click="showAppointmentRequestModal($event, $parent.$index, $index, selectedWeek[$index])"></td>
        </tr>
        </tbody>
      </table>
    </div>
    <span us-spinner spinner-key="request-appointment-spinner"></span>
  </div>
</div>
</div>

<div class="appointment-request-feedback" ng-show="appointmentRequestSent">
  <h3 class="section-subtitle" ng-show="appointmentRequestSent">{{'APPOINTMENT_REQUEST_FEEDBACK_SUBTITLE' | translate}}</h3>
  <div>
    {{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS' | translate}}
    <ul>
      <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_TUTOR' | translate}}: {{ selectedTutor.first_name }} {{ selectedTutor.last_name }}</li>
      <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_CLASS' | translate}}: {{ selectedCategory.name }}</li>
      <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_DATE' | translate}}: {{ selectedClass.dateTimeISO | dateTranslateFilter:this }}</li>
      <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_TIME' | translate}}: {{ selectedClass.time }}</li>
      <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_COST' | translate}}: {{ selectedCategory.cost * 1.035 | currency:"$" }} ({{selectedCategory.cost | currency:"$"}} + {{ selectedCategory.cost * 0.035 | currency:"$" }} {{ 'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_COST_DETAIL' | translate }})</li>
    </ul>
    {{'APPOINTMENT_REQUEST_FEEDBACK_POLICIES' | translate}}
    <a title="{{ 'APPOINTMENT_REQUEST_FEEDBACK_POLICIES_LINK' | translate}}" ng-click="redirectToURL('dashboard.cancellation-policy')">{{'APPOINTMENT_REQUEST_FEEDBACK_POLICIES_LINK' | translate}}</a>
    <br/><br/>
    <p translate="APPOINTMENT_REQUEST_FEEDBACK_PAYMENT_NOTE"></p>
    <p class="uppercase" translate="APPOINTMENT_REQUEST_FEEDBACK_CONFIRMATION"></p>
  </div>

  <div class="action-buttons">
    <a class="action-button action-accept" ng-click="showSelectedTutorCalendar()">Aceptar</a>
  </div>
</div>

<div ng-hide="showTopSearchbar">
  <div class="section-search">
    <div class="search-image">
      <img src="/assets/site/geek.png" alt="Geek" class="hidden-xs">
    </div>
    <div class="search-form">
      <h2 class="hidden-xs">geek</h2>
      <h3 translate="WHAT_TO_LEARN"></h3>
      <form>
        <angucomplete-alt-geek id="topics"
                               placeholder="{{ 'AUTOCOMPLETE_TOPIC' | translate }}"
                               pause="600"
                               selected-object="subjectInput"
                               local-data="categories"
                               search-fields="name"
                               title-field="name"
                               minlength="1"
                               input-class="category">
        </angucomplete-alt-geek>
        <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="{{ 'AUTOCOMPLETE_ZONE' | translate }}" googleplace>
        <a href="" class="search-button icon-pointer" type="button" ng-click="searchTutor(1, true, false)" translate="SEARCH"></a>
      </form>
    </div>
  </div>
</div>

</div>

<div ng-modal-appointment-request></div>
