<div class="section-search-results" ng-controller="SearchTutorController as SearchTutorCtrl">
  <div class="bgcolor-light-gray light-search section-search" ng-show="showTopSearchbar">
    <h2 class="col-lg-2 col-md-3 hidden-sm hidden-xs">geek</h2>
    <form class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <angucomplete-alt-geek id="topics"
                        placeholder="{{ 'AUTOCOMPLETE_TOPIC' | translate }}"
                        pause="600"
                        selected-object="subjectInput"
                        local-data="categories"
                        search-fields="name"
                        title-field="name"
                        minlength="1"
                        input-class="category">
      </angucomplete-alt-geek>
      <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="{{ 'AUTOCOMPLETE_ZONE' | translate }}" googleplace>
      <a class="search-button icon-pointer" ng-click="searchTutor()" translate="SEARCH"></a>
    </form>
    <div class="clearfix"></div>
  </div>

  <div class="search-results-list" ng-show="showTopSearchbar && !appointmentRequestSent">
    <span us-spinner spinner-key="search-tutor-spinner"></span>

    <div class="unavailable-message" ng-show="tutorList && tutorList && tutorList.length == 0 && suggestedTutorList.length == 0">
      <div class="unavailable-message-content">
        <h3 translate="UNAVAILABLE_MESSAGE_SEARCH_TUTORS"></h3>
      </div>
    </div>
    <div class="search-results-tools" ng-hide="selectedTutor">
      <span>{{ 'FILTERS' | translate}}:</span>

      <input type="checkbox" id="tutor_class_mode_online" name="tutor_class_mode" ng-model="filters.online" ng-change="filterSearch()">
      <label for="tutor_class_mode_online" translate="TUTOR_PROFILE_LABEL_CLASS_PREFERENCE_ONLINE"></label>

      <input type="checkbox" id="tutor_class_mode_tutor_home" name="tutor_class_mode" ng-model="filters.office" ng-change="filterSearch()">
      <label for="tutor_class_mode_tutor_home" translate="TUTOR_PROFILE_LABEL_CLASS_PREFERENCE_OFFICE"></label>

      <input type="checkbox" id="tutor_class_mode_student_home" name="tutor_class_mode" ng-model="filters.student" ng-change="filterSearch()">
      <label for="tutor_class_mode_student_home" translate="TUTOR_PROFILE_LABEL_CLASS_PREFERENCE_STUDENT"></label>

      <input type="checkbox" id="tutor_class_mode_public" name="tutor_class_mode" ng-model="filters.public" ng-change="filterSearch()">
      <label for="tutor_class_mode_public" translate="TUTOR_PROFILE_LABEL_CLASS_PREFERENCE_PUBLIC"></label>

    </div>
    <div class="search-results-tools" ng-show="selectedTutor">
      <span class="btn-back" ng-click="showSearchResults()" ng-show="selectedTutor"><< {{ 'SHOW_ALL' | translate }}</span>
    </div>
    <div class="search-result-list" ng-show="tutorList.length || suggestedTutorList.length">
      <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in tutorList" ng-show="tutor.show" on-tutor-search-render>
        <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="tutor_picture">
            <img/>
          </div>
        </div>
        <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content">
            <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <h5 class="tutor-county"><span ng-repeat="county in tutor.counties">{{ county.name }}{{ $last ? '' : ', ' }}</span></h5>
            <p class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="{{ 'MORE' | translate }}" ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></p>
            <div class="given-classes">
              <div>{{ 'TUTOR_SEARCH_CLASS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
              <div>{{ 'TUTOR_SEARCH_STUDENTS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
            </div>
          </div>
        </div>
        <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="content">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
              </div>
            </div>
            <div class="score-more" ng-show="!tutor.reviews.comments.length" translate="TUTOR_SEARCH_NO_COMMENTS"></div>
            <div class="score-more pointer" ng-hide="tutor.showComments || !tutor.reviews.comments.length" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_SHOW_COMMENTS"></div>
            <div class="score-more pointer" ng-show="tutor.showComments" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_HIDE_COMMENTS"></div>
            <div class="content-price">
              <h4 class="price">
                {{ tutor.costRange }} <br>
                {{ 'EACH_HOUR' | translate }}
              </h4>
              <div class="preferences">
                <span class="icon-earth" ng-class="{'active' : tutor.preference.online}" title="{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}"></span>
                <span class="icon-teach" ng-class="{'active' : tutor.preference.office}" title="{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}"></span>
                <span class="icon-school" ng-class="{'active' : tutor.preference.student_place}" title="{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}"></span>
                <span class="icon-coffee" ng-class="{'active' : tutor.preference.public}" title="{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}"></span>
              </div>
            </div>
            <div class="content-button">
              <button class="action-button see-availability" ng-click="showTutorDetails(tutor)" ng-hide="selectedTutor" translate="SHOW_AVAILABILITY"></button>
              <button class="action-button send-message" ng-show="selectedTutor" ng-click="openModalMessage($event,tutor)" translate="TUTOR_SEARCH_SEND_MESSAGE"></button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="reviews" ng-show="tutor.showComments">
          <div class="review" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="review in tutor.reviews.comments" ng-image-adjustment image-container="user_picture" image-src="{{ review.student.picture_url }}">
            <div class="user_picture_container">
              <div class="user_picture">
                <img/>
              </div>
            </div>
            <div class="user-personal-info">
              <div class="content">
                <h4 class="user-name">{{ review.student.first_name }} {{ review.student.last_name }}</h4>
                <p class="user-last-message">{{ review.description }}</p>
                <div class="review-info">
                  <em class="timestamp">{{ review.timestamp | timestampTranslateFilter }}</em>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title" ng-hide="selectedTutor || !suggestedTutorList.length" translate="WE_RECOMMEND"></h3>
      <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in suggestedTutorList" ng-show="tutor.show" on-tutor-search-render>
        <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="tutor_picture">
            <img/>
          </div>
        </div>
        <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content">
            <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <h5 class="tutor-county"><span ng-repeat="county in tutor.counties">{{ county.name }}{{ $last ? '' : ', ' }}</span></h5>
            <p class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="{{ 'MORE' | translate }}" ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></p>
            <div class="given-classes">
              <div>{{ 'TUTOR_SEARCH_CLASS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
              <div>{{ 'TUTOR_SEARCH_STUDENTS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
            </div>
          </div>
        </div>
        <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="content">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
              </div>
            </div>
            <div class="score-more" ng-show="!tutor.reviews.comments.length" translate="TUTOR_SEARCH_NO_COMMENTS"></div>
            <div class="score-more pointer" ng-hide="tutor.showComments || !tutor.reviews.comments.length" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_SHOW_COMMENTS"></div>
            <div class="score-more pointer" ng-show="tutor.showComments" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_HIDE_COMMENTS"></div>
            <div class="content-price">
              <h4 class="price">
                {{ tutor.costRange }} <br>
                {{ 'EACH_HOUR' | translate }}
              </h4>
              <div class="preferences">
                <span class="icon-earth" ng-class="{'active' : tutor.preference.online}" title="{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}"></span>
                <span class="icon-teach" ng-class="{'active' : tutor.preference.office}" title="{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}"></span>
                <span class="icon-school" ng-class="{'active' : tutor.preference.student_place}" title="{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}"></span>
                <span class="icon-coffee" ng-class="{'active' : tutor.preference.public}" title="{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}"></span>
              </div>
            </div>
            <div class="content-button">
              <button class="action-button see-availability" ng-click="showTutorDetails(tutor)" ng-hide="selectedTutor" translate="SHOW_AVAILABILITY"></button>
              <button class="action-button send-message" ng-click="openModalMessage($event,tutor)" ng-show="selectedTutor" translate="TUTOR_SEARCH_SEND_MESSAGE"></button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="reviews" ng-show="tutor.showComments">
          <div class="review" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="review in tutor.reviews.comments" ng-image-adjustment image-container="user_picture" image-src="{{ review.user.picture_url }}">
            <div class="user_picture_container">
              <div class="user_picture">
                <img/>
              </div>
            </div>
            <div class="user-personal-info">
              <div class="content">
                <h4 class="user-name">{{ review.user.name }}</h4>
                <p class="user-last-message">{{ review.text }}</p>
                <div class="review-info">
                  <em class="timestamp">{{ review.timestamp | timestampTranslateFilter }}</em>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="calendar" ng-show="selectedTutor">
      <h3 class="section-title">{{ 'TUTOR_SEARCH_SCHEDULE_CLASS_WITH' | translate }} {{ selectedTutor.first_name }}</h3>
      <ng-alert id="appointment-alert" alert-params="appointmentAlertParams"></ng-alert>
      <div class="week-view tutor-calendar-section" ng-controller="CalendarController">
        <div class="week-row tutor-calendar-title-day">
          <table>
            <tbody>
            <tr class="week-title">
              <td class="control"><span class="control-arrow control-left-arrow" ng-click="changeWeek('previous')" ng-show="showPreviousWeek"></span></td>
              <td class="title">{{ translateWeeklyCalendarTitle(selectedWeek[0].numberDay, MONTHS[selectedWeek[0].month], selectedWeek[6].numberDay, MONTHS[selectedWeek[6].month]) }}</td>
              <td class="control"><span class="control-arrow control-right-arrow" ng-click="changeWeek('next')"></span></td>
            </tr>
            </tbody>
          </table>
          <table>
            <tbody>
            <tr>
              <td class="week-day-title"></td>
              <td class="week-day-title" ng-repeat="day in DAYS">
                <span class="hidden-sm hidden-xs">{{ day.title | translate }}</span>
                <span class="hidden-md hidden-lg">{{ day.minTitle | translate }}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="tutor-calendar-hours week-row" calendar-scroll>
          <table ng-repeat="row in weekRows" id="week-row-{{ HOURS[$index] }}">
            <tbody>
            <tr>
              <td class="week-day"><span ng-hide="$index%2">{{ HOURS[$index] }}</span>&nbsp;</td>
              <td class="week-day" ng-class="[{true:'highlighted', false: ''}[halfHour.highlight], {true:'available', false: 'unavailable'}[halfHour.available]]" ng-repeat="halfHour in row.halfHours" ng-click="showAppointmentRequestModal($event, $parent.$index, $index, selectedWeek[$index])"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <span us-spinner spinner-key="request-appointment-spinner"></span>
      </div>
    </div>
  </div>

  <div class="appointment-request-feedback" ng-show="appointmentRequestSent">
    <div>
      {{'APPOINTMENT_REQUEST_FEEDBACK_SUBTITLE' | translate}}
      <br/><br/>
      {{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS' | translate}}
        <ul>
          <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_TUTOR' | translate}}: {{ selectedTutor.first_name }} {{ selectedTutor.last_name }}</li>
          <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_CLASS' | translate}}: {{ selectedCategory.name }}</li>
          <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_DATE' | translate}}: {{ selectedClass.dateTimeISO | dateTranslateFilter }}</li>
          <li>{{'APPOINTMENT_REQUEST_FEEDBACK_DETAILS_TIME' | translate}}: {{ selectedClass.time }}</li>
        </ul>
      {{'APPOINTMENT_REQUEST_FEEDBACK_POLICIES' | translate}}
      <br/><br/>
    </div>

    <div class="action-buttons">
      <a class="action-button action-accept" ng-click="showSelectedTutorCalendar()">Aceptar</a>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="showTopSearchbar">
    <div class="bgcolor-light-gray section-search">
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
      <div>
        <h2 class="hidden-xs">geek</h2>
        <h3 translate="WHAT_TO_LEARN"></h3>
        <form>
          <angucomplete-alt-geek id="topics"
                            placeholder="{{ 'AUTOCOMPLETE_TOPIC' | translate }}"
                            pause="600"
                            selected-object="subjectInput"
                            local-data="categories"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="category">
          </angucomplete-alt-geek>
          <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="{{ 'AUTOCOMPLETE_ZONE' | translate }}" googleplace>
          <a class="search-button icon-pointer" ng-click="searchTutor()" translate="SEARCH"></a>
        </form>
      </div>
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
    </div>
  </div>
</div>

<div ng-modal-appointment-request></div>
