<div class="student-tutors-container">
  <h2 class="section-title" translate="MY_TUTORS"></h2>
  <div class="student-tutors" ng-controller="MyTutorsController as MyTutorsCtrl">
    <div class="unavailable-message" ng-hide="tutorList.length">
      <div class="unavailable-message-content">
        <h3 translate="UNAVAILABLE_MESSAGE_TUTORS"></h3>
      </div>
    </div>
    <div class="tutors-list-view-row" ng-show="tutorList.length">
      <table>
        <thead>
        <tr class="tutors-list-title-row">
          <th class="info-title" translate="TABLE_TITLE_TUTOR"></th>
          <th class="info-title" translate="TABLE_TITLE_ACTIONS"></th>
        </tr>
        </thead>
      </table>
      <table>
        <tbody>
            <tr ng-repeat="tutor in tutorList" class="tutors-list-info-row">
                <td class="tutor-info" ng-image-adjustment image-container="user_picture" image-src="{{ tutor.picture_url }}">
                  {{ tutor.first_name }} {{ tutor.last_name }}
                </td>
                <td class="tutor-info">
                  <div class="appointment-button" ng-hide="tutor.has_evaluation">
                    <a class="review-class" ng-click="showReviewDetail($event, tutor)">Calificar</a>
                  </div>
                  <div ng-show="tutor.has_evaluation">
                    {{ 'MY_TUTORS_REVIEWED' | translate }}
                  </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
