<div ng-controller="PaymentController">
  <span us-spinner spinner-key="payments-spinner"></span>
  <h2 class="section-title">{{ 'PAYMENT_TITLE' | translate}}</h2>
  <ng-alert id="student-payment-form" alert-params="studentPaymentAlertParams"></ng-alert>

  <!-- Sección de listado de métodos de pago vacío -->
  <div class="unavailable-message" ng-show="paymentMethodsList && paymentMethodsList.length == 0 && !showNewCard">
    <div class="unavailable-message-content">
      <h3 translate="UNAVAILABLE_MESSAGE_PAYMENTS_NO_METHODS_STUDENT"></h3>
      <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.CARD_METHOD.code)"><span class="icon-credit-card"></span> {{ 'PAYMENT_ADD_A_CARD' | translate }}</a>
    </div>
  </div>

  <!-- Listado de métodos de pago actuales -->
  <div ng-show="paymentMethodsList && paymentMethodsList.length && !showNewCard">
    <h3 class="section-subtitle">{{ 'PAYMENT_LABEL_CURRENT_CARD_BANK_ACCOUNT' | translate }}</h3>
    <div class="payment-methods-list">
      <div class="payment-method-headers">
        <div class="type"></div>
        <div class="number">{{ 'PAYMENT_LABEL_CARD_BANK_ACCOUNT' | translate }}</div>
        <div class="main">{{ 'PAYMENT_LABEL_MAIN_ACCOUNT' | translate }}</div>
        <div class="control"></div>
      </div>
      <div ng-repeat="paymentMethod in paymentMethodsList | orderBy:paymenthMethod.active" class="payment-method-item">
        <div class="payment-method-resume">
          <div class="type"><span class="{{ paymentMethod.type.icon }}"></span></div>
          <div class="number">XXXX-XXXX-XXXX-{{ paymentMethod.card_number }}</div>
          <div class="main"><span class="icon-accept" ng-if="paymentMethod.active"></span></div>
          <span ng-click="togglePaymentMethodInfo(paymentMethod)"><span class="control-arrow" ng-class="{ true:'control-down-arrow', false:'control-right-arrow-one'}[paymentMethod.showInfo]"></span></span>
        </div>
        <div class="payment-method-info" ng-show="paymentMethod.showInfo">
          <div>
            <table>
              <thead>
              <tr>
                <th class="brand"></th>
                <th class="holder-name">{{ 'PAYMENT_LABEL_ACCOUNT_NAME' | translate }}</th>
                <th class="more-info">{{ 'PAYMENT_LABEL_EXPIRATION_DATE' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="brand"><span ng-class="paymentMethod.brandClass"></span></td>
                <td class="holder-name">{{ paymentMethod.holder_name }}</td>
                <td class="more-info">{{ paymentMethod.expiration_month }}/{{ paymentMethod.expiration_year }}</td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="appointment-button">
            <a ng-repeat="button in PAYMENT_METHODS_BUTTONS" ng-if="showActionButtons(paymentMethod.active, button.action)"  ng-class="[button.class]" title=" {{ button.title | translate }}" ng-click="callButtonAction($event, button.action, paymentMethod)"><span ng-class="[button.icon]"></span> {{ button.text | translate }}</a>
          </div>

        </div>
      </div>
    </div>

    <fieldset>
        <div class="action-button-holder">
            <a class="action-button action-button-light-green" title="" ng-click="createPaymentMethod(PAYMENT_METHODS.CARD_METHOD.code)"><span class="icon-credit-card"></span> {{ 'PAYMENT_ADD_A_CARD' | translate }}</a>
        </div>
    </fieldset>

  </div>

  <!-- Forma para nueva tarjeta -->
  <div ng-show="showNewCard">
    <div class="form">
      <form name="studentPaymentOptionsForm" id="student_payment_options_form" class="dashboard-form validation-form">
        <h3 class="section-subtitle" translate="PAYMENT_METHOD_SUBTITLE"></h3>
        <fieldset>
          <div>
            <div class="form-group" show-errors>
              <div class="left">
                <label> {{ 'DEBIT_CARD_HOLDER_NAME' | translate }}:</label>
              </div>
              <div class="right">
                <input type="text" name="debit_card_holder" ng-model="debitCardHolder" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_DEBIT_CARD_HOLDER_NAME' | translate }}" popover-input-name="{{ 'DEBIT_CARD_HOLDER_NAME' | translate }}" required/>
                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.debit_card_holder.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
              </div>
            </div>
            <div class="form-group" show-errors>
              <div class="left">
                <label>{{ 'DEBIT_CARD_NUMBER' | translate }}:</label>
              </div>
              <div class="right">
                <input type="text" name="debit_card_number" ng-model="debitCardNumber" pattern="/^[0-9]+$/" ng-pattern="/^[0-9]+$/" ng-minlength="16" ng-maxlength="16" maxlength="16" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_DEBIT_CARD_NUMBER' | translate }}" popover-input-name="{{ 'DEBIT_CARD_NUMBER' | translate }}" required/>
                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.debit_card_number.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
              </div>
            </div>
            <div class="form-group" ng-class="expirationErrorClass">
              <div class="left">
                <label>{{ 'PAYMENT_LABEL_EXPIRATION_DATE' | translate }}:</label>
              </div>
              <div class="right">

                <div class="dropdown form-dropdown" >
                  <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                    <span ng-if="expirationMonth">{{ expirationMonth }}</span>
                    <span ng-if="!expirationMonth" translate="MONTH"></span>
                    &nbsp;
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header"><span translate="MONTH"></span></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="month in MONTHS"><a role="menuitem" tabindex="{{ $index+1 }}"  ng-click="setExpirationMonth($index+1)">{{ ($index+1) }}</a></li>
                  </ul>
                </div>

                <div class="dropdown form-dropdown">
                  <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                    <span ng-if="expirationYear">{{ expirationYear }}</span>
                    <span ng-if="!expirationYear" translate="YEAR"></span>
                    &nbsp;
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header"><span translate="YEAR"></span></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="year in availableYears"><a role="menuitem" tabindex="{{ year }}"  ng-click="setExpirationYear(year)">{{ year }}</a></li>
                  </ul>
                </div>

                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.expiration_date.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>

              </div>
            </div>
            <div class="form-group" show-errors>
              <div class="left">
                <label> {{ 'PAYMENT_LABEL_VERIFICATION_NUMBER' | translate }}:</label>
              </div>
              <div class="right">
                <div class="input-container-small">
                  <input type="text" name="verification_number" ng-model="debitCardValidationNumber" ng-pattern="/^[0-9]+$/" ng-minlength="3" ng-maxlength="5" maxlength="5" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_VERIFICATION_NUMBER' | translate }}" popover-input-name="{{ 'PAYMENT_LABEL_VERIFICATION_NUMBER' | translate }}" required/>
                  <span class="popup-trigger" popover="{{studentPaymentOptionsForm.verification_number.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
                </div>
              </div>
            </div>
            <div class="form-group" show-errors>
              <div class="left">
                <label> {{ 'PAYMENT_LABEL_ADDRESS' | translate }}:</label>
              </div>
              <div class="right">
                <input type="text" name="address_line_1" ng-model="addressLine1"  class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_ADDRESS_LINE_1' | translate }}" popover-input-name="{{ 'PAYMENT_LABEL_ADDRESS' | translate }}" required/>
                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.address_line_1.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
              </div>
            </div>

            <div class="form-group" show-errors>
              <div class="left"></div>
              <div class="right">
                <input type="text" name="address_line_2" ng-model="addressLine2" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_ADDRESS_LINE_2' | translate }}" popover-input-name="{{ 'PAYMENT_LABEL_ADDRESS' | translate }}" required/>
                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.address_line_2.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
              </div>
            </div>

            <div class="form-group" show-errors>
              <div class="left">
                <label> {{ 'PAYMENT_LABEL_CITY' | translate }}:</label>
              </div>
              <div class="right">
                <input type="text" name="city" ng-model="city"  class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_CITY' | translate }}" popover-input-name="{{ 'PAYMENT_LABEL_CITY' | translate }}" required/>
                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.city.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
              </div>
            </div>

            <div class="form-group" ng-class="stateErrorClass">
              <div class="left">
                <label> {{ 'PAYMENT_LABEL_STATE' | translate }}:</label>
              </div>
              <div class="right">
                <div class="dropdown form-dropdown input-container-medium">
                  <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                    <span ng-if="state">{{ state }}</span>
                    <span ng-if="!state" translate="STATE"></span>
                    &nbsp;
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="state in LIST_OF_STATES"><a role="menuitem" ng-click="setState(state)">{{ state }}</a></li>
                  </ul>
                </div>
                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.state.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
              </div>
            </div>

            <div class="form-group" show-errors>
              <div class="left">
                <label> {{ 'PAYMENT_LABEL_POSTAL_CODE' | translate }}:</label>
              </div>
              <div class="right">
                <input type="text" name="postal_code" ng-model="postalCode" class="form-input form-control" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="5" maxlength="5" placeholder="{{ 'PAYMENT_PLACEHOLDER_POSTAL_CODE' | translate }}" popover-input-name="{{ 'PAYMENT_LABEL_POSTAL_CODE' | translate }}" required/>
                <span class="popup-trigger" popover="{{studentPaymentOptionsForm.postal_code.popoverMessage}}" popover-trigger="click" popover-animation="false">!</span>
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
            <div class="action-button-holder">
              <a class="action-button action-button-light-blue" title="" ng-click="cancelPaymentMethodCreation()">{{ 'CANCEL' | translate }}</a>
              <a class="action-button action-button-light-green" title="" ng-click="saveCard()">{{ 'SAVE' | translate }}</a>
            </div>
        </fieldset>

      </form>
    </div>
  </div>

</div>