<div class="container" ng-controller="SearchTutorController as searchTutorCtrl">
  <div class="row">
    <div class="section-search-results search-container">
      <div class="light-search" ng-show="showTopSearchbar">
        <h2 class="hidden-sm hidden-xs">geek</h2>
        <form>
          <angucomplete-alt-geek id="topics"
                                 placeholder="{{ 'AUTOCOMPLETE_TOPIC' | translate }}"
                                 pause="600"
                                 selected-object="subjectInput"
                                 local-data="categories"
                                 search-fields="name"
                                 title-field="name"
                                 minlength="1"
                                 input-class="category">
          </angucomplete-alt-geek>
          <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="{{ 'AUTOCOMPLETE_ZONE' | translate }}" googleplace>
          <a class="search-button icon-pointer" ng-click="searchTutor()" translate="SEARCH"></a>
        </form>
      </div>

      <div class="search-results-list" ng-show="showTopSearchbar">
        <span us-spinner spinner-key="search-tutor-spinner"></span>

        <div class="unavailable-message" ng-show="tutorList && suggestedTutorList && tutorList.length == 0 && suggestedTutorList.length == 0">
          <div class="unavailable-message-content">
            <h3 translate="UNAVAILABLE_MESSAGE_SEARCH_TUTORS"></h3>
          </div>
        </div>

        <div class="search-result-list" ng-show="tutorList.length || suggestedTutorList.length">
          <div class="search-results-tools" ng-hide="selectedTutor">
            <div class="filter-tools">
              <span class="category filter-label">{{ 'FILTERS' | translate}}:</span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_online" name="tutor_class_mode" ng-model="filters.online" ng-change="searchTutor(1)"/>
          <label for="tutor_class_mode_online" translate="SEARCH_FILTER_LABEL_ONLINE"></label>
        </span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_tutor_home" name="tutor_class_mode" ng-model="filters.office" ng-change="searchTutor(1)"/>
          <label for="tutor_class_mode_tutor_home" translate="SEARCH_FILTER_LABEL_OFFICE"></label>
        </span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_student_home" name="tutor_class_mode" ng-model="filters.student" ng-change="searchTutor(1)"/>
          <label for="tutor_class_mode_student_home" translate="SEARCH_FILTER_LABEL_STUDENT"></label>
        </span>
        <span class="search-result-filter filter-item">
          <input type="checkbox" id="tutor_class_mode_public" name="tutor_class_mode" ng-model="filters.public" ng-change="searchTutor(1)"/>
          <label for="tutor_class_mode_public" translate="SEARCH_FILTER_LABEL_PUBLIC"></label>
        </span>
            </div>
            <div class="order-tools">
              <span class="category order-label">{{ 'SEARCH_ORDER_BY_LABEL' | translate}}:</span>
        <span class="search-result-filter order-item">
          <div class="dropdown form-dropdown" >
            <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
              <span ng-if="orderByOption">{{ orderByOption.title | translate }}</span>
              &nbsp;
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header"><span translate="SEARCH_ORDER_BY_LABEL"></span></li>
              <li role="presentation" class="divider"></li>
              <li role="presentation" ng-repeat="orderOption in orderOptions"><a role="menuitem" tabindex="{{ orderOption.code }}"  ng-click="setOrderByOption(orderOption)" translate>{{ orderOption.title }}</a></li>
            </ul>
          </div>
        </span>
            </div>
          </div>
          <div class="search-results-tools" ng-show="selectedTutor">
            <span class="btn-back" ng-click="showSearchResults()" ng-show="selectedTutor"><< {{ 'SHOW_ALL' | translate }}</span>
          </div>
          <div>
            <div class="tutor" dir-paginate="tutor in tutorList | itemsPerPage: tutorsPerPage" total-items="totalTutors" pagination-id="tutorsPagination" on-tutor-search-render>
              <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="tutor_picture">
                  <img/>
                </div>
              </div>
              <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="content">
                  <div class="content-info">
                    <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
                    <p class="tutor-categories"><span ng-repeat="category in tutor.categories">{{ category.name }}{{ $last ? '' : ', ' }}</span></p>
                    <div class="preferences">
                      <span class="item-added" ng-if="tutor.preference.online" title="{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}">{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}</span>
                      <span class="item-added" ng-if="tutor.preference.office" title="{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}">{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}</span>
                      <span class="item-added" ng-if="tutor.preference.student_place" title="{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}">{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}</span>
                      <span class="item-added" ng-if="tutor.preference.public" title="{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}">{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}</span>
                    </div>
                    <p class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="{{ 'MORE' | translate }}" ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></p>
                  </div>
                  <div class="score-info">
                    <div class="content-score">
                      <div class="score">
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
                      </div>
                    </div>
                    <div class="score-more" ng-show="!tutor.reviews.comments.length" translate="TUTOR_SEARCH_NO_COMMENTS"></div>
                    <div class="score-more pointer" ng-hide="tutor.showComments || !tutor.reviews.comments.length" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_SHOW_COMMENTS"></div>
                    <div class="score-more pointer" ng-show="tutor.showComments" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_HIDE_COMMENTS"></div>
                    <div class="given-classes">
                      <div>{{ 'TUTOR_SEARCH_CLASS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
                      <div>{{ 'TUTOR_SEARCH_STUDENTS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
                    </div>
                  </div>
                  <div class="reviews" ng-show="tutor.showComments">
                    <div class="review" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="review in tutor.reviews.comments" ng-image-adjustment image-container="user_picture" image-src="{{ review.student.picture_url }}">
                      <h3>{{ 'TUTOR_SEARCH_COMMENTS' | translate }}</h3>
                      <div class="user_picture_container">
                        <div class="user_picture">
                          <img/>
                        </div>
                      </div>
                      <div class="user-personal-info">
                        <div class="content">
                          <h4 class="user-name">{{ review.student.first_name }} {{ review.student.last_name }}</h4>
                          <div class="review-info">
                            <em class="timestamp">{{ review.timestamp | timestampTranslateFilter }}</em>
                          </div>
                          <p class="user-review">{{ review.description }}</p>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="content">
                  <div class="content-price">
                    <h4 class="price">
                      MXN <br>
                      {{ tutor.costRange }} <br>
                      {{ 'EACH_HOUR' | translate }}
                    </h4>
                  </div>
                  <div class="content-button">
                    <a class="action-button see-availability" ng-if="!selectedTutor" ng-click="showTutorDetails(tutor)" translate="SHOW_AVAILABILITY"></a>
                    <a class="action-button send-message" ng-click="openModalMessage($event,tutor)" translate="TUTOR_SEARCH_SEND_MESSAGE"></a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <dir-pagination-controls pagination-id="tutorsPagination" template-url="/assets/student/dirPagination.tpl.html" on-page-change="pageChanged(newPageNumber)">
            </dir-pagination-controls>
          </div>

          <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title" ng-show="suggestedTutorList.length > 0 && !selectedTutor" translate="WE_RECOMMEND"></h3>

          <div>
            <div class="tutor suggested-tutors" ng-show="suggestedTutorList.length > 0 && !selectedTutor" dir-paginate="tutor in suggestedTutorList | itemsPerPage: tutorsPerPage" total-items="totalSuggestedTutors" pagination-id="suggestedTutorsPagination" on-tutor-search-render>
              <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="tutor_picture">
                  <img/>
                </div>
              </div>
              <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="content">
                  <div class="content-info">
                    <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
                    <p class="tutor-categories"><span ng-repeat="category in tutor.categories">{{ category.name }}{{ $last ? '' : ', ' }}</span></p>
                    <div class="preferences">
                      <span class="item-added" ng-if="tutor.preference.online" title="{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}">{{ 'TUTOR_PREFERENCE_ONLINE' | translate }}</span>
                      <span class="item-added" ng-if="tutor.preference.office" title="{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}">{{ 'TUTOR_PREFERENCE_OFFICE' | translate }}</span>
                      <span class="item-added" ng-if="tutor.preference.student_place" title="{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}">{{ 'TUTOR_PREFERENCE_STUDENT' | translate }}</span>
                      <span class="item-added" ng-if="tutor.preference.public" title="{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}">{{ 'TUTOR_PREFERENCE_PUBLIC' | translate }}</span>
                    </div>
                    <p class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="{{ 'MORE' | translate }}" ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></p>
                  </div>
                  <div class="score-info">
                    <div class="content-score">
                      <div class="score">
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                        <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
                      </div>
                    </div>
                    <div class="score-more" ng-show="!tutor.reviews.comments.length" translate="TUTOR_SEARCH_NO_COMMENTS"></div>
                    <div class="score-more pointer" ng-hide="tutor.showComments || !tutor.reviews.comments.length" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_SHOW_COMMENTS"></div>
                    <div class="score-more pointer" ng-show="tutor.showComments" ng-click="toggleComments(tutor)" translate="TUTOR_SEARCH_HIDE_COMMENTS"></div>
                    <div class="given-classes">
                      <div>{{ 'TUTOR_SEARCH_CLASS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
                      <div>{{ 'TUTOR_SEARCH_STUDENTS_COUNT' | translate }}: {{tutor.appointments.classes || 0}}</div>
                    </div>
                  </div>
                  <div class="reviews" ng-show="tutor.showComments">
                    <div class="review" class="col-lg-12 col-md-12 col-sm-12" ng-repeat="review in tutor.reviews.comments" ng-image-adjustment image-container="user_picture" image-src="{{ review.student.picture_url }}">
                      <h3>{{ 'TUTOR_SEARCH_COMMENTS' | translate }}</h3>
                      <div class="user_picture_container">
                        <div class="user_picture">
                          <img/>
                        </div>
                      </div>
                      <div class="user-personal-info">
                        <div class="content">
                          <h4 class="user-name">{{ review.student.first_name }} {{ review.student.last_name }}</h4>
                          <div class="review-info">
                            <em class="timestamp">{{ review.timestamp | timestampTranslateFilter }}</em>
                          </div>
                          <p class="user-review">{{ review.description }}</p>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <div class="content">
                  <div class="content-price">
                    <h4 class="price">
                      MXN <br>
                      {{ tutor.costRange }} <br>
                      {{ 'EACH_HOUR' | translate }}
                    </h4>
                  </div>
                  <div class="content-button">
                    <a class="action-button see-availability" ng-if="!selectedTutor" ng-click="showTutorDetails(tutor)" translate="SHOW_AVAILABILITY"></a>
                    <a class="action-button send-message" ng-click="openModalMessage($event,tutor)" translate="TUTOR_SEARCH_SEND_MESSAGE"></a>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <dir-pagination-controls pagination-id="tutorsPagination" template-url="/assets/student/dirPagination.tpl.html" on-page-change="pageChanged(newPageNumber)">
            </dir-pagination-controls>
          </div>
        </div>

      </div>
    </div>

    <div ng-hide="showTopSearchbar">
      <div class="bgcolor-light-gray section-search">
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
        <div>
          <h2 class="hidden-xs">geek</h2>
          <h3 translate="WHAT_TO_LEARN"></h3>
          <form>
            <angucomplete-alt-geek id="topics"
                                   placeholder="{{ 'AUTOCOMPLETE_TOPIC' | translate }}"
                                   pause="600"
                                   selected-object="subjectInput"
                                   local-data="categories"
                                   search-fields="name"
                                   title-field="name"
                                   minlength="1"
                                   input-class="category">
            </angucomplete-alt-geek>
            <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="{{ 'AUTOCOMPLETE_ZONE' | translate }}" googleplace>
            <a class="search-button icon-pointer" ng-click="searchTutor()" translate="SEARCH"></a>
          </form>
        </div>
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
      </div>
    </div>

  </div>
</div>

<div class="bgcolor-medium-gray separator-slim" ng-hide="tutorResultListVisible"></div>
<div class="bgcolor-light-orange separator margin-bottom" ng-hide="tutorResultListVisible"></div>

<div class="container-fluid margin-bottom" ng-hide="tutorResultListVisible">
  <div class="row bgcolor-gradient-green how-it-works-wrapper">
    <div class="section-how-it-works">
      <div class="col-lg-4 col-md-4 col-sm-4 columns text-color-dark-green how-item">
        <div class="title-content">
          <span class="number">1</span>
          <span class="title" translate="STUDENT_HOW_STEP_1_TITLE"></span>
        </div>
        <p translate="STUDENT_HOW_STEP_1"></p>
        <img src="/assets/site/student-how-search.png" alt="{{ 'STUDENT_HOW_STEP_1_TITLE' | translate}}">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 columns text-color-dark-green how-item">
        <div class="title-content">
          <span class="number">2</span>
          <span class="title" translate="STUDENT_HOW_STEP_2_TITLE"></span>
        </div>
        <p translate="STUDENT_HOW_STEP_2"></p>
        <img src="/assets/site/student-how-compare.png" alt="{{ 'STUDENT_HOW_STEP_2_TITLE' | translate}}">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 columns text-color-dark-green how-item">
        <div class="title-content">
          <span class="number">3</span>
          <span class="title" translate="STUDENT_HOW_STEP_3_TITLE"></span>
        </div>
        <p translate="STUDENT_HOW_STEP_3"></p>
        <img src="/assets/site/student-how-book.png" alt="{{ 'STUDENT_HOW_STEP_3_TITLE' | translate}}">
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="bgcolor-white separator-slim" ng-hide="tutorResultListVisible"></div>
    <div class="section-how-it-works">
      <div class="col-lg-8 col-md-8 col-sm-12 columns text-color-dark-green how-item">
        <div class="title-content">
          <span class="number">4</span>
          <span class="title" translate="STUDENT_HOW_STEP_4_TITLE"></span>
        </div>
        <img src="/assets/site/landing-how-4.png" alt="{{ 'STUDENT_HOW_STEP_4_TITLE' | translate}}">
        <img src="/assets/site/landing-how-5.png" alt="{{ 'STUDENT_HOW_STEP_4_TITLE' | translate}}">
        <img src="/assets/site/landing-how-6.png" alt="{{ 'STUDENT_HOW_STEP_4_TITLE' | translate}}">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 columns text-color-dark-green bgcolor-dark-green how-item-testimony">
        {{ 'STUDENT_HOW_REVIEW_TEXT' | translate }}
        <span translate="STUDENT_HOW_REVIEW_NAME"></span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid margin-bottom" ng-hide="tutorResultListVisible">
  <div class="row bgcolor-light-blue">
    <div class="section-where">
      <div class="col-lg-12 col-md-12 col-sm-12 columns">
        <h3 class="title-element text-color-white" translate="WHERE_TITLE"></h3>
        <h4 class="subtitle-element text-color-dark-blue" translate="WHERE_TEXT"></h4>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 columns where-item">
        <p translate="WHERE_PREFERENCE_HOME"></p>
        <img src="/assets/site/landing-home.png" alt="En tu casa o en la suya">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 columns where-item">
        <p translate="WHERE_PREFERENCE_PUBLIC"></p>
        <img src="/assets/site/landing-public.png" alt="En un espacio público">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 columns where-item">
        <p translate="WHERE_PREFERENCE_ONLINE"></p>
        <img src="/assets/site/landing-online.png" alt="Online">
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 columns where-item">
        <p translate="WHERE_PREFERENCE_GEEK"></p>
        <img src="/assets/site/landing-geek.png" alt="Online">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid margin-bottom video-wrapper" ng-hide="tutorResultListVisible">
  <div class="row">
    <div class="section-video">
      <div class="col-lg-12 col-md-12 col-sm-12 columns">
        <h3 class="title-element text-color-white" translate="STUDENT_WHAT_TITLE"></h3>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-container columns">
        <ul>
          <li class="text-color-landing-dark-red"><span><img src="/assets/site/video-opt-1.png" alt="{{ 'STUDENT_WHAT_STEP_1' | translate }}"></span><span translate="STUDENT_WHAT_STEP_1"></span></li>
          <li class="text-color-white bgcolor-landing-medium-red"><span><img src="/assets/site/video-opt-2.png" alt="{{ 'STUDENT_WHAT_STEP_2' | translate }}"></span><span translate="STUDENT_WHAT_STEP_2"></span></li>
          <li class="text-color-white bgcolor-landing-medium-2-red"><span><img src="/assets/site/video-opt-3.png" alt="{{ 'STUDENT_WHAT_STEP_3' | translate }}"></span><span translate="STUDENT_WHAT_STEP_3"></span></li>
          <li class="text-color-landing-medium-red"><span><img src="/assets/site/video-opt-4.png" alt="{{ 'STUDENT_WHAT_STEP_4' | translate }}"></span><span translate="STUDENT_WHAT_STEP_4"></span></li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 video-container columns">
        <iframe src="//player.vimeo.com/video/113034804" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="container-fluid margin-bottom" ng-hide="tutorResultListVisible">
  <div class="row bgcolor-light-orange">
    <div class="section-guaranty">
      <div class="col-lg-1 col-md-3 col-sm-12 columns">
        <img src="/assets/site/landing-guaranty.png" alt="{{ 'GEEK_WARRANTY' | translate }}">
      </div>
      <div class="col-lg-11 col-md-9 col-sm-12 columns">
        <h3 class="title-element text-color-medium-orange" translate="GEEK_WARRANTY_1"></h3>
        <h3 class="title-element text-color-medium-orange" translate="GEEK_WARRANTY_2"></h3>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
