<div class="about-us" ng-controller="CommonController">
  <h2 class="section-title" translate="FOOTER_WE"></h2>
  <div class="content">
    <div class="description">
      <div class="two-columns">
        Fundada en enero, 2014 en México D.F., Geek es una plataforma en línea que conecta a tutores con estudiantes en México. A través de Geek puedes buscar una materia de interés, ver una lista de tutores con su perfil, precio, disponibilidad, calificaciones y reseñas, y agendar y pagar una clase directamente desde la plataforma. Tenemos más de 100 tutores especializados que ofrecen clases particulares en todo tipo de materias- desde matemáticas y química hasta francés o piano.
      </div>
      <div class="two-columns">
        Geek nace de querer unir tecnología con emprendimiento para mejorar y modernizar la educación. Este es nuestro primer paso hacia ampliar, mejorar, y simplificar el acceso a oportunidades de aprendizaje, para potenciar el conocimiento de cada estudiante y mientras tanto hacer más visible a una comunidad de excelentes educadores.<br/><br/>
        Todos tenemos mucho por enseñar, y mucho más por aprender.<br/><br/>
      </div>
    </div>
    <div class="owl-row">
      <div class="two-columns">
      </div>
      <div class="two-columns">
        <div class="owl-container">
          <div class="owl">
            <img src="/assets/site/signup-owl.png" alt="Geek owl" class="">
          </div>
        </div>
        <div class="owl-hands">
          <img src="/assets/site/signup-owl-hands.png" alt="Geek owl" class="">
        </div>
      </div>
    </div>
    <div class="people">
      <div class="four-columns green-column">
        <a href="https://www.linkedin.com/pub/maite-diez-canedo/88/a54/1" target="_blank"><img src="/assets/site/about-us/maite.jpg" alt="Maite"></a>
        <div class="name-white"><a href="https://www.linkedin.com/pub/maite-diez-canedo/88/a54/1" target="_blank">MAITE DIEZ-CANEDO</a></div>
        <div><a href="https://www.linkedin.com/pub/maite-diez-canedo/88/a54/1" target="_blank">CO-FUNDADORA & COO</a></div>
        <div>MAITE@GEEK.EDUCATION</div>
      </div>
      <div class="four-columns blue-column">
        <a href="https://www.linkedin.com/pub/mateo-serrano-medina/4a/798/ba7" target="_blank"><img src="/assets/site/about-us/mateo.jpg" alt="Mateo"></a>
        <div class="name-gray"><a href="https://www.linkedin.com/pub/mateo-serrano-medina/4a/798/ba7" target="_blank">MATEO SERRANO</a></div>
        <div><a href="https://www.linkedin.com/pub/mateo-serrano-medina/4a/798/ba7" target="_blank">CO-FUNDADOR & CEO</a></div>
        <div>MATEO@GEEK.EDUCATION</div>
      </div>
      <div class="four-columns yellow-column">
        <a href="https://www.linkedin.com/pub/ricardo-capuano/76/a78/43" target="_blank"><img src="/assets/site/about-us/ricky.jpg" alt="Ricardo"></a>
        <div class="name-gray"><a href="https://www.linkedin.com/pub/ricardo-capuano/76/a78/43" target="_blank">RICARDO CAPUANO</a></div>
        <div><a href="https://www.linkedin.com/pub/ricardo-capuano/76/a78/43" target="_blank">GERENTE VENTAS</a></div>
        <div>RICARDO@GEEK.EDUCATION</div>
      </div>
      <div class="four-columns pink-column">
        <a href="https://www.linkedin.com/pub/omar-s%C3%A1nchez-castillo/b0/6b6/436" target="_blank"><img src="/assets/site/about-us/omar.jpg" alt="Omar"></a>
        <div class="name-white"><a href="https://www.linkedin.com/pub/omar-s%C3%A1nchez-castillo/b0/6b6/436" target="_blank">OMAR SÁNCHEZ</a></div>
        <div><a href="https://www.linkedin.com/pub/omar-s%C3%A1nchez-castillo/b0/6b6/436" target="_blank">CHIEF TECHNOLOGY OFFICER</a></div>
        <div>OMAR@GEEK.EDUCATION</div>
      </div>
    </div>
    <div class="what-to-do">
      <span>Entonces...</span>
      <span class="what-to-do-student">¿Qué quieres aprender hoy?</span>
      <span class="what-to-do-tutor">¿Qué quieres enseñar hoy?</span>
    </div>
  </div>
</div>