<div class="student-classes-container">
  <h2 class="section-title" translate="MY_CLASSES"></h2>
  <div class="appointment-history" ng-controller="MyAppointmentsController as MyAppointmentsCtrl">
    <div class="history-list-view-unavailable" ng-hide="appointmentsGroups.length">
      <div class="history-list-view-unavailable-content">
        <h3 translate="UNAVAILABLE_MESSAGE_MY_CLASSES"></h3>
      </div>
    </div>
    <div class="history-list-view-row" ng-show="appointmentsGroups.length">
      <table>
        <thead>
        <tr class="history-list-title-row">
          <th class="info-title" translate="TABLE_TITLE_TIME"></th>
          <th class="info-title" translate="TABLE_TITLE_TUTOR"></th>
          <th class="info-title" translate="TABLE_TITLE_SUBJECT"></th>
          <th class="info-title" translate="TABLE_TITLE_STATUS"></th>
          <th class="info-title" translate="TABLE_TITLE_ACTIONS"></th>
        </tr>
        </thead>
      </table>
      <table ng-repeat="appointmentGroup in appointmentsGroups" class="week-list-day-row" ng-show="appointmentGroup.appointments.length">
        <thead>
        <tr class="history-list-day-title-row">
          <td class="hidden-sm hidden-xs day-title" colspan="6">{{appointmentGroup.date | dateTranslateFilter}}</td>
          <td class="hidden-md hidden-lg day-title" colspan="6">{{appointmentGroup.date | dateTranslateFilter}}</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="appointment in appointmentGroup.appointments" class="history-list-day-info-row" ng-click="showAppointmentDetail($event, appointment)">
          <td class="day-info">{{ 'FROM' | translate }} {{ appointment.startHour }} {{ 'TO' | translate }} {{ appointment.endHour }}</td>
          <td class="day-info">{{ appointment.tutor.first_name }} {{ appointment.tutor.last_name }}</td>
          <td class="day-info">{{ appointment.subject }}</td>
          <td class="day-info"><span ng-class="[appointment.status.class,appointment.status.icon_class]"> {{ appointment.status.name | translate }}</span></td>
          <td class="day-info">
            <div class="appointment-button">
              <a ng-repeat="button in appointment.buttons" ng-class="button.class" title="button.title" ng-click="changeAppointmentStatus($event, button.action, appointment)">{{ button.text }}</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
