<div ng-controller="PaymentController">
  <h2 class="section-title">{{ 'PAYMENT_OPTIONS' | translate}}</h2>
  <ng-alert id="tutor-request-form" alert-params="tutorRequestAlertParams"></ng-alert>
  <div class="form">
    <form name="tutorPaymentOptionsForm" id="tutor_payment_options_form" class="dashboard-form validation-form">
      <fieldset>
        <legend translate="PAYMENT_METHODS"></legend>
        <div class="form-group">
          <div class="form-group">
            <div class="left"></div>
            <div class="right">
              {{ 'PAYMENT_NO_METHODS' | translate }}
            </div>
          </div>
        </div>
        <div ng-if="paymentMethodOption == 0">
          <div class="form-group">
            <div class="left">
              <label> {{ 'DEBIT_CARD_HOLDER_NAME' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="debit_card_holder" data-openpay-card="holder_name" ng-model="debitCardHolder"  class="form-input form-control" placeholder="NOMBRE EN LA TARJETA" popover="{{tutorProfileForm.tutor_phone.popoverMessage}}" popover-trigger="click" popover-animation="false" />
            </div>
          </div>
          <div class="form-group">
            <div class="left">
              <label>{{ 'DEBIT_CARD_NUMBER' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="debit_card_number" data-openpay-card="card_number" ng-model="debitCardNumber" ng-pattern="/^[0-9]+$/" ng-minlength="16" ng-maxlength="16" maxlength="16" class="form-input form-control" placeholder="NÚMERO DE TARJETA DE DÉBITO" popover="{{tutorProfileForm.tutor_phone.popoverMessage}}" popover-trigger="click" popover-animation="false" />
            </div>
          </div>
          <div class="form-group">
            <div class="left">
              <label>Expira:</label>
            </div>
            <div class="right">

              <div class="dropdown form-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  MES
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" ng-repeat="month in MONTHS"><a role="menuitem" tabindex="{{$index}}"  ng-click="">{{ $index < 9 ? '0' + ($index+1) : ($index+1) }}</a></li>
                </ul>
              </div>

              <div class="dropdown form-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                  Año
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" ng-repeat="year in availableYears"><a role="menuitem" tabindex="{{ year }}"  ng-click="">{{ year }}</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="form-group">
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_VERIFICATION_NUMBER' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="debit_card_cvv" data-openpay-card="cvv2" ng-model="debitCardValidationNumber" ng-pattern="/^[0-9]+$/" ng-minlength="3" ng-maxlength="4" maxlength="4" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_VERIFICATION_NUMBER' | translate }}" />
            </div>
          </div>
        </div>
      </fieldset>
      <div class="send-form">
        <a class="action-button action-button-light-green" ng-click="submitTutorProfile()" translate="SAVE"></a>
      </div>
    </form>
  </div>
</div>