<div class="about-us" ng-controller="CommonController">
  <span us-spinner spinner-key="messages-spinner"></span>

  <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
                  <div class="terms_conditions">
                    <h2 class="section-title ng-scope" translate="FOOTER_HOW"></h2>

                    <div ng-if="getCurrentLanguage() == 'es_MX'">
                        <img src="/assets/site/how-it-works-es.png">
                    </div>
                    <div ng-if="getCurrentLanguage() == 'en_US'">
                        <img src="/assets/site/how-it-works-en.png">
                    </div>
                    
                  </div>
        </div>
      </div>
</div>