<header class="container">
  <div class="row navbar">
    <h1 class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
      <a href="#" title="Geek">
        <img src="/assets/site/geek-logo.png" class="hidden-xs">
        <span class="hidden-lg hidden-md hidden-sm">geek</span>
      </a>
    </h1>
    <nav class="navigation col-lg-10 col-md-10 col-sm-9 col-xs-12" role="navigation" ng-controller="NavigationController as navigationCtrl">
      <ul class="hidden-xs">
        <li>
          <a href="/tutor" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">¿Quieres dar clases en geek?</a>
        </li>
        <li><a title="Ingresa" class="signin" ng-click="showSignInModal('signIn')">Ingresa</a></li>
        <li><a title="Regístrate" class="signup" ng-click="showSignInModal('signUp')">Regístrate</a></li>
        <li><a title="Cambiar idioma" class="text-color-light-blue">English/Español</a></li>
      </ul>
      <ul class="hidden-md hidden-lg hidden-sm">
        <li>
          <a href="/tutor" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">Tutor</a>
        </li>
        <li><a href="#" title="Ingresa">Ingresa</a></li>
        <li><a href="#" title="Regístrate">Registrate</a></li>
      </ul>
      <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-head">
              <div class="owl">
                <img src="/assets/site/signup-owl.png" alt="Geek owl" class="">
              </div>
              <div class="tabs">
                <div class="tab left-tab" ng-class="{active: selectedTab == 'signIn'}" ng-click="selectTab('signUp')">
                  <span>REGÍSTRARTE</span>
                </div>
                <div class="tab right-tab" ng-class="{active: selectedTab == 'signUp'}" ng-click="selectTab('signIn')">
                  <span>INICIAR SESIÓN</span>
                </div>
              </div>
              <div class="owl-hands">
                <img src="/assets/site/signup-owl-hands.png" alt="Geek owl" class="">
              </div>
            </div>
            <div class="modal-body">
              <div class="sign-up-container noselect" ng-show="selectedTab == 'signUp'">
                <div ng-hide="userData">
                  <div class="form-button-fb">
                    <div ng-click="registerFacebook()">REGÍSTRATE CON FACEBOOK <span class="icon-facebook"></span></div>
                  </div>
                  <div class="form-text">
                    o
                  </div>
                </div>
                <form name="signUpForm" id="student-form" accept-charset="UTF-8" action="/users" method="post">
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-name" name="user[first_name]" ng-model="signUpName" class="form-input form-control" placeholder="NOMBRE" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-mail" name="user[email]" ng-model="signUpMail" class="form-input form-control" placeholder="CORREO" ng-pattern="/^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,4}$/" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-password" name="user[password]" ng-model="signUpPassword" class="form-input form-control" placeholder="PASSWORD" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-confirmation" name="user[password_confirmation]" ng-model="signUpConfirmation" class="form-input form-control" placeholder="CONFIRMAR PASSWORD" pw-check="sign-up-password" required/>
                  </div>
                  <div class="form-group form-checkbox custom-checkbox" show-errors>
                    <input type="checkbox" id="sign-up-terms" name="sign-up-terms" ng-model="signUpTerms" class="form-control" required>
                    <label for="sign-up-terms">HE LEÍDO Y ACEPTO LOS TÉRMINOS Y CONDICIONES</label>
                  </div>
                  <div>
                    <input id="user_uid" name="user[uid]" type="hidden" value="{{signUpUID}}" />
                    <input id="user_last_name" name="user[last_name]" type="hidden" value="{{signUpLastName}}" />
                    <input id="user_token" name="user[token]" type="hidden" value="{{signUpToken}}" />
                    <input id="user_refresh_token" name="user[refresh_token]" type="hidden" value="{{signUpRefreshToken}}" />
                    <input id="user_role_ids" multiple="multiple" name="user[role_ids][]" type="hidden" value="{{roleIds}}" />
                  </div>
                  <div class="form-submit" ng-click="submitStudentForm()">
                    <div>REGÍSTRATE</div>
                  </div>
                </form> 
              </div>
              <div class="sign-in-container" ng-show="selectedTab == 'signIn'">
                <label ng-show='loginError' ng-bind='loginError'></label>
                <div ng-hide="userData">
                  <div class="form-button-fb">
                    <div ng-click="registerFacebook()">INICIA CON FACEBOOK <span class="icon-facebook"></span></div>
                  </div>
                   <div class="form-text">
                    o
                  </div>
                </div>
                <form name="studentLoginForm" id="student-login-form" accept-charset="UTF-8" action="/users/sign_in" id="login-form" method="post">
                  <div class="form-group" show-errors>
                    <input type="text" name="student[email]" class="form-input form-control" placeholder="CORREO" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" name="student[password]" class="form-input form-control" placeholder="PASSWORD" required/>
                  </div>
                  <input id="tutor_role_ids" multiple="multiple" name="student[role_ids][]" type="hidden" value="3" >
                  <div class="form-submit" ng-click="loginStudent()">
                    <div>INICIAR SESIÓN</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="container" ng-controller="SearchTutorController as searchTutorCtrl">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-search-results"  ng-hide="tutorList.length <= 0">
      <div class="bgcolor-light-gray light-search">
        <h2 class="col-lg-2 col-md-3 hidden-sm hidden-xs">geek</h2>
        <form class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <angucomplete-alt-geek id="topics"
                                 placeholder="Me interesaría aprender..."
                                 pause="600"
                                 selected-object="subjectInput"
                                 local-data="categories"
                                 search-fields="name"
                                 title-field="name"
                                 minlength="1"
                                 input-class="category">
          </angucomplete-alt-geek>
          <angucomplete-alt-geek id="counties"
                                 placeholder="En la zona de..."
                                 pause="600"
                                 selected-object="selectedCountyInput"
                                 local-data="counties"
                                 search-fields="name"
                                 title-field="name"
                                 minlength="1"
                                 input-class="county">
          </angucomplete-alt-geek>
          <button ng-click="searchTutor()">Buscar</button>
        </form>
        <div class="clearfix"></div>
      </div>

      <div class="search-results-list" ng-show="tutorList.length > 0">
        <div class="search-results-tools" ng-show="selectedTutor">
          <span ng-hide="selectedTutor">Filtros:</span>
          <span ng-click="showSearchResults()" ng-show="selectedTutor">Regresar</span>
        </div>
        <div class="search-result-list">
          <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in tutorList">
            <div class="tutor-image col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <img ng-src="{{ tutor.picture_url && tutor.picture_url || PROFILE_IMAGE }}" alt="{{ PROFILE_IMAGE }}">
              <div class="clearfix"></div>
            </div>
            <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="content">
                <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
                <h5 class="tutor-county"><span ng-repeat="county in tutor.counties">{{ county.name }}{{ $last ? '' : ', ' }}</span></h5>
                <p class="resume">
                  {{ tutor.background }}
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <div class="content">
                <div class="content-score">
                  <div class="score">
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                  </div>
                </div>
                <div class="content-price">
                  <h4 class="price">
                    {{ tutor.costRange }} <br>
                    Por hora
                  </h4>
                </div>
                <div class="content-button" ng-hide="selectedTutor">
                  <button class="action-button send-message" ng-click="showTutorDetails(tutor)" >Ver disponibilidad</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="tutorList.length > 0">
      <div class="bgcolor-light-gray section-search">
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
        <div>
          <h2 class="hidden-xs">geek</h2>
          <h3>¿Qué quieres aprender?</h3>
          <form>
            <input id="search_zone_input" type="text" placeholder="En la zone de..." class="category">
            <angucomplete-alt-geek id="topics"
                                   placeholder="Me interesaría aprender..."
                                   pause="600"
                                   selected-object="subjectInput"
                                   local-data="categories"
                                   search-fields="name"
                                   title-field="name"
                                   minlength="1"
                                   input-class="category">
            </angucomplete-alt-geek>
            <angucomplete-alt-geek id="counties"
                                   placeholder="En la zona de..."
                                   pause="600"
                                   selected-object="selectedCountyInput"
                                   local-data="counties"
                                   search-fields="name"
                                   title-field="name"
                                   minlength="1"
                                   input-class="county">
            </angucomplete-alt-geek>
            <button ng-click="searchTutor()">Buscar</button>
          </form>
        </div>
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
      </div>
    </div>

  </div>
</div>

<div class="bgcolor-light-green green-separator" ng-hide="tutorResultListVisible"></div>

<div class="container-fluid margin-bottom" ng-hide="tutorResultListVisible">
  <div class="row bgcolor-gradient-green">
    <div class="section-how-it-works">
      <div class="col-lg-4 col-md-4 col-sm-4 text-color-dark-green">
        <div class="title-content">
          <span class="number">1</span>
          <span class="title">Busca</span>
        </div>
        <img src="/assets/site/student-how-search.png" alt="Busca">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 text-color-dark-green">
        <div class="title-content">
          <span class="number">2</span>
          <span class="title">Compara</span>
        </div>
        <img src="/assets/site/student-how-compare.png" alt="Compara">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 text-color-dark-green">
        <div class="title-content">
          <span class="number">3</span>
          <span class="title">Agenda</span>
        </div>
        <img src="/assets/site/student-how-book.png" alt="Agenda">
      </div>
    <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="container-fluid margin-bottom" ng-hide="tutorResultListVisible">
  <div class="row bgcolor-gradient-green">
    <div class="section-how-it-works">
      <div class="col-lg-12 col-md-12 col-sm-12 text-color-dark-green">
        <div class="slider">
          <div>
            <span class="control-arrow control-left-arrow"></span>
            <span class="number">4</span><span class="title">Pasa tu examen de álgebra avanzada</span>
            <img src="/assets/site/student-how-calculator.png" class="slider">
            <span class="control-arrow control-right-arrow"></span>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="container-fluid margin-bottom" ng-hide="tutorResultListVisible">
  <div class="row">
    <div class="section-video">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-container columns">
            <ul>
              <li class="text-color-landing-dark-red"><span>Encuentra a  tu tutor ideal</span><span><img src="/assets/site/video-find.png" alt="Encuentra a tu tutor ideal"></span></li>
              <li class="text-color-landing-light-red bgcolor-landing-medium-red"><span>Agenda clases de manera ágil y sencilla</span><span></span></li>
              <li class="text-color-white bgcolor-landing-light-red"><span>Olvídate del proceso de pago</span><span><img src="/assets/site/video-pay.png" alt="Olvídate de procesos del proceso"></span></li>
              <li class="text-color-landing-medium-red"><span>Potencia tu conocimiento</span><span></span></li>
            </ul>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 video-container columns">
          <iframe src="//player.vimeo.com/video/105317853" width="100%" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <div class="clearfix"></div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm language">
        <a href="#" title="¿Quieres dar clases en geek?" class="text-color-light-blue">English/Español</a>
      </div>
      <div class="col-lg-3 col-md-3 social-icons columns">
        <p>Síguenos en nuestras redes sociales</p>
        <ul>
          <li><a href="" title="Facebook"><span class="icon-twitter text-color-light-blue"></span></a></li>
          <li><a href="" title="Instagram"><span class="icon-facebook3 text-color-light-green"></span></a></li>
          <li><a href="" title="Twitter"><span class="icon-instagram text-color-light-orange"></span></a></li>
        </ul>

      </div>
      <div></div>
    </div>
  </div>
</footer>
