<div class="section-search-results">
  <div class="bgcolor-light-gray light-search section-search" ng-show="tutorList.length > 0">
    <h2 class="col-lg-2 col-md-3 hidden-sm hidden-xs">geek</h2>
    <form class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <angucomplete-alt id="topics"
                        placeholder="Me interesaría aprender..."
                        pause="600"
                        selected-object="subjectInput"
                        local-data="categories"
                        search-fields="name"
                        title-field="name"
                        minlength="1"
                        input-class="category">
      </angucomplete-alt>
      <angucomplete-alt id="counties"
                        placeholder="En la zona de..."
                        pause="600"
                        selected-object="selectedCountyInput"
                        local-data="counties"
                        search-fields="name"
                        title-field="name"
                        minlength="1"
                        input-class="county">
      </angucomplete-alt>
      <button ng-click="searchTutor()">Buscar</button>
    </form>
    <div class="clearfix"></div>
  </div>

  <div class="search-results-list" ng-show="tutorList.length > 0">
    <div class="search-results-tools">
      Filtros:
    </div>
    <div class="search-result-list">
      <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in tutorList">
        <div class="tutor-image col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <img src="/assets/site/cat-artes.png">
          <div class="clearfix"></div>
        </div>
        <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content">
            <h4 class="tutor-name">María Alvarado Ruíz</h4>
            <h5 class="tutor-county">Condesa</h5>
            <p class="resume">
              The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men.
              Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness,
              for he is truly his brother's keeper and the finder of lost children.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="content">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
              </div>
            </div>
            <div class="content-price">
              <h4 class="price">
                $ 300.00 MXN <br>
                Por hora
              </h4>
            </div>
            <div class="content-button">
              <button class="action-button send-message">Ver perfil</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="tutorList.length > 0">
    <div class="bgcolor-light-gray section-search">
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
      <div>
        <h2 class="hidden-xs">geek</h2>
        <h3>¿Qué quieres aprender?</h3>
        <form>
          <angucomplete-alt id="topics"
                            placeholder="Me interesaría aprender..."
                            pause="600"
                            selected-object="subjectInput"
                            local-data="categories"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="category">
          </angucomplete-alt>
          <angucomplete-alt id="counties"
                            placeholder="En la zona de..."
                            pause="600"
                            selected-object="selectedCountyInput"
                            local-data="counties"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="county">
          </angucomplete-alt>
          <button ng-click="searchTutor()">Buscar</button>
        </form>
      </div>
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
    </div>
  </div>

</div>

<div ng-modal-tutor-detail ></div>