<div class="about-us">
  <h2 class="section-title" translate="FOOTER_WE"></h2>
  <div class="content">
    <div class="description">
      <div class="two-columns">
        Fundada en enero, 2014 en México D.F., Geek es una plataforma en línea que conecta a tutores con estudiantes en México. A través de Geek puedes buscar una materia de interés, ver una lista de tutores con su perfil, precio, disponibilidad, calificaciones y reseñas, y agendar y pagar una clase directamente desde la plataforma. Tenemos más de 100 tutores especializados que ofrecen clases particulares en todo tipo de materias- desde matemáticas y química hasta francés o piano.
      </div>
      <div class="two-columns">
        Geek nace de querer unir tecnología con emprendimiento para mejorar y modernizar la educación. Este es nuestro primer paso hacia ampliar, mejorar, y simplificar el acceso a oportunidades de aprendizaje, para potenciar el conocimiento de cada estudiante y mientras tanto hacer más visible a una comunidad de excelentes educadores.<br/><br/>
        Todos tenemos mucho por enseñar, y mucho más por aprender.<br/><br/>
      </div>
    </div>
    <div class="people">
      <div class="four-columns green-column">
        <img src="/assets/site/about-us/mateo.jpg" alt="Mateo">
        <div class="name-white">MATEO SERRANO</div>
        <div>CO-FUNDADOR & CEO</div>
        <div>MATEO@GEEK.EDUCATION</div>
      </div>
      <div class="four-columns blue-column">
        <img src="/assets/site/about-us/maite.jpg" alt="Maite">
        <div class="name-gray">MAITE DIEZ-CANEDO</div>
        <div>CO-FUNDADORA & COO</div>
        <div>MAITE@GEEK.EDUCATION</div>
      </div>
      <div class="four-columns yellow-column">
        <img src="/assets/site/about-us/ricky.jpg" alt="Ricardo">
        <div class="name-gray">RICARDO CAPUANO</div>
        <div>GERENTE VENTAS</div>
        <div>RICARDO@GEEK.EDUCATION</div>
      </div>
      <div class="four-columns pink-column">
        <img src="/assets/site/about-us/omar.jpg" alt="Omar">
        <div class="name-white">OMAR SÁNCHEZ</div>
        <div>CTO</div>
        <div>OMAR@GEEK.EDUCATION</div>
      </div>
    </div>
    <div class="what-to-do">
      <span>Entonces...</span>
      <span class="what-to-do-student">¿Qué quieres aprender hoy?</span>
      <span class="what-to-do-tutor">¿Qué quieres enseñar hoy?</span>
    </div>
  </div>
</div>