<div class="messages">
  <span us-spinner spinner-key="messages-spinner"></span>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
        <div class="terms_conditions">
          <h2 class="section-title ng-scope">AVISO DE PRIVACIDAD PARA LA PROTECCIÓN DE DATOS PERSONALES</h2>
          <p>
            POR FAVOR LEA CUIDADOSAMENTE Y ACEPTE LOS TÉRMINOS Y CONDICIONES SIGUIENTES ANTES DE COMPARTIR CUALQUIER DATO PERSONAL O INFORMACIÓN CON NOSOTROS. SI NO ESTÁ DE ACUERDO EN CUALQUIERA DE LOS TÉRMINOS Y CONDICIONES DEL PRESENTE AVISO SE LE PIDE QUE POR FAVOR OMITA PROPORCIONAR DATO PERSONAL ALGUNO O INFORMACIÓN DE CUALQUIER TIPO.
            <br><br>
            PARA LOS EFECTOS DE ESTE AVISO DE PRIVACIDAD, SE ENTIENDE POR “LA EMPRESA”, “NOSOTROS”, “NUESTRO”, “NUESTRA”, “NUESTROS” O “NUESTRAS” GEEK EDUCATION S.C.,  ASÍ COMO A CUALQUIERA DE LAS EMPRESAS DE SU GRUPO EMPRESARIAL, SUS AFILIADAS, CONTROLADORAS Y/O SUBSIDIARIAS. AL OTORGAR SU CONSENTIMIENTO PARA QUE SUS DATOS PERSONALES SEAN TRATADOS DE ACUERDO CON LO ESTABLECIDO EN EL PRESENTE AVISO DE PRIVACIDAD, SE ENTENDERÁ QUE USTED HA REVISADO, LEÍDO Y ACEPTADO LOS TÉRMINOS DE ESTE AVISO DE PRIVACIDAD.
            <br><br>
            LA EMPRESA, en cumplimiento a lo dispuesto por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y su Reglamento (en adelante la “Ley de Datos”) hace de su conocimiento el presente Aviso de Privacidad (en adelante “El Aviso”).
          </p>

          <h3 class="subtitle-section"><u>Responsable y Encargado de los Datos Personales Recabados</u></h3>
          <p>
            GEEK EDUCATION S.C., con domicilio en calle Presa la Angostura 167, Colonia Irrigación, Ciudad de México, Delegación Miguel Hidalgo, C.P. 11500, en la entidad de Distrito Federal, México, en términos de lo dispuesto por la Ley de Datos,  es LA EMPRESA “Encargada” de los datos personales que se recaben. LA EMPRESA cuenta con los siguientes datos de contacto: <a class="mailto-link" href="mailto:info@geek.education">info@geek.education</a>
            <br><br>
            LA EMPRESA, durante la vigencia de la promoción para la cual los Usuarios están compartiendo sus datos personales (en adelante la “Promoción”) se encargará de recibir, manejar, procesar, tratar y conservar los datos personales de los particulares (en adelante los “Usuarios”), sin embargo  podrá remitir a los Datos Personales Recabados (como se definen más adelante en el presente Aviso) en términos de lo dispuesto en la Ley de Datos.
            <br><br>
            LA EMPRESA cumplirá en todo momento con las siguientes obligaciones: (i) tratará los Datos Personales Recabados conforme a lo establecido en el presente; (ii) se abstendrá de tratar los Datos Personales Recabados para finalidades distintas a las indicadas; (iii) implementará y mantendrá las medidas de seguridad necesarias para la protección de los Datos Personales Recabados; (iv) guardará confidencialidad respecto de los Datos Personales Recabados; y (v) suprimirá los Datos Personales Recabados.
          </p>

          <h3 class="subtitle-section"><u>Objeto del Aviso de Privacidad</u></h3>
          <p>
            El presente Aviso tiene por objeto informar a los Usuarios la información que se recaba de ellos, los fines con los que se recaba así como establecer los términos y condiciones que prevalecerán en el manejo, uso y protección de los datos personales, mismos que permitirán garantizar la privacidad de los mismos, así como el derecho de autodeterminación informativa que le corresponde a cada uno de los Usuarios. Asimismo, LA EMPRESA mantiene las medidas de seguridad administrativas, técnicas y físicas necesarias que permiten garantizar la privacidad y protección de los datos personales contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado de los mismos. Esto en virtud de que LA EMPRESA, reconoce la importancia de proteger la privacidad de los datos personales que de los particulares son recabados.
          </p>

          <h3 class="subtitle-section"><u>Datos Personales Recabados</u></h3>
          <p>
            En el ejercicio de actividades <strong>de prestación de servicios profesioanles</strong>, LA EMPRESA recabará y almacenará los siguientes datos personales de los Usuarios (en adelante los “Datos Personales Recabados”): <strong>Nombre, Fecha de nacimiento, Nacionalidad, Domicilio, Teléfono particular, Correo electrónico, Edad, Fotografía, Referencias laborales, Capacitación laboral, Datos de identificación, Datos de contacto, Datos laborales y Datos académicos de los usuarios; en caso de tratarse de menores de edad, adicionalmente se recabará nombre del padre, madre o tutor</strong>, y datos de contacto del padre madre o tutor. Los Datos Personales Recabados serán almacenados en la base de datos o base de almacenamiento y recopilación de información de LA EMPRESA (en lo sucesivo la “Base de Datos”), la cual cuenta con las medidas de seguridad administrativas, técnicas y físicas necesarias que permiten garantizar la privacidad y protección de los Datos Personales Recabados contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado de los mismos. LA EMPRESA, como Responsable de los Datos Personales Recabados, continuará con el resguardo de los mismos con las medidas de seguridad administrativas, técnicas y físicas necesarias que permiten garantizar la privacidad y protección de los Datos Personales Recabados.
          </p>

          <h3 class="subtitle-section"><u>Revocación del Consentimiento, Limitación de Uso o Divulgación de los Datos Personales Recabados y Medios para Ejercer los Derechos de Acceso, Rectificación, Cancelación y Oposición (ARCO) por Parte de los Usuarios</u></h3>
          <p>
            En cualquier momento, los Usuarios o sus representantes legales podrán: revocar su consentimiento para el tratamiento o uso de sus datos personales por parte de LA EMPRESA, limitar su uso o divulgación, así como acceder a ellos, rectificarlos en caso de que sean inexactos o incompletos, cancelarlos y oponerse a su tratamiento en su totalidad o para ciertos fines. Para tales efectos, el Usuario deberá contactar al área responsable mediante alguna de las siguientes vías:
          </p>
          <ul>
            <li>Enviando un correo electrónico a <a class="mailto-link" href="mailto:info@geek.education">info@geek.education</a></li>
            <li>Enviando una notificación por escrito vía correo postal o de forma personal a calle Presa la Angostura 167, Colonia Irrigación, Ciudad de México, Delegación Miguel Hidalgo, C.P. 11500, en la entidad de Distrito Federal, México</li>
            <li>En caso que la notificación se efectúe de manera personal, se deberá realizar <strong>de lunes a [viernes] de [9:00] a [14:00] hrs.</strong> </li>
          </ul>
          <p>
            En todas las vías antes señaladas, los Usuarios deberán señalar expresa y detalladamente: (i) que desean revocar su consentimiento para el tratamiento o uso de sus datos personales; (ii) señalar la manera mediante la cual desea limitar el uso o divulgación de los datos personales; (iii) señalar la manera en que desean acceder o rectificar sus datos personales; (iv) señalar que desean cancelar sus datos personales; y/o (v) señalar que desean oponerse al tratamiento de sus datos personales.
            <br><br>
            Para ejercer los derechos antes descritos, los Usuarios deberán acompañar a su solicitud lo siguiente:
          </p>
          <ol type="a">
            <li>El nombre del Usuario y domicilio u otro medio para comunicarle la respuesta a su solicitud.</li>
            <li>Correo electrónico del Usuario o número de fax para hacerle llegar la respuesta a su solicitud.</li>
            <li>Los documentos que acrediten la identidad o, en su caso, la representación legal del Usuario.</li>
            <li>La descripción clara y precisa de los datos personales respecto de los que se busca ejercer alguno de los derechos antes mencionados.</li>
            <li>Cualquier otro elemento o documento que facilite la localización de los datos personales.</li>
          </ol>
          <p>
            En el caso de solicitudes de rectificación de datos personales, el Usuario deberá indicar en la solicitud, además de lo arriba señalado, las modificaciones a realizarse y aportar la documentación que sustente su petición.
            <br><br>
            LA EMPRESA responderá toda solicitud en un plazo máximo de 20 (veinte) días hábiles contados desde la fecha de presentación de la solicitud correspondiente, a efecto de que, si resulta procedente, se haga efectiva la misma dentro de los 15 (quince) días hábiles siguientes a la fecha en que se comunique la respuesta.
            <br><br>
            Tratándose de solicitudes de acceso a datos personales, procederá la entrega previa acreditación de la identidad del solicitante o representante legal, según corresponda.
            <br><br>
            Los plazos antes referidos podrán ser ampliados una sola vez por un periodo igual, siempre y cuando así lo justifiquen las circunstancias del caso.
          </p>

          <h3 class="subtitle-section"><u>Procedimiento para Comunicar a los Usuarios los Cambios al Aviso de Privacidad</u></h3>
          <p>
            Todo cambio efectuado al presente Aviso de Privacidad será reflejado en la siguiente página de Internet: <a class="mailto-link" target="_blank" href="http://www.geek.education">www.geek.education</a>
          </p>

          <h3 class="subtitle-section"><u>Procedimiento para Comunicar a los Usuarios los Cambios al Aviso de Privacidad</u></h3>
          <p>
            Los Datos Personales Recabados no serán transferidos a tercero alguno
            <br><br>
            He leído y entendido el Aviso de Privacidad y otorgo mi consentimiento para que mis Datos Personales sean tratados de acuerdo a lo establecido en el mismo.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>