<div class="messages" ng-controller="ResumeController">
  <h2 class="section-title" translate="DASHBOARD_TITLE"></h2>

  <!-- Sección de listado de conversaciones vacío -->
  <div class="unavailable-message" ng-hide="conversations.length">
    <div class="unavailable-message-content">
      <h3 translate="UNAVAILABLE_MESSAGE_RESUME"></h3>
    </div>
  </div>

</div>