<div class="messages" ng-controller="CommonController">
    <span us-spinner spinner-key="messages-spinner"></span>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
                <div class="terms_conditions">
                    <h2 class="section-title ng-scope" translate="CANCELLATION_POLICY_TITLE"></h2>

                    <p translate="CANCELLATION_POLICY_P_1"></p>
                    <div ng-if="getCurrentLanguage() == 'es_MX'">
                        <img src="/assets/site/cancellation-policy-es.svg">
                    </div>
                    <div ng-if="getCurrentLanguage() == 'en_US'">
                        <img src="/assets/site/cancellation-policy-en.svg">
                    </div>
                    <p translate="CANCELLATION_POLICY_P_2"></p>

                    <ul>
                        <li translate="CANCELLATION_POLICY_LI_1"></li>
                        <li translate="CANCELLATION_POLICY_LI_2"></li>
                        <li translate="CANCELLATION_POLICY_LI_3"></li>
                        <li translate="CANCELLATION_POLICY_LI_4"></li>
                        <li translate="CANCELLATION_POLICY_LI_5"></li>
                        <li translate="CANCELLATION_POLICY_LI_6"></li>
                        <li translate="CANCELLATION_POLICY_LI_7"></li>
                        <li translate="CANCELLATION_POLICY_LI_8"></li>
                        <li translate="CANCELLATION_POLICY_LI_9"></li>
                        <li translate="CANCELLATION_POLICY_LI_10"></li>
                        <li translate="CANCELLATION_POLICY_LI_11"></li>
                    </ul>

                    <h3 class="subtitle-section"><u translate="CANCELLATION_POLICY_ST_1"></u></h3>

                    <ul>
                        <li translate="CANCELLATION_POLICY_LI_12"></li>
                        <li translate="CANCELLATION_POLICY_LI_13"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>