<div class="student-tutors-container">
  <h2 class="section-title" translate="MY_TUTORS"></h2>
  <div class="student-tutors" ng-controller="MyTutorsController as MyTutorsCtrl">
    <div class="unavailable-message" ng-hide="tutorList.length">
      <div class="unavailable-message-content">
        <h3 translate="UNAVAILABLE_MESSAGE_TUTORS"></h3>
      </div>
    </div>
    <div class="tutors-list-view-row" ng-show="tutorList.length">
      <table>
        <thead>
        <tr class="tutors-list-title-row">
          <th class="info-title" translate="TABLE_TITLE_TUTOR"></th>
          <th class="info-title" translate="TABLE_TITLE_ACTIONS"></th>
        </tr>
        </thead>
      </table>
      <table>
        <tbody>
            <tr ng-repeat="tutor in tutorList" class="tutors-list-info-row">
                <td class="tutor-info" ng-image-adjustment image-container="user_picture" image-src="{{ tutor.picture_url }}">
                    <div class="user_picture_container">
                      <div class="user_picture">
                        <img/>
                      </div>
                    </div>
                    <div class="user_name">
                      {{ tutor.first_name }} {{ tutor.last_name }}
                    </div>
                </td>
                <td class="tutor-info">
                  <div class="appointment-button" ng-hide="tutor.has_evaluation">
                    <!--a class="review-class" ng-click="showReviewDetail($event, tutor)">Calificar</a-->
                    <a ng-class="[appointmentButtons['MESSAGE_BUTTON'].class, appointmentButtons['MESSAGE_BUTTON'].icon]" title=" {{ appointmentButtons['MESSAGE_BUTTON'].title }}" ng-click="callButtonAction($event, appointmentButtons['MESSAGE_BUTTON'].action, tutor)"> {{ appointmentButtons['MESSAGE_BUTTON'].text | translate}}</a>
                    <a ng-class="[appointmentButtons['REVIEW_BUTTON'].class, appointmentButtons['REVIEW_BUTTON'].icon]" title=" {{ appointmentButtons['REVIEW_BUTTON'].title }}" ng-click="callButtonAction($event, appointmentButtons['REVIEW_BUTTON'].action, tutor)"> {{ appointmentButtons['REVIEW_BUTTON'].text | translate }}</a>
                  </div>
                  <div ng-show="tutor.has_evaluation" translate="MY_TUTORS_REVIEWED">
                  </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
