<header class="container">
  <div class="row navbar">
    <h1 class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
      <a href="#" title="Geek">
        <img src="/assets/site/geek-logo.png" class="hidden-xs">
        <span class="hidden-lg hidden-md hidden-sm">geek</span>
      </a>
    </h1>
    <nav class="navigation col-lg-10 col-md-10 col-sm-9 col-xs-12" role="navigation" ng-controller="NavigationController as navigationCtrl">
      <ul class="hidden-xs">
        <li>
          <a href="/tutor" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">¿Quieres dar clases en geek?</a>
        </li>
        <li><a href="#" title="Ingresa" class="signin" ng-click="showSignInModal('signIn')">Ingresa</a></li>
        <li><a href="#" title="Regístrate" class="signup" ng-click="showSignInModal('signUp')">Regístrate</a></li>
        <li><a href="#" title="Cambiar idioma" class="text-color-light-blue">English/Español</a></li>
      </ul>
      <ul class="hidden-md hidden-lg hidden-sm">
        <li>
          <a href="/tutor" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">Tutor</a>
        </li>
        <li><a href="#" title="Ingresa">Ingresa</a></li>
        <li><a href="#" title="Regístrate">Registrate</a></li>
      </ul>
      <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-head">
              <div class="owl">
                <img src="/assets/site/signup-owl.png" alt="Geek owl" class="">
              </div>
              <div class="tabs">
                <div class="tab left-tab" ng-class="{active: selectedTab == 'signIn'}" ng-click="selectTab('signUp')">
                  <span>REGÍSTRARTE</span>
                </div>
                <div class="tab right-tab" ng-class="{active: selectedTab == 'signUp'}" ng-click="selectTab('signIn')">
                  <span>INICIAR SESIÓN</span>
                </div>
              </div>
              <div class="owl-hands">
                <img src="/assets/site/signup-owl-hands.png" alt="Geek owl" class="">
              </div>
            </div>
            <div class="modal-body">
              <div class="sign-up-container noselect" ng-show="selectedTab == 'signUp'">
                <div class="form-button-fb">
                  <div>REGÍSTRATE CON FACEBOOK <span class="icon-facebook"></span></div>
                </div>
                <form name="signUpForm">
                  <div class="form-text">
                    o
                  </div>
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-name" name="sign-up-name" ng-model="signUpName" class="form-input form-control" placeholder="NOMBRE" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="text" id="sign-up-mail" name="sign-up-mail" ng-model="signUpMail" class="form-input form-control" placeholder="CORREO" ng-pattern="/^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\.)+[A-Za-z]{2,4}$/" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-password" name="sign-up-password" ng-model="signUpPassword" class="form-input form-control" placeholder="PASSWORD" required/>
                  </div>
                  <div class="form-group" show-errors>
                    <input type="password" id="sign-up-confirmation" name="sign-up-confirmation" ng-model="signUpConfirmation" class="form-input form-control" placeholder="CONFIRMAR PASSWORD" pw-check="sign-up-password" required/>
                  </div>
                  <div class="form-group form-checkbox custom-checkbox" show-errors>
                    <input type="checkbox" id="sign-up-terms" name="sign-up-terms" ng-model="signUpTerms" class="form-control" required>
                    <label for="sign-up-terms">HE LEÍDO Y ACEPTO LOS TÉRMINOS Y CONDICIONES</label>
                  </div>
                </form>
                <div class="form-submit">
                  <div>REGÍSTRATE</div>
                </div>
              </div>
              <div class="sign-in-container" ng-show="selectedTab == 'signIn'">
                <div class="form-group">
                  <input type="text" name="sign-in-mail" class="form-input form-control" placeholder="CORREO" />
                </div>
                <div class="form-group">
                  <input type="text" name="sign-in-password" class="form-input form-control" placeholder="PASSWORD" />
                </div>
                <div class="form-submit">
                  <div>INICIAR SESIÓN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>

<div class="container" ng-controller="SearchTutorController as searchTutorCtrl">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-search-results">
      <div class="bgcolor-light-gray light-search">
        <h2 class="col-lg-2 col-md-3 hidden-sm hidden-xs">geek</h2>
        <form class="col-lg-10 col-md-9 col-sm-12 col-xs-12">
          <input type="text" class="course" placeholder="Me interesaría aprender..." ng-model="subjectInput">
          <angucomplete-alt id="counties"
                            placeholder="En la zona de..."
                            pause="600"
                            selected-object="selectedCountyInput"
                            local-data="counties"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="county">

          </angucomplete-alt>
          <button ng-click="searchTutor()">Buscar</button>
        </form>
        <div class="clearfix"></div>
      </div>

      <div class="search-results-list" ng-show="tutorList.length > 0">
        <div class="search-results-tools">
          <div class="search-filters">

          </div>
          <div class="search-orders">
            <p>Ordenar por:</p>
          </div>
        </div>
        <div class="search-result-list">
          <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in tutorList">
            <div class="tutor-image col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <img src="/assets/site/cat-artes.png">
              <div class="clearfix"></div>
            </div>
            <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
              <div class="content">
                <h4 class="tutor-name">María Alvarado Ruíz</h4>
                <h5 class="tutor-county">Condesa</h5>
                <p class="resume">
                  The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men.
                  Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness,
                  for he is truly his brother's keeper and the finder of lost children.
                </p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
              <div class="content">
                <div class="content-score">
                  <div class="score">
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                    <span class="icon-star1"></span>
                  </div>
                </div>
                <div class="content-price">
                  <h4 class="price">
                    $ 300.00 MXN <br>
                    Por hora
                  </h4>
                </div>
                <div class="content-button">
                  <button class="action-button send-message">Enviar mensaje</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="bgcolor-light-gray section-search">
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
        <div>
          <h2 class="hidden-xs">geek</h2>
          <h3>¿Qué quieres aprender?</h3>
          <form>
            <input type="text" class="course" placeholder="Me interesaría aprender..." ng-model="subjectInput">
            <angucomplete-alt id="counties"
                              placeholder="En la zona de..."
                              pause="600"
                              selected-object="selectedCountyInput"
                              local-data="counties"
                              search-fields="name"
                              title-field="name"
                              minlength="1"
                              input-class="county">

            </angucomplete-alt>
            <button ng-click="searchTutor()">Buscar</button>
          </form>
        </div>
        <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
      </div>
    </div>
  </div>
</div>

<div class="bgcolor-light-green green-separator"></div>

<div class="container-fluid">
  <div class="row bgcolor-light-blue">
    <div class="section-how-it-works">
      <div class="col-lg-4 col-md-4 col-sm-4 text-color-white"><span class="number">1</span><span class="title">Busca a tu tutor.</span></div>
      <div class="col-lg-4 col-md-4 col-sm-4 text-color-white"><span class="number">2</span><span class="title">Agenda una cita.</span></div>
      <div class="col-lg-4 col-md-4 col-sm-4 text-color-white"><span class="number">3</span><span class="title">Pasa tu examen de Álgebra.</span></div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-categories">
      <div class="category" ng-repeat="category in categories" ng-if="!category.category_id" ng-Ready="categoryLandingSpinner">
        <a href="#" title="{{ category.description }}">
          <img ng-src="{{ category.picture_url }}" alt="{{ category.name }}">
          <span class="category-title">{{ category.name }}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row bgcolor-light-blue">
    <div class="section-benefits">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 benefit">
        <h3>Geek es rápido y practico.</h3>
        <p>No pierdas tiempo buscando tutores en pizarrones de corcho Geek
          te permite encontrar el tutor que buscas en la zona que lo necesites
          desde tu computa dora o smartphone.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 benefit">
        <h3>Geek te ahorra correr al cajero automático.</h3>
        <p>Todas la transacción de Geek es en linea, 100%, y se cobra una vez que ya
          haya terminado la clase.
        </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 benefit">
        <h3>Geek es seguro.</h3>
        <p>Todos nuestros tutores están validados por nosotros para asegurarnos de que sean
          confiables y profesionales.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 hidden-lg hidden-md hidden-sm language">
        <a href="#" title="¿Quieres dar clases en geek?" class="text-color-light-blue">English/Español</a>
      </div>
      <div class="col-lg-6 col-md-6">© Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla risus mauris, eleifend vel vehicula ac.</div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
      <div class="col-lg-2 col-md-2 social-icons">
        <a href="" title="Facebook"><img src="/assets/icons/icon-fb.png" alt="Facebook Icon"></a>
        <a href="" title="Instagram"><img src="/assets/icons/icon-ig.png" alt="Instagram Icon"></a>
        <a href="" title="Twitter"><img src="/assets/icons/icon-tw.png" alt="Twitter Icon"></a>
      </div>
    </div>
  </div>
</footer>