<div class="section-search-results">
  <div class="bgcolor-light-gray light-search section-search" ng-show="showTopSearchbar">
    <h2 class="col-lg-2 col-md-3 hidden-sm hidden-xs">geek</h2>
    <form class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <angucomplete-alt-geek id="topics"
                        placeholder="Me interesaría aprender..."
                        pause="600"
                        selected-object="subjectInput"
                        local-data="categories"
                        search-fields="name"
                        title-field="name"
                        minlength="1"
                        input-class="category">
      </angucomplete-alt-geek>
      <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="En la zona de..." googleplace>
      <a class="search-button icon-pointer" ng-click="searchTutor()">Buscar</a>
    </form>
    <div class="clearfix"></div>
  </div>

  <div class="search-results-list" ng-show="showTopSearchbar">
    <div class="unavailable-message" ng-hide="tutorList.length || suggestedTutorList.length">
      <div class="unavailable-message-content">
        <h3>Lo sentimos, no encontramos tutores</h3>
      </div>
    </div>
    <div class="search-results-tools" ng-show="selectedTutor">
      <span ng-hide="selectedTutor">Filtros:</span>
      <span class="btn-back" ng-click="showSearchResults()" ng-show="selectedTutor"><< MOSTRAR TODOS</span>
    </div>
    <div class="search-result-list" ng-show="tutorList.length || suggestedTutorList.length">
      <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in tutorList" ng-show="tutor.show" on-tutor-search-render>
        <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="tutor_picture">
            <img/>
          </div>
        </div>
        <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content">
            <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <h5 class="tutor-county"><span ng-repeat="county in tutor.counties">{{ county.name }}{{ $last ? '' : ', ' }}</span></h5>
            <p class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="ver mas..." ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></p>
            <div class="given-classes">
              <div>Horas de clase: {{tutor.appointments.classes || 0}}</div>
              <div>Estudiantes: {{tutor.appointments.classes || 0}}</div>
            </div>
          </div>
        </div>
        <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="content">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
              </div>
            </div>
            <div class="content-price">
              <h4 class="price">
                {{ tutor.costRange }} <br>
                Por hora
              </h4>
              <div class="preferences">
                <span class="icon-earth" ng-class="{'active' : tutor.preference.online}" title="En línea"></span>
                <span class="icon-teach" ng-class="{'active' : tutor.preference.office}" title="Casa del tutor"></span>
                <span class="icon-school" ng-class="{'active' : tutor.preference.student_place}" title="Casa del estudiante"></span>
                <span class="icon-coffee" ng-class="{'active' : tutor.preference.public}" title="Lugar público"></span>
              </div>
            </div>
            <div class="content-button">
              <button class="action-button see-availability" ng-click="showTutorDetails(tutor)" ng-hide="selectedTutor">Ver disponibilidad</button>
              <button class="action-button send-message" ng-click="showTutorDetails(tutor)" ng-show="selectedTutor">Enviar mensaje</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <h3 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-title" ng-hide="selectedTutor">También te recomendamos</h3>
      <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in suggestedTutorList" ng-show="tutor.show" on-tutor-search-render>
        <div class="tutor_picture_container col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="tutor_picture">
            <img/>
          </div>
        </div>
        <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content">
            <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <h5 class="tutor-county"><span ng-repeat="county in tutor.counties">{{ county.name }}{{ $last ? '' : ', ' }}</span></h5>
            <p class="resume" ng-class="{ 'expanded' : tutor.id == selectedTutor.id }" ng-bind="tutor.background" ellipsis ellipsis-append="ver mas..." ellipsis-symbol="... " ellipsis-append-click="showTutorDetails(tutor)" ellipsis-id="tutor.id"></p>
            <div class="given-classes">
              <div>Horas de clase: {{tutor.appointments.classes || 0}}</div>
              <div>Estudiantes: {{tutor.appointments.classes || 0}}</div>
            </div>
          </div>
        </div>
        <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="content">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1" ng-class="tutor.reviews.average >= 1 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 2 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 3 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 4 ? 'star-full': 'star-empty'"></span>
                <span class="icon-star1" ng-class="tutor.reviews.average >= 5 ? 'star-full': 'star-empty'"></span>
              </div>
            </div>
            <div class="content-price">
              <h4 class="price">
                {{ tutor.costRange }} <br>
                Por hora
              </h4>
              <div class="preferences">
                <span class="icon-earth" ng-class="{'active' : tutor.preference.online}" title="En línea"></span>
                <span class="icon-teach" ng-class="{'active' : tutor.preference.office}" title="Casa del tutor"></span>
                <span class="icon-school" ng-class="{'active' : tutor.preference.student_place}" title="Casa del estudiante"></span>
                <span class="icon-coffee" ng-class="{'active' : tutor.preference.public}" title="Lugar público"></span>
              </div>
            </div>
            <div class="content-button">
              <button class="action-button see-availability" ng-click="showTutorDetails(tutor)" ng-hide="selectedTutor">Ver disponibilidad</button>
              <button class="action-button send-message" ng-click="showTutorDetails(tutor)" ng-show="selectedTutor">Enviar mensaje</button>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="calendar" ng-show="selectedTutor">
      <h3 class="section-title">Agenda una clase con {{ selectedTutor.first_name }}</h3>
      <ng-alert id="appointment-alert" alert-params="appointmentAlertParams"></ng-alert>
      <div class="week-view tutor-calendar-section" ng-controller="CalendarController">
        <div class="week-row tutor-calendar-title-day">
          <table>
            <tbody>
            <tr class="week-title">
              <td class="control"><span class="control-arrow control-left-arrow" ng-click="changeWeek('previous')" ng-show="showPreviousWeek"></span></td>
              <td class="title">Semana del {{ selectedWeek[0].numberDay }} de {{ MONTHS[selectedWeek[0].month] }} al {{ selectedWeek[6].numberDay }} de {{ MONTHS[selectedWeek[6].month] }}</td>
              <td class="control"><span class="control-arrow control-right-arrow" ng-click="changeWeek('next')"></span></td>
            </tr>
            </tbody>
          </table>
          <table>
            <tbody>
            <tr>
              <td class="week-day-title"></td>
              <td class="week-day-title" ng-repeat="day in DAYS">
                <span class="hidden-sm hidden-xs">{{ day.title }}</span>
                <span class="hidden-md hidden-lg">{{ day.minTitle }}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="tutor-calendar-hours week-row" calendar-scroll>
          <table ng-repeat="row in weekRows" id="week-row-{{ HOURS[$index] }}">
            <tbody>
            <tr>
              <td class="week-day">{{ HOURS[$index] }}</td>
              <td class="week-day" ng-class="[{true:'highlighted', false: ''}[halfHour.highlight], {true:'available', false: 'unavailable'}[halfHour.available]]" ng-repeat="halfHour in row.halfHours" ng-click="showAppointmentRequestModal($event, $parent.$index, $index, selectedWeek[$index])"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="showTopSearchbar">
    <div class="bgcolor-light-gray section-search">
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
      <div>
        <h2 class="hidden-xs">geek</h2>
        <h3>¿Qué quieres aprender?</h3>
        <form>
          <angucomplete-alt-geek id="topics"
                            placeholder="Me interesaría aprender..."
                            pause="600"
                            selected-object="subjectInput"
                            local-data="categories"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="category">
          </angucomplete-alt-geek>
          <input class="county" type="text" ng-model="chosenPlace" details="chosenPlaceDetails" on-place-change="onPlaceChanged" placeholder="En la zona de..." googleplace>
          <a class="search-button icon-pointer" ng-click="searchTutor()">Buscar</a>
        </form>
      </div>
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
    </div>
  </div>
</div>

<div ng-modal-appointment-request ></div>
