<div class="section-search-results">
  <div class="bgcolor-light-gray light-search section-search" ng-show="tutorList.length > 0">
    <h2 class="col-lg-2 col-md-3 hidden-sm hidden-xs">geek</h2>
    <form class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
      <angucomplete-alt-geek id="topics"
                        placeholder="Me interesaría aprender..."
                        pause="600"
                        selected-object="subjectInput"
                        local-data="categories"
                        search-fields="name"
                        title-field="name"
                        minlength="1"
                        input-class="category">
      </angucomplete-alt-geek>
      <angucomplete-alt-geek id="counties"
                        placeholder="En la zona de..."
                        pause="600"
                        selected-object="selectedCountyInput"
                        local-data="counties"
                        search-fields="name"
                        title-field="name"
                        minlength="1"
                        input-class="county">
      </angucomplete-alt-geek>
      <button ng-click="searchTutor()">Buscar</button>
    </form>
    <div class="clearfix"></div>
  </div>

  <div class="search-results-list" ng-show="tutorList.length > 0">
    <div class="search-results-tools" ng-show="selectedTutor">
      <span ng-hide="selectedTutor">Filtros:</span>
      <span ng-click="showSearchResults()" ng-show="selectedTutor">Regresar</span>
    </div>
    <div class="search-result-list">
      <div class="tutor" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="tutor in tutorList" ng-show="tutor.show">
        <div class="tutor-image col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <img ng-src="{{ tutor.picture_url && tutor.picture_url || PROFILE_IMAGE }}" alt="{{ PROFILE_IMAGE }}">
          <div class="clearfix"></div>
        </div>
        <div class="tutor-personal-info col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="content">
            <h4 class="tutor-name">{{ tutor.first_name }} {{ tutor.last_name }}</h4>
            <h5 class="tutor-county"><span ng-repeat="county in tutor.counties">{{ county.name }}{{ $last ? '' : ', ' }}</span></h5>
            <p class="resume">
              {{ tutor.background }}
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="tutor-class-info col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <div class="content">
            <div class="content-score">
              <div class="score">
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
                <span class="icon-star1"></span>
              </div>
            </div>
            <div class="content-price">
              <h4 class="price">
                {{ tutor.costRange }} <br>
                Por hora
              </h4>
            </div>
            <div class="content-button" ng-hide="selectedTutor">
              <button class="action-button send-message" ng-click="showTutorDetails(tutor)" >Ver disponibilidad</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="calendar" ng-show="selectedTutor">
      <h3 class="section-title">Agenda una clase con {{ selectedTutor.first_name }}</h3>
      <div class="week-view tutor-calendar-section" ng-controller="CalendarController">
        <div class="week-row tutor-calendar-title-day">
          <table>
            <tbody>
            <tr class="week-title">
              <td class="control"><span class="control-arrow control-left-arrow" ng-click="changeWeek('previous')" ng-show="showPreviousWeek"></span></td>
              <td class="title">Semana del {{ selectedWeek[0].numberDay }} de {{ MONTHS[selectedWeek[0].month] }} al {{ selectedWeek[6].numberDay }} de {{ MONTHS[selectedWeek[6].month] }}</td>
              <td class="control"><span class="control-arrow control-right-arrow" ng-click="changeWeek('next')"></span></td>
            </tr>
            </tbody>
          </table>
          <table>
            <tbody>
            <tr>
              <td class="week-day-title"></td>
              <td class="week-day-title" ng-repeat="day in DAYS">
                <span class="hidden-sm hidden-xs">{{ day.title }}</span>
                <span class="hidden-md hidden-lg">{{ day.minTitle }}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="tutor-calendar-hours week-row" calendar-scroll>
          <table ng-repeat="row in weekRows" id="week-row-{{ HOURS[$index] }}">
            <tbody>
            <tr>
              <td class="week-day">{{ HOURS[$index] }}</td>
              <td class="week-day" ng-class="[{true:'highlighted', false: ''}[halfHour.highlight], {true:'available', false: 'unavailable'}[halfHour.available]]" ng-repeat="halfHour in row.halfHours" ng-click="showAppointmentRequestModal($event, $parent.$index, $index, selectedWeek[$index])"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-hide="tutorList.length > 0">
    <div class="bgcolor-light-gray section-search">
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-xs">
      <div>
        <h2 class="hidden-xs">geek</h2>
        <h3>¿Qué quieres aprender?</h3>
        <form>
          <angucomplete-alt-geek id="topics"
                            placeholder="Me interesaría aprender..."
                            pause="600"
                            selected-object="subjectInput"
                            local-data="categories"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="category">
          </angucomplete-alt-geek>
          <angucomplete-alt-geek id="counties"
                            placeholder="En la zona de..."
                            pause="600"
                            selected-object="selectedCountyInput"
                            local-data="counties"
                            search-fields="name"
                            title-field="name"
                            minlength="1"
                            input-class="county">
          </angucomplete-alt-geek>
          <button ng-click="searchTutor()">Buscar</button>
        </form>
      </div>
      <img src="/assets/site/geek.png" alt="Geek" class="search-image hidden-lg hidden-md hidden-sm">
    </div>
  </div>
</div>

<div ng-modal-appointment-request ></div>
