<div ng-controller="PaymentController">
  <h2 class="section-title">{{ 'PAYMENT_TITLE' | translate}}</h2>
  <ng-alert id="student-form" alert-params="studentPaymentParams"></ng-alert>
  <div class="form">
    <form name="studentPaymentOptionsForm" id="student_payment_options_form" class="dashboard-form validation-form">
      <fieldset>
        <legend translate="PAYMENT_METHOD_SUBTITLE"></legend>
        <div>
          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'DEBIT_CARD_HOLDER_NAME' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="debit_card_holder" ng-model="debitCardHolder" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_DEBIT_CARD_HOLDER_NAME' | translate }}" popover="{{studentPaymentOptionsForm.debit_card_holder.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>
          <div class="form-group" show-errors>
            <div class="left">
              <label>{{ 'DEBIT_CARD_NUMBER' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="debit_card_number" ng-model="debitCardNumber" pattern="/^[0-9]+$/" ng-pattern="/^[0-9]+$/" ng-minlength="16" ng-maxlength="16" maxlength="16" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_DEBIT_CARD_NUMBER' | translate }}" popover="{{studentPaymentOptionsForm.debit_card_number.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>
          <div class="form-group" ng-class="expirationErrorClass">
            <div class="left">
              <label>{{ 'PAYMENT_LABEL_EXPIRATION_DATE' | translate }}:</label>
            </div>
            <div class="right">

              <div class="dropdown form-dropdown" >
                <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                  <span ng-if="expirationMonth">{{ expirationMonth }}</span>
                  <span ng-if="!expirationMonth" translate="MONTH"></span>
                  &nbsp;
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header"><span translate="MONTH"></span></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" ng-repeat="month in MONTHS"><a role="menuitem" tabindex="{{ $index+1 }}"  ng-click="setExpirationMonth($index+1)">{{ ($index+1) }}</a></li>
                </ul>
              </div>

              <div class="dropdown form-dropdown">
                <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                  <span ng-if="expirationYear">{{ expirationYear }}</span>
                  <span ng-if="!expirationYear" translate="YEAR"></span>
                  &nbsp;
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header"><span translate="YEAR"></span></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation" ng-repeat="year in availableYears"><a role="menuitem" tabindex="{{ year }}"  ng-click="setExpirationYear(year)">{{ year }}</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_VERIFICATION_NUMBER' | translate }}:</label>
            </div>
            <div class="right">
              <div class="input-container-small">
                <input type="text" name="verification_number" ng-model="debitCardValidationNumber" ng-pattern="/^[0-9]+$/" ng-minlength="3" ng-maxlength="5" maxlength="5" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_VERIFICATION_NUMBER' | translate }}" popover="{{studentPaymentOptionsForm.verification_number.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
              </div>
            </div>
          </div>
          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_ADDRESS' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="address_line_1" ng-model="$parent.addressLine1"  class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_ADDRESS_LINE_1' | translate }}" popover="{{studentPaymentOptionsForm.address_line_1.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left"></div>
            <div class="right">
              <input type="text" name="address_line_2" ng-model="$parent.addressLine2" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_ADDRESS_LINE_2' | translate }}" popover="{{studentPaymentOptionsForm.address_line_2.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_CITY' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="city" ng-model="$parent.city"  class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_CITY' | translate }}" popover="{{studentPaymentOptionsForm.city.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>

          <div class="form-group"  ng-class="stateErrorClass">
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_STATE' | translate }}:</label>
            </div>
            <div class="right">
              <div class="dropdown form-dropdown input-container-medium">
                <button class="btn btn-default dropdown-toggle dropdown-button" type="button" data-toggle="dropdown">
                  <span ng-if="state">{{ state }}</span>
                  <span ng-if="!state" translate="STATE"></span>
                  &nbsp;
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" ng-repeat="state in LIST_OF_STATES"><a role="menuitem"  ng-click="setState(state)">{{ state }}</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="form-group" show-errors>
            <div class="left">
              <label> {{ 'PAYMENT_LABEL_POSTAL_CODE' | translate }}:</label>
            </div>
            <div class="right">
              <input type="text" name="postal_code" ng-model="$parent.postalCode" class="form-input form-control" placeholder="{{ 'PAYMENT_PLACEHOLDER_POSTAL_CODE' | translate }}" ng-pattern="/^[0-9]+$/" ng-minlength="5" ng-maxlength="5" maxlength="5" popover="{{studentPaymentOptionsForm.postal_code.popoverMessage}}" popover-trigger="click" popover-animation="false" required/>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="send-form">
        <a class="action-button action-button-light-green" ng-click="saveCard()" translate="SAVE"></a>
      </div>
    </form>
  </div>
</div>