<div class="resume" ng-controller="ResumeController">
  <span us-spinner spinner-key="resume-spinner"></span>
  <h2 class="section-title" translate="DASHBOARD_TITLE"></h2>

  <!-- Últimas citas no confirmadas -->
  <h3>{{ 'RESUME_LAST_REQUESTS_TITLE' | translate }}</h3>
  <div class="resume-group">
    <div class="resume-items-group">
      <div class="resume-item" ng-repeat="request in resume.requests.latest" ng-show="resume.requests.latest && resume.requests.latest.length">
        <div class="user-personal-info">
          <div class="content">
            <em class="timestamp">{{ translateAppointmentDate(request.day, request.numberDay, request.month) }}: {{ 'FROM' | translate }} {{ request.startHour }} {{ 'TO' | translate }} {{ request.endHour }}</em>
            <h4 class="user-name">{{ request.tutor.first_name }} {{ request.tutor.last_name }}</h4>
            <p class="user-last-message">{{ request.subject }}</p>
          </div>
        </div>
      </div>
      <div class="unavailable-resume-items-message" ng-show="resume.requests.latest && resume.requests.latest.length == 0">
        {{ 'RESUME_UNAVAILABLE_REQUESTS_MESSAGE' | translate }}
      </div>
    </div>

    <div class="resume-group-actions" ng-if="resume.requests.latest.length">
      <div class="resume-total-info"><span translate="TOTAL"></span>: {{ resume.requests.total }}</div>
      <div class="resume-actions">
        <a class="btn-back" ui-sref="dashboard.my-classes" translate="RESUME_SHOW_ALL_REQUESTS_BUTTON"></a>
      </div>
    </div>

  </div>

  <!-- Últimas citas confirmadas -->
  <h3>{{ 'RESUME_LAST_APPOINTMENTS_TITLE' | translate }}</h3>
  <div class="resume-group">
    <div class="resume-items-group">
      <div class="resume-item" ng-repeat="appointment in resume.appointments.latest" ng-show="resume.appointments.latest && resume.appointments.latest.length">
        <div class="user-personal-info">
          <div class="content">
            <em class="timestamp">{{ translateAppointmentDate(appointment.day, appointment.numberDay, appointment.month) }}: {{ 'FROM' | translate }} {{ appointment.startHour }} {{ 'TO' | translate }} {{ appointment.endHour }}</em>
            <h4 class="user-name">{{ appointment.tutor.first_name }} {{ appointment.tutor.last_name }}</h4>
            <p class="user-last-message">{{ appointment.subject }}</p>
          </div>
        </div>
      </div>
      <div class="unavailable-resume-items-message" ng-show="resume.appointments.latest && resume.appointments.latest.length == 0">
        {{ 'RESUME_UNAVAILABLE_REQUESTS_MESSAGE' | translate }}
      </div>
    </div>

    <div class="resume-group-actions" ng-if="resume.appointments.latest.length">
      <div class="resume-total-info"><span class="resume-total-label" translate="TOTAL"></span>: {{ resume.appointments.total }}</div>
      <div class="resume-actions">
        <a class="btn-back" ui-sref="dashboard.my-classes" translate="RESUME_SHOW_ALL_APPOINTMENTS_BUTTON"></a>
      </div>
    </div>
  </div>

  <!-- Últimos mensajes -->
  <h3>{{ 'RESUME_LAST_MESSAGES_TITLE' | translate }}</h3>
  <div class="resume-group">
    <div class="resume-items-group">
      <div class="resume-item" ng-repeat="message in resume.messages.latest" ng-show="resume.messages.latest && resume.messages.latest.length">
        <div class="user-personal-info">
          <div class="content">
            <em class="timestamp">{{ message.timestamp | timestampTranslateFilter}}</em>
            <h4 class="user-name">{{ message.tutor.first_name }} {{ message.tutor.last_name }}</h4>
            <p class="user-last-message">{{ message.text }}</p>
          </div>
        </div>
      </div>
      <div class="unavailable-resume-items-message" ng-show="resume.messages.latest && resume.messages.latest.length == 0">
        {{ 'RESUME_UNAVAILABLE_MESSAGES_MESSAGE' | translate }}
      </div>
    </div>

    <div class="resume-group-actions" ng-if="resume.messages.latest.length">
      <div class="resume-total-info"><span class="resume-total-label" translate="TOTAL"></span>: {{ resume.messages.total }}</div>
      <div class="resume-actions">
        <a class="btn-back" ui-sref="dashboard.messages" translate="RESUME_SHOW_ALL_MESSAGES_BUTTON"></a>
      </div>
    </div>
  </div>

</div>