<div class="messages" ng-controller="CommonController">
    <span us-spinner spinner-key="messages-spinner"></span>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 section-dashboard-container">
                <div class="trust_safety">
                    <h2 class="section-title ng-scope" translate="FOOTER_TRUST"></h2>

                    <p translate="TRUST_SAFETY_P_1"></p>
                    <p translate="TRUST_SAFETY_P_2"></p>
                    
                    <h3 class="subtitle-section"><u translate="TRUST_SAFETY_ST_1"></u></h3>
                        <p translate="TRUST_SAFETY_P_3"></p>
                     
                        <p><img src="/assets/site/identity-check.png" width="100" />
                            <p translate="TRUST_SAFETY_P_4"></p>
                        </p>


                    
                        <p translate="TRUST_SAFETY_P_5"></p>
                     
                        <p><img src="/assets/site/in-person.png" width="100" />
                            <p translate="TRUST_SAFETY_P_6"></p>
                        </p>

                        <p translate="TRUST_SAFETY_P_7"></p>
                     
                        <div class="sections">
                            <p><img src="/assets/site/references.png" width="100" />
                                <p translate="TRUST_SAFETY_P_8"></p>                    
                            </p>
                        </div>

                        <p translate="TRUST_SAFETY_P_9"></p>                        
                        <p><img src="/assets/site/ongoing-review.png" width="100" />
                            <p translate="TRUST_SAFETY_P_10"></p>
                            <p translate="TRUST_SAFETY_P_11"></p>
                            <p translate="TRUST_SAFETY_P_12"></p>
                        </p>    
                            
                        <h3 class="subtitle-section"><u translate="TRUST_SAFETY_ST_2"></u></h3>
                        <p translate="TRUST_SAFETY_P_13"></p>
                        
                        <p translate="TRUST_SAFETY_P_14"></p> 
                        <div class="sections">
                            <p><img src="/assets/site/compare.png" width="100" />
                                <p translate="TRUST_SAFETY_P_15"></p>
                            </p>
                        </div>


                        <p translate="TRUST_SAFETY_P_16"></p>                        
                        <p><img src="/assets/site/rating.png" width="100" />
                            <p translate="TRUST_SAFETY_P_17"></p>
                            <p translate="TRUST_SAFETY_P_18"></p>
                            <p translate="TRUST_SAFETY_P_19"></p>
                        </p>

                        <p translate="TRUST_SAFETY_P_20"></p>                        
                        <p><img src="/assets/site/lock.png" width="100" />
                            <p translate="TRUST_SAFETY_P_21"></p>
                            <p translate="TRUST_SAFETY_P_22"></p>
                        </p>

                        <p translate="TRUST_SAFETY_P_23"></p>
                        <div class="sections">
                            <p><img src="/assets/site/payment.png" width="100" />
                                <p translate="TRUST_SAFETY_P_24"></p>
                            </p>
                        </div>                        
                        

                        <p translate="TRUST_SAFETY_P_25"></p>
                        <div class="sections">                        
                        <p><img src="/assets/site/coffe.png" width="100" />
                            <p translate="TRUST_SAFETY_P_26"></p>
                        </p>
                        </div>

                        <p translate="TRUST_SAFETY_P_27"></p>
                        <div class="sections">
                            <p><img src="/assets/site/support.png" width="100" />
                            <p translate="TRUST_SAFETY_P_28"></p>
                        </p>
                        </div>                        
                        

                        <p translate="TRUST_SAFETY_P_29"></p>                        
                        <p><img src="/assets/site/adult.png" width="100" />
                            <p translate="TRUST_SAFETY_P_30"></p>
                        </p>   

                    

                    
                </div>
            </div>
        </div>
    </div>
</div>