<div class="modal-container" ng-show="toggle" >
  <div id="tutor-detail" class="search-result-list calendar">
    <span class="icon-close-big" ng-click="closeTutorDetailModal()"></span>
    <div class="tutor">
      <div class="tutor-image">
        <img src="/assets/site/cat-artes.png">
        <div class="clearfix"></div>
      </div>
      <div class="tutor-personal-info">
        <div class="content">
          <h4 class="tutor-name">{{ selectedTutor.first_name }} {{ selectedTutor.last_name }}</h4>
          <h5 class="tutor-county" ng-repeat="county in selectedTutor.counties">{{ county.name }}{{ $last ? '' : ', ' }}</h5>
          <p class="resume">
            {{ selectedTutor.background }}
          </p>
        </div>
      </div>
      <div class="tutor-class-info">
        <div class="content">
          <div class="content-score">
            <div class="score">
              <span class="icon-star1"></span>
              <span class="icon-star1"></span>
              <span class="icon-star1"></span>
              <span class="icon-star1"></span>
              <span class="icon-star1"></span>
            </div>
          </div>
          <div class="content-price">
            <h4 class="price">
              $ {{ selectedTutor.preference.cost }} <br>
              Por hora
            </h4>
          </div>
        </div>
      </div>
    </div>

    <div class="week-view tutor-calendar-section" ng-controller="CalendarController">

      <div class="week-row tutor-calendar-title-day">
        <table>
          <tbody>
          <tr class="week-title">
            <td class="control"><span class="control-arrow control-left-arrow" ng-click="getPreviousWeek()"></span></td>
            <td class="title">Semana del {{ selectedWeek[0].numberDay }} de {{ MONTHS[selectedWeek[0].month] }} al {{ selectedWeek[6].numberDay }} de {{ MONTHS[selectedWeek[6].month] }}</td>
            <td class="control"><span class="control-arrow control-right-arrow" ng-click="getNextWeek()"></span></td>
          </tr>
          </tbody>
        </table>
        <table>
          <tbody>
          <tr>
            <td class="week-day-title"></td>
            <td class="week-day-title" ng-repeat="day in DAYS">
              <span class="hidden-sm hidden-xs">{{ day.title }}</span>
              <span class="hidden-md hidden-lg">{{ day.minTitle }}</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="tutor-calendar-hours week-row">
        <table ng-repeat="row in weekRows" id="week-row-{{ HOURS[$index] }}">
          <tbody>
          <tr>
            <td class="week-day">{{ HOURS[$index] }}</td>
            <td class="week-day" ng-class="[halfHour.appointment.appointmentStatusClass, {true:'available', false: 'unavailable'}[halfHour.available]]" ng-repeat="halfHour in row.halfHours" ng-click="showAppointmentDetail($event,halfHour.appointment)"></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>