<div ng-class="[DEFAULT_CLASS, detailArrowClass]" ng-style="modalStyle" ng-show="tutorReviewDetail">
  <span class="icon-close modal-detail-close" ng-click="closeReviewDetail()"></span>
  <div class="modal-detail-header" translate="POPUP_REVIEW_DETAIL_TITLE"></div>
  <div class="modal-detail-content">
    <table class="score-table">
      <tr>
        <td>
          <span translate="POPUP_REVIEW_KNOWLEDGE"></span>
        </td>
        <td>
          <div class="score">
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_knowledge >= 1 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_knowledge >= 2 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_knowledge >= 3 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_knowledge >= 4 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_knowledge >= 5 ? 'star-full': 'star-empty'"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span translate="POPUP_REVIEW_COMMUNICATION"></span>
        </td>
        <td>
          <div class="score">
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_communication >= 1 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_communication >= 2 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_communication >= 3 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_communication >= 4 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_communication >= 5 ? 'star-full': 'star-empty'"></span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span translate="POPUP_REVIEW_PRESENTATION"></span>
        </td>
        <td>
          <div class="score">
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_presentation >= 1 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_presentation >= 2 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_presentation >= 3 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_presentation >= 4 ? 'star-full': 'star-empty'"></span>
            <span class="icon-star1" ng-class="tutorReviewDetail.evaluation.grade_presentation >= 5 ? 'star-full': 'star-empty'"></span>
          </div>
        </td>
      </tr>
    </table>

    <br/>
      <label style="font-weight: normal">{{ 'POPUP_REVIEW_COMMENT' | translate }}:</label><br/>
      <div>{{ tutorReviewDetail.evaluation.description }}</div>
    <br/>
  </div>
  <div class="modal-detail-footer"></div>
</div>
