<div ng-class="[DEFAULT_CLASS, detailArrowClass]" ng-style="modalStyle" ng-show="clickedAppointment">
  <span class="icon-close modal-detail-close" ng-click="closeAppointmentDetail()"></span>
  <div class="modal-detail-header" ng-bind="clickedAppointment.title"></div>
  <div class="modal-detail-content">
    <table>
      <tr><td class="appointment-detail-content" ng-bind="clickedAppointment.start | dateTranslateFilter"></td></tr>
      <tr><td class="appointment-detail-content" ng-bind="clickedAppointment.time"></td></tr>
      <tr>
        <td class="appointment-detail-content">
          <span class="{{clickedAppointment.status.class}}"><span class="{{clickedAppointment.status.icon_class}}"></span> {{ clickedAppointment.status.name | translate }}</span>
        </td>
      </tr>
      <tr><td ng-if="clickedAppointment.anomaly" class="appointment-detail-content"><span class="anomaly-reported"><span class="icon-alert"></span> {{ 'ANOMALY_REPORTED' | translate}}:</span> {{ clickedAppointment.anomaly.description }}</td></tr>
      <tr><td ng-if="clickedAppointment.paid" class="appointment-detail-content payment-icon"><span class="icon-coin-dollar"></span> {{ 'PAYMENT_LABEL_PAYMENT_RECEIVED' | translate }}</td></tr>
    </table>
  </div>
  <div class="modal-detail-footer"></div>
</div>