@font-face {
	font-family: 'icomoon';
	src:url('/assets/icomoon.eot?nw9kij');
	src:url('/assets/icomoon.eot?#iefixnw9kij') format('embedded-opentype'),
		url('/assets/icomoon.woff?nw9kij') format('woff'),
		url('/assets/icomoon.ttf?nw9kij') format('truetype'),
		url('/assets/icomoon.svg?nw9kij#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
	content: "\e603";
}
.icon-facebook2:before {
	content: "\e604";
}
.icon-googleplus:before {
	content: "\e600";
}
