// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lib/global";

.custom-checkbox {
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    background: $color-sign-up-input-blue;
  }
}

footer{
  color: $color-light-blue;
  font-family: "Gotham";
  font-size: 10px;
  font-weight: 400;
  padding: 2.5em 0em;
  text-align: center;
  vertical-align: middle;

  .language{
    font-size: 16px;
    margin-bottom: 1em;
    text-align: center;

    a{
      text-decoration: underline;
    }
  }

  .social-icons{
    margin-top: 1.3em;
  }

  img{
    max-width: 38px;
    width: 100%;
  }
}

#sign-in-modal {

  .modal-dialog {
    font-family: "gotham";
    font-weight: 500;
    font-style: normal;
    max-width: 350px;
    width: 100%;

    .modal-content {
      border-color: $color-sign-up-medium-blue;
      border-width: 7px;
      border-radius: 10px;
      overflow: hidden;
      box-sizing: content-box;

      .modal-head {
        background-color: $color-sign-up-dark-blue;
        border-bottom: 7px solid;
        border-color: $color-sign-up-medium-blue;
        font-size: 0;
        height: 240px;
        overflow: hidden;
        position: relative;

        .owl {
          bottom: 60px;
          margin: 0 auto;
          position: absolute;
          width: 100%;

          img {
            width: 200px;
          }
        }

        .owl-hands {
          bottom: 45px;
          margin: 0 auto;
          position: absolute;
          width: 100%;

          img {
            width: 170px;
          }
        }

        .tabs {
          bottom: 0px;
          cursor: pointer;
          position: absolute;
          width: 100%;

          .tab {
            background-color: $color-sign-up-dark-blue;
            display: inline-block;
            font-size: 15px;
            position: absolute;
            bottom: 0;
            width: 230px;

            span {
              bottom: 15px;
              color: #28479C;
              position: absolute;
              width: 175px;
            }
          }

          .tab.active {
            background-color: $color-sign-up-light-blue;
          }

          .left-tab {
            border-top-left-radius: 100%;
            border-top: 7px solid $color-sign-up-medium-blue;
            border-left: 7px solid $color-sign-up-medium-blue;
            border-right: 3px solid $color-sign-up-medium-blue;
            left: -62px;
            height: 65px;

            span {
              right: 0;
            }
          }

          .right-tab {
            border-top-right-radius: 100%;
            border-top: 7px solid $color-sign-up-medium-blue;
            border-left: 4px solid $color-sign-up-medium-blue;
            border-right: 7px solid $color-sign-up-medium-blue;
            height: 65px;
            right: -62px;

            span {
              left: 0;
            }
          }
        }
      }

      .modal-body {
        font-size: 14px;
        height: 345px;
        padding: 20px;

        .form-button-fb {
          background-color: #6A86C9;
          border-radius: 2px;
          color: white;
          cursor: pointer;
          display: table;
          height: 42px;
          text-align: center;
          width: 100%;

          div {
            display: table-cell;
            height: 100%;
            padding-top: 4px;
            vertical-align: middle;
          }
        }

        .form-input {
          background: white;
          background-color: $color-sign-up-medium-blue;
          border: 0;
          border-radius: 2px;
          color: $color-sign-up-input-blue;
          display: block;
          height: 30px;
          margin-top: 18px;
          outline: 0;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 7px;
          width: 100%;
        }

        .form-text {
          color: $color-sign-up-medium-blue;
          font-size: 18px;
          margin-top: 12px;
          padding-top: 10px;
        }

        .has-error .form-input{
          background-color: red;
        }

        .has-error.form-checkbox{
          background-color: red;
        }

        .form-checkbox {
          color: $color-sign-up-input-blue;
          font-size: 11px;
          text-align: left;
          width: 100%;

          .form-control {
            display: inline-block;
            height: 0;
            width: 0;
          }

          label {
            font-weight: 500;
            padding-top: 4px;
          }
        }

        ::-webkit-input-placeholder { color: $color-sign-up-input-blue; }
        ::-moz-placeholder { color: $color-sign-up-input-blue; } /* firefox 19+ */
        :-ms-input-placeholder { color: $color-sign-up-input-blue; } /* ie */
        input:-moz-placeholder { color: $color-sign-up-input-blue; }

        .form-submit {
          background-color: $color-sign-up-input-blue;
          border-radius: 2px;
          color: white;
          cursor: pointer;
          display: table;
          height: 52px;
          margin-top: 15px;
          text-align: center;
          width: 100%;

          div {
            display: table-cell;
            height: 100%;
            padding-top: 4px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.section-benefits{
  box-sizing: border-box;
  font-family: 'Gotham';
  margin: 0px auto;
  max-width: 1170px;
  padding: 2.5em;

  .benefit{
    color: white;
    padding: 0em;

    h3{
      font-family: 'Typewriter';
      font-size: 19px;
    }

    p{
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.section-how-it-works{
  box-sizing: border-box;
  font-size: 22px;
  margin: 0px auto;
  max-width: 1170px;
  padding: 2em 1em 0em;
  text-align: center;

  .row{
    max-width: 1200px;
  }

  span.number{
    border: 2px solid white;
    border-radius: 50px;
    box-sizing: border-box;
    display: block;
    font-size: 20px;
    height: 40px;
    margin: -2px auto 0.8em;
    padding: 0.2em;
    text-align: center;
    vertical-align: middle;
    width: 40px;
  }

  span.title{
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 2em;
    text-transform: uppercase;
    vertical-align: middle;
  }

}

.section-categories{
  font-size: 0px;
  text-align: left;

  a{
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  img{
    display: block;
    margin: 0px auto;
    max-width: 130px;
    width: 100%;
  }

  span{
    display: block;
    margin: 0px auto;
    width: 100%;
  }

  .category:nth-child(odd){
    margin-right: 2%;
  }

  .category:last-child{
    margin-bottom: 0%;
  }

  .category{
    background-color: rgba(166,168,171,0.1);
    display: inline-block;
    font-family: 'Gotham';
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 2%;
    text-align: left;
    width: 100%;

    img{
      display: inline-block;
      margin: 0% 3%;
      width: 35%;
    }

    a{
      padding: 1.5em 1em 1em;
    }

    a:hover{
      text-decoration: none;
    }

    .category-title{
      color: $color-dark-gray;
      display: inline-block;
      font-size: 20px;
      text-transform: uppercase;
      vertical-align: middle;
      width: 55%;
    }
  }

  .category:hover{
    background-color: rgba(166,168,171,0.6);

  }

}

.section-search{
  background-color: rgba(166,168,171,0.1);
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  margin-top: 0em;
  padding-top: 2em;

  > div{
    display: block;
    text-align: center;
  }

  h2{
    color: $color-dark-red;
    font-family: 'Typewriter';
    font-size: 45px;
    margin: 0em 1em;
  }

  h3{
    color: $color-light-green;
    font-family: 'Typewriter';
    font-size: 30px;
    margin: 0em 1em;
  }

  form{
    display: block;
    margin: 0em auto;
    padding: 2em;

    input, select, button{
      background: $color-input-bgcolor;
      border: 1px solid $color-light-gray;
      border-radius: 10px;
      box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.2);
      color: $color-light-gray;
      display: block;
      font-family: "gotham";
      font-weight: 400;

    }

    button{
      color: $color-dark-blue;
      display: block;
      margin: 1em auto 1em;
      padding: 0.8em 1.5em;
      width: 100px;
    }

    button:hover{
      background-color: rgba(166, 168, 171, 0.2);
    }

    input:hover{
      background-color: rgba(166, 168, 171, 0.2);
    }

    input:focus{
      background-color: rgba(166, 168, 171, 0.3);
    }

    select:hover{
      background-color: rgba(166, 168, 171, 0.2);
      cursor: pointer;
    }

    .county, .course{
      appearance: field;
      margin: 0em auto 1em;
      padding: 0.8em 1.5em;
    }

    .county{
      margin-bottom: 0em;
    }
  }

  .search-image{
    display: block;
    margin: 0px auto -10px;
    max-width: 100px;
    width: 100%;
  }

}

@media (min-width: $screen-sm-min) {
  footer{
    padding: 4.5em 0em;
  }

  .section-benefits{
    padding: 2.5em;

    .benefit{
      padding: 0em 2em;
    }
  }

  .section-categories{
    font-size: 0px;
    min-height: 100px;
    text-align: center;

    .category:nth-child(odd){
      margin-right: 0.62%;
    }

    .category{
      display: inline-block;
      font-size: 19px;
      margin: 0% 0.62% 0% 0%;
      padding: 0px;
      text-align: center;
      width: 19.5%;

      img{
        display: block;
        margin: 0px auto;
        width: 100%;
      }

      a{
        padding: 5.5em 1em 3.5em;
      }

      a:hover{
        text-decoration: none;
      }

      .category-title{
        color: $color-dark-gray;
        display: block;
        font-size: 16px;
        margin: 1em auto 0em;
        text-transform: uppercase;
        width: 100%;
      }
    }

    .category:last-child{
      margin-right: 0px;
    }
  }

  .section-search{
    margin-top: 1em;

    > div{
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 70%;
    }

    form{
      box-sizing: content-box;
      display: inline-block;
      margin: 1em 0em;
      padding: 0em 2em 0em 4em;
      text-align: right;

      input, select, button{
        display: inline-block;

      }

      button{
        display: inline-block;
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county{
        padding: 0.8em 1.5em;
        width: 49%;
      }


    }

    .search-image{
      bottom: -58px;
      display: inline-block;
      left: 40px;
      margin-bottom: 0px;
      max-width: 160px;
      position: relative;
      vertical-align: top;
      width: 100%;
    }
  }


}

@media (min-width: $screen-md-min) {

  .section-how-it-works{
    box-sizing: border-box;
    font-size: 19px;
    margin: 0px auto;
    max-width: 1170px;
    padding: 2.5em;

    .row{
      max-width: 1200px;
    }

    span.number{
      border: 2px solid white;
      border-radius: 50px;
      box-sizing: border-box;
      display: inline-block;
      font-size: 10px;
      height: 20px;
      margin: -2px 5px 0px 0px;
      padding: 0.2em;
      text-align: center;
      vertical-align: middle;
      width: 20px;
    }

    span.title{
      box-sizing: border-box;
      display: inline-block;
      margin-bottom: 0em;
      text-transform: uppercase;
      vertical-align: middle;
    }

  }

  .section-search{
    margin-top: 1em;

    h2{
      font-size: 60px;
      margin: 0.5em 0em 0em 1em;
    }

    h3{
      font-size: 50px;
      margin: 0em 0em 0.5em 2em;
    }

    > div{
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 70%;
    }

    form{
      display: inline-block;
      margin: 0em 0em 1em 7em;
      padding: 0em;

      button{
        display: inline-block;
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county{
        margin-bottom: 0px;
        padding: 0.8em 1.5em;
        width: 250px;
      }
    }

    .search-image{
      bottom: -27px;
      display: inline-block;
      left: 40px;
      margin-bottom: 0px;
      max-width: 260px;
      position: relative;
      vertical-align: top;
      width: 100%;
    }
  }
}

@media (min-width: $screen-lg-min) {

  footer{
    .social-icons{
      margin-top: 0em;
    }
  }
  .section-search{

    > div{
      width: 75%;
    }

    form{
      display: inline-block;

      button{
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county{
        padding: 0.8em 1.5em;
        width: 250px;
      }
    }

  }
}

