// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lib/global";

.appointment-detail-content{
  padding: 0.4rem 0rem !important;
}


.custom-checkbox {
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    background: $color-sign-up-input-blue;
  }
}

.calendar{

  .week-day.unavailable{
    background-image: linear-gradient(-45deg, transparent 48%, $color-input-gray 48%, transparent 55%, transparent 100%);
    background-size: 8px 8px;
    background-position: 2px 2px;
    cursor: default !important;
  }

}

.search-results-tools{
  color: $color-dark-gray;
  padding: 0em;
  margin: 0em;
  text-transform: uppercase;

  .filter-tools{
    display: inline-block;
    vertical-align: top;
    width: 100%;

    .filter-item{
      display: block;
      font-size: 14px;
      margin: 0.5em 0;
      vertical-align: top;
      width: 100%;

      input{
        display: inline-block;
        vertical-align: top;
      }

      label{
        display: inline-block;
        vertical-align: top;

      }
    }

    .filter-label{
      display: inline-block;
      margin-right: 0px;
      vertical-align: top;
      width: 100%;
    }
  }

  .order-tools{
    display: inline-block;
    margin: 2em 0;
    vertical-align: top;
    width: 100%;

    .order-label{
      display: inline-block;
      margin: 0.5em 0px;
      vertical-align: top;
    }

    .order-item{
      display: inline-block;
      vertical-align: top;
    }
  }

  .category {
    font-weight: 600;
  }

  .search-result-filter {
    margin-left: 20px;

    label {
      font-weight: normal;
    }
  }

}

.tutor-calendar-section{
  height: 480px !important;
  overflow: hidden;

  .tutor-calendar-title-day{
    height: 100px;

    table{
      height: 50px;
    }

    .week-title{
      background-color: $color-light-green;
      color: white;
      font-size: 0px;
      padding: 0.3em;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;

      td.title{
        font-size: 0.7rem;
        width: 80%;
      }

      td.control{
        padding-right: 2%;
        width: 6%;
      }
    }
  }

  .tutor-calendar-hours{
    height: 380px;
    overflow: auto;
  }
}

.menu-tabs{
  li{
    min-width: 20%;
  }
}

.modal-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  width:100px;
  vertical-align: mjajaiddle;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#sign-in-modal {
  text-align: center;
  text-transform: uppercase;

  .modal-dialog {
    font-family: "gotham";
    font-weight: 500;
    font-style: normal;
    max-width: 350px;
    width: 100%;

    .modal-content {
      border-color: $color-sign-up-medium-blue;
      border-width: 7px;
      border-radius: 10px;
      overflow: hidden;
      box-sizing: content-box;

      .modal-head {
        background-color: $color-sign-up-dark-blue;
        border-bottom: 7px solid;
        border-color: $color-sign-up-medium-blue;
        font-size: 0;
        height: 240px;
        overflow: hidden;
        position: relative;

        .owl {
          bottom: 60px;
          margin: 0 auto;
          position: absolute;
          width: 100%;

          img {
            width: 200px;
          }
        }

        .owl-hands {
          bottom: 45px;
          margin: 0 auto;
          position: absolute;
          width: 100%;

          img {
            width: 170px;
          }
        }

        .tabs {
          bottom: 0px;
          cursor: pointer;
          position: absolute;
          width: 100%;

          .tab {
            background-color: $color-sign-up-dark-blue;
            display: inline-block;
            font-size: 15px;
            position: absolute;
            bottom: 0;
            width: 230px;

            span {
              bottom: 15px;
              color: #28479C;
              position: absolute;
              width: 175px;
            }
          }

          .tab.active {
            background-color: $color-sign-up-light-blue;
          }

          .left-tab {
            border-top-left-radius: 100%;
            border-top: 7px solid $color-sign-up-medium-blue;
            border-left: 7px solid $color-sign-up-medium-blue;
            border-right: 3px solid $color-sign-up-medium-blue;
            left: -62px;
            height: 65px;

            span {
              right: 0;
            }
          }

          .right-tab {
            border-top-right-radius: 100%;
            border-top: 7px solid $color-sign-up-medium-blue;
            border-left: 4px solid $color-sign-up-medium-blue;
            border-right: 7px solid $color-sign-up-medium-blue;
            height: 65px;
            right: -62px;

            span {
              left: 0;
            }
          }
        }
      }

      .modal-body {
        font-size: 14px;
        padding: 20px;

        .spinner-overlay {
          background-color: transparent !important;
        }

        .forgot-password-container {
          .form-text {
            text-align: left;
          }
        }

        .forgot-password-link {
          font-size: 11px;
          cursor: pointer;
        }

        .form-button-fb {
          background-color: #6A86C9;
          border-radius: 2px;
          color: white;
          cursor: pointer;
          display: table;
          height: 42px;
          text-align: center;
          width: 100%;

          div {
            display: table-cell;
            height: 100%;
            padding-top: 4px;
            vertical-align: middle;
          }
        }

        .form-group{
          position: relative;
        }

        .form-input {
          background: white;
          background-color: $color-sign-up-medium-blue;
          border: 0;
          border-radius: 2px;
          color: $color-sign-up-input-blue;
          display: block;
          height: 30px;
          margin-top: 18px;
          outline: 0;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 7px;
          width: 100%;
        }

        .form-text {
          color: $color-sign-up-medium-blue;
          font-size: 14px;
          margin-top: 12px;
          padding-top: 10px;
          text-transform: uppercase;
        }

        .form-checkbox {
          color: $color-sign-up-input-blue;
          font-size: 11px;
          text-align: left;
          width: 100%;

          .form-control {
            display: inline-block;
            height: 0;
            width: 0;
          }

          label {
            font-weight: 500;
            padding-top: 4px;
          }
        }

        ::-webkit-input-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        }
        ::-moz-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        } /* firefox 19+ */
        :-ms-input-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        } /* ie */
        input:-moz-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        }

        .form-submit {
          background-color: $color-sign-up-input-blue;
          border-radius: 2px;
          color: white;
          cursor: pointer;
          display: table;
          height: 52px;
          margin-top: 15px;
          text-align: center;
          width: 100%;

          div {
            display: table-cell;
            height: 100%;
            padding-top: 4px;
            vertical-align: middle;
          }
        }

        .has-error .popup-trigger{
          top: 8px;
        }

        .sign-up-terms-accept {
          cursor: default;
        }

        .sign-up-terms-link {
          color: #6A86C9;
          cursor: pointer;
        }
      }
    }
  }

  .popover-content {
    font-size: 14px;
    font-weight: normal;
    text-transform: lowercase;
  }

  .popover-content::first-letter {
    text-transform: capitalize;
  }
}

.what-is-geek-title{
  background-color: $color-lightest-green;
  border-radius: 0;
  color: $color-light-green;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 0.4em 0.4rem 0.2em;
}

.search-container{
  margin: 0em auto !important;
  padding: 0em 2.4em;
}

.section-dashboard-container {
  background-color: $color-light-gray;

  .section-search{
    background: transparent;
    margin-top: 0;
    padding-top: 0;

    .search-form{
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 80%;

      h3{
        margin-bottom: 0;
      }

      form{
        box-sizing: content-box;
        display: inline-block;
        margin: 0 0 0 10.5%;
        text-align: right;
        width: 80%;

        input, select, .search-button{
          display: inline-block;

        }

        .search-button{
          display: inline-block;
          padding: 0.8em 1.5em;
          width: 18%;
        }

        .course, .county, .angucomplete-holder{
          width: 40%;
        }

        .course, .county{
          padding: 0.8em 1.5em;
        }

        .category{
          padding: 0.8em 1.5em;
          width: 100%;
        }


      }
    }

    .search-image{
      display: inline-block;
      margin: 16px 0px 0px;
      vertical-align: top;
      width: 19%;

      img{
        max-width: 160px;
        width: 100%;
      }
    }
  }

  .student-profile-container {

    .request-title {
      color: $color-dark-green;
    }

    .student_picture {
      line-height: 0;
      text-align: center;
      width: 100%;

      .profile_picture_container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: inline-block;
        width: 220px;

        .profile_picture {
          background: url('/assets/site/person.png') no-repeat white;
          background-size: cover;
          height: 220px;
          overflow: hidden;
          position: relative;
          width: 220px;

          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
          }

        }
      }

      .action-button-upload {
        width:  100%
      }
    }
  }

  .send-form{
    margin: 2em;
    float: right;
    text-align: right;
    width: 20%;
  }
}
.how-it-works-wrapper{
  background: linear-gradient(to bottom, #C8E3D2 0%, #BFDFCB 100%);
  padding: 0em;

  .bgcolor-gradient-backwards{
    background: linear-gradient(to bottom, #BFDFCB 0%, #C8E3D2 100%);
  }


  .section-how-it-works{
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 500;
    margin: 0px auto;
    max-width: 1170px;
    overflow: hidden;
    position: relative;
    text-align: center;

    .control-arrow{
      position: absolute;
      right: 0;
      top: 55%;
      transform: translateY(-50%) translateX(50%);
      z-index: 100;
    }

    .how-item{
      box-sizing: border-box;
      padding: 1rem 2rem 2rem;
    }

    .how-item-testimony{
      box-sizing: border-box;
      color: white;
      font-size: 1em;
      margin: 0rem;
      padding: 4.2rem 1.5rem;
      overflow: hidden;
      text-transform: uppercase;


      span{
        color: $color-light-green;
        display: block;
      }
    }

    p{
      color: white;
      font-weight: 500;
      font-size: 16px;
      height: 94px;
      margin-bottom: 1.5em;
      text-transform: uppercase;
    }

    img{
      display: block;
      margin: 0 auto;
      max-width: 80px;
      width: 100%;
    }

    img.horizontal-align{
      display: inline-block;
      margin: 0.8em 0.5em 0 0;
      max-width: 50px;
    }

    img.horizontal-align:last-child{
      margin-right: 0;
    }

    .title-content{
      margin-bottom: 0.1em;

      span.number{
        border: 2px solid $color-dark-green;
        border-radius: 50px;
        box-sizing: border-box;
        display: block;
        font-size: 16px;
        font-weight: 500;
        height: 23px;
        margin: 10px auto 0.1em;
        text-align: center;
        vertical-align: middle;
        width: 23px;
      }

      span.title{
        box-sizing: border-box;
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom: 0em;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }

  }
}


.section-search-results{

  .appointment-request-feedback {
    color: $color-dark-gray;
    font-size: 1.2em;
    margin: 0 auto;
    padding: 1em;
    width: $container-width-max;

    a {
      cursor: pointer;
    }

    .action-buttons {
      text-align: left;
    }

    p{
      margin: 0 0 2rem;
    }
  }

  .light-search{

    form{
      display: block;
      padding: 2em;
      text-align: center;
      width: 100%;

      input, select, .search-button{
        background: $color-input-bgcolor;
        border: 1px solid $color-medium-gray;
        border-radius: 10px;
        box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.2);
        color: $color-medium-gray;
        display: block;
        font-family: "gotham";
        font-weight: 400;

      }

      .search-button{
        color: $color-dark-blue;
        display: block;
        margin: 1em auto 1em;
        padding: 0.8em 1.5em;
        text-align: center;
        width: 100px;
      }

      .search-button:hover{
        background-color: rgba(166, 168, 171, 0.2);
        text-decoration: none;
      }

      .search-button:focus{
        background-color: rgba(166, 168, 171, 0.2);
        text-decoration: none;
      }

      input:hover{
        background-color: rgba(166, 168, 171, 0.2);
      }

      input:focus{
        background-color: rgba(166, 168, 171, 0.3);
      }

      select:hover{
        background-color: rgba(166, 168, 171, 0.2);
        cursor: pointer;
      }

      .county, .category, .course{
        appearance: field;
        margin: 0em auto 1em;
        padding: 0.8em 1.5em;
      }

      .county, .category{
        margin-bottom: 0em;
      }

      .county{
        margin-top: 0.8rem;
      }

    }
  }

  .search-results-list{
    margin: 1em 0em 0em;

    .total-tutor{
      color: $color-light-blue;
      font-weight: 500;
      margin: 0 0 1em;
      padding: 0;
      text-align: left;
      text-transform: uppercase;
    }

    .search-result-list {

      .tutor {
        box-sizing: border-box;
        clear: both;
        margin-bottom: 0em;
        width: 100%;


        .content {
          margin-bottom: 0.3em;
        }

        .tutor_picture_container {
          cursor: pointer;
          display: table-cell;
          height: 100%;
          padding: 0;
          vertical-align: middle;

          .tutor_picture {
            background-color: white;
            display: inline-block;
            overflow: hidden;
            position: relative;
            width: 100%;

            img {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateY(-50%) translateX(-50%);
            }

          }
        }

        .tutor_picture_container.expanded {
          cursor: auto;
        }

        .tutor-personal-info{
          box-sizing: border-box;
          padding: 0em;

          .content {
            background-color: rgba(250,174,64,0.1);
            padding: 1.5em;
            margin-bottom: 0.3em;
            margin-left: 0.3em;
            min-height: 60px;

            .reviews{

              .review:first-child {
                margin-top: 2rem;
              }

              .review{
                background: none;
                box-sizing: border-box;
                clear: both;
                display: table;
                margin-bottom: 0.5em;
                padding: 0.8em;
                width: 100%;

                h3{
                  font-size: 18px;
                  text-transform: uppercase;
                }

                .user_picture_container{
                  display: inline-block;
                  margin-right: 1%;
                  max-width: 30px;
                  vertical-align: top;
                  width: 10%;

                  .user_picture{
                    height: 30px;
                    overflow: hidden;
                    position: relative;
                    width: 30px;

                    img {
                      position: absolute;
                      left: 50%;
                      top: 50%;
                      transform: translateY(-50%) translateX(-50%);
                    }
                  }
                }

                .user-personal-info{
                  box-sizing: border-box;
                  display: inline-block;
                  margin: 0;
                  padding: 0;
                  vertical-align: top;
                  width: 85%;

                  .content{
                    background: transparent;
                    min-height: 100px;
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    width: 100%;

                    .user-name{
                      color: inherit;
                      font-size: 14px;
                      font-weight: 600;
                      margin: 0em;
                      padding: 0em;
                      text-transform: uppercase;
                    }

                    .user-review{
                      display: inline-block;
                      color: $color-dark-gray;
                      font-size: 12px;
                      font-weight: 500;
                      margin: 1em 0em 1em;
                      padding: 0em;
                    }

                    .review-info{
                      color: $color-dark-gray;
                      font-size: 10px;
                      font-weight: 500;
                      margin: 0;
                      padding: 0;
                      text-align: left;
                      text-transform: uppercase;

                      em{
                        font-style: normal;
                      }
                    }

                    .score {
                      position: absolute;
                      right: 0;
                      top: 0;

                    }
                  }
                }
              }

              .star-empty {
                color: $color-search-medium-blue;
              }

              .star-full {
                color: $color-search-dark-blue;
              }
            }

            .content-info{
              display: inline-block;
              margin-right: 4%;
              vertical-align: top;
              width: 68%;

              .tutor-name{
                cursor: pointer;
                font-size: 18px;
                text-transform: uppercase;
              }

              .tutor-name.expanded{
                cursor: auto;
              }

              .tutor-categories{
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .tutor-categories.expanded{
                overflow: auto;
                text-overflow: initial;
                white-space: normal;
              }

              .preferences {
                margin: 0em;
                min-height: 34px;

                .item-added{
                  background-color: $color-light-orange;
                  border-radius: 5px;
                  color: $color-dark-orange;
                  font-size: 10px;
                  font-weight: 500;
                  display: inline-block;
                  margin: 5px 3px 0px 0px;
                  padding: 0.5em 0.8em 0.3em 1em;
                  position: relative;
                  text-transform: uppercase;
                  vertical-align: middle;
                }
              }
            }

            .score-info{
              display: inline-block;
              text-align: center;
              vertical-align: top;
              width: 25%;

              .content-score {
                display: table;
                width: 100%;

                .score {
                  color: $color-medium-orange;
                  display: table-cell;
                  font-size: 0px;
                  height: 100%;
                  margin: 0px;
                  padding: 0px;
                  vertical-align: middle;
                  width: 100%;

                  .star-empty {
                    color: $color-light-orange;
                  }

                  .star-full {
                    color: $color-medium-orange;
                  }

                  span {
                    font-size: 20px;
                    margin: 0px 8px 0px 0px;
                    padding: 0px;
                  }

                  span:last-child {
                    margin-right: 0px;
                  }
                }

              }

              .score-more {
                color: $color-dark-orange;
                font-size: 14px;
                font-weight: 500;
                margin-top: 0.2rem;
                padding: 0.3rem 0;
                text-align: center;
                width: 100%;
              }

              .score-more:hover{
                color: $color-medium-orange;
                text-decoration: none;
              }
            }

            .resume {
              background-color: transparent;
              border: none;
              color: $color-medium-orange;
              font-family: inherit;
              font-size: 14px;
              font-weight: 500;
              height: 49px;
              line-height: 16px;
              margin: 0.5em 0em 0em;
              overflow: hidden;
              padding: 0em;
              text-align: justify;
              word-break: break-word;

              span {
                color: $color-dark-orange;
                cursor: pointer;
              }

              span:hover{
                color: $color-medium-orange;
              }
            }

            .resume.expanded {
              height: auto;
            }

            .given-classes {
              color: $color-dark-green;
              font-size: 12px;
              font-weight: 600;
              margin: 1.5em 0em 0em 1.1em;
              padding: 0em;
              text-align: center;
            }

            .tutor-county {
              color: $color-dark-green;
              font-size: 18px;
              font-weight: 600;
              margin: 0px;
            }

            .tutor-categories{
              color: $color-dark-green;
              font-size: 16px;
              font-weight: 600;
              margin: 2px 0px 0px;
            }

            .tutor-name {
              color: $color-medium-orange;
              font-size: 22px;
              font-weight: 600;
              margin: 0em;
              padding: 0em;
            }
          }

          .content.no-background {
            background-color: transparent;
          }
        }

        .tutor-class-info {
          box-sizing: border-box;
          padding: 0;
          text-align: center;

          .content {
            margin-bottom: 0.3em;
            margin-left: 0.3em;

            .content-button {
              width: 100%;

              a{
                background-color: $color-light-blue;
                color: white;
                height: 100%;
                text-transform: uppercase;
                width: 100%;
              }

              a:last-child{
                margin-top: 2px;
              }
            }

            .content-price {
              background-color: $color-search-medium-blue;
              display: table;
              width: 100%;

              .price {
                display: table-cell;
                color: $color-search-dark-blue;
                font-size: 18px;
                font-weight: 500;
                height: 98px;
                margin: 0px;
                vertical-align: middle;
                width: 100%;
              }
            }

            .content-price.no-background {
              background-color: transparent;

              .price {
                height: 134px;
              }
            }

          }

        }

      }

      .tutor-mobile {
        box-sizing: border-box;
        clear: both;
        margin-bottom: 1.5em;
        width: 100%;

        .tutor_picture_container.expanded {
          cursor: auto;
        }

        .tutor-personal-info{
          box-sizing: border-box;
          padding: 0em;

          .content {
            background-color: rgba(250,174,64,0.1);
            padding: 0em;
            padding-top: 1em;
            padding-bottom: 1em;
            min-height: 60px;

            .tutor_picture_container {
              cursor: pointer;
              display: table-cell;
              height: 100%;
              padding: 0;
              vertical-align: middle;

              .tutor_picture {
                background-color: white;
                display: inline-block;
                overflow: hidden;
                position: relative;
                width: 100%;

                img {
                  display: none;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translateY(-50%) translateX(-50%);
                }

              }
            }

            .reviews{

              .review:first-child {
                margin-top: 2rem;
              }

              .review{
                background: none;
                box-sizing: border-box;
                clear: both;
                display: table;
                margin-bottom: 0.5em;
                padding: 0.8em;
                width: 100%;

                h3{
                  font-size: 18px;
                  text-transform: uppercase;
                }

                .user_picture_container{
                  display: inline-block;
                  margin-right: 1%;
                  max-width: 30px;
                  vertical-align: top;
                  width: 10%;

                  .user_picture{
                    height: 30px;
                    overflow: hidden;
                    position: relative;
                    width: 30px;

                    img {
                      position: absolute;
                      left: 50%;
                      top: 50%;
                      transform: translateY(-50%) translateX(-50%);
                    }
                  }
                }

                .user-personal-info{
                  box-sizing: border-box;
                  display: inline-block;
                  margin: 0;
                  padding: 0;
                  vertical-align: top;
                  width: 85%;

                  .content{
                    background: transparent;
                    min-height: 100px;
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    width: 100%;

                    .user-name{
                      color: inherit;
                      font-size: 14px;
                      font-weight: 600;
                      margin: 0em;
                      padding: 0em;
                      text-transform: uppercase;
                    }

                    .user-review{
                      display: inline-block;
                      color: $color-dark-gray;
                      font-size: 12px;
                      font-weight: 500;
                      margin: 1em 0em 1em;
                      padding: 0em;
                    }

                    .review-info{
                      color: $color-dark-gray;
                      font-size: 10px;
                      font-weight: 500;
                      margin: 0;
                      padding: 0;
                      text-align: left;
                      text-transform: uppercase;

                      em{
                        font-style: normal;
                      }
                    }

                    .score {
                      position: absolute;
                      right: 0;
                      top: 0;

                    }
                  }
                }
              }

              .star-empty {
                color: $color-search-medium-blue;
              }

              .star-full {
                color: $color-search-dark-blue;
              }
            }

            .content-info{
              display: inline-block;
              vertical-align: top;

              .tutor-name{
                color: $color-medium-orange;
                cursor: pointer;
                font-size: 0.9em;
                font-weight: 600;
                margin: 0.3em 0em 0em 0em;
                padding-left: 0.5em;
                text-transform: uppercase;
              }

              .tutor-name.expanded{
                cursor: auto;
              }

              .tutor-categories{
                font-size: 0.8em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }

              .tutor-categories.expanded{
                overflow: auto;
                text-overflow: initial;
                white-space: normal;
              }

              .preferences {
                margin: 0em;
                min-height: 34px;

                .item-added{
                  background-color: $color-light-orange;
                  border-radius: 0.5em;
                  color: $color-dark-orange;
                  font-size: 0.6em;
                  font-weight: 500;
                  display: inline-block;
                  margin: 0.5em 0.3em 0em 0em;
                  padding: 0.5em 0.8em 0.3em 1em;
                  position: relative;
                  text-transform: uppercase;
                  vertical-align: middle;
                }
              }
            }

            .score-info{
              display: inline-block;
              padding-left: 0.5em;
              text-align: left;
              vertical-align: top;

              .content-score {
                display: table;
                width: 100%;

                .score {
                  color: $color-medium-orange;
                  display: table-cell;
                  height: 100%;
                  margin: 0px;
                  padding: 0px;
                  vertical-align: middle;
                  width: 100%;

                  .star-empty {
                    color: $color-light-orange;
                  }

                  .star-full {
                    color: $color-medium-orange;
                  }

                  span {
                    font-size: 0.8em;
                    margin: 0px 0px 0px 0px;
                    padding: 0px;
                  }

                  span:last-child {
                    margin-right: 0px;
                  }
                }

              }

              .score-more {
                color: $color-dark-orange;
                font-size: 0.8em;
                font-weight: 500;
                text-align: left;
                width: 100%;
              }

              .score-more:hover{
                color: $color-medium-orange;
                text-decoration: none;
              }
            }

            .resume {
              background: transparent;
              border: none;
              color: $color-medium-orange;
              font-family: inherit;
              font-size: 0.8em;
              font-weight: 500;
              height: 6.2em;
              line-height: 1.2em;
              margin: 0.5em 0em 0em;
              overflow: hidden;
              padding: 0em;
              text-align: justify;
              word-break: break-word;

              span {
                color: $color-dark-orange;
                cursor: pointer;
              }

              span:hover{
                color: $color-medium-orange;
              }
            }

            .resume.expanded {
              height: auto;
            }

            .given-classes {
              color: $color-dark-green;
              font-size: 12px;
              font-weight: 600;
              margin: 1.5em 0em 0em 1.1em;
              padding: 0em;
              text-align: center;
            }

            .tutor-county {
              color: $color-dark-green;
              font-size: 0.5em;
              font-weight: 600;
              margin: 0px;
            }

            .tutor-categories{
              color: $color-dark-green;
              font-size: 0.5em;
              font-weight: 600;
              margin: 2px 0px 0px;
            }

          }

          .content.no-background {
            background-color: transparent;
          }
        }

        .tutor-class-info {
          box-sizing: border-box;
          margin-top: 2px;
          padding: 0;
          text-align: center;

          .content {

            .content-button {
              width: 100%;

              a{
                background-color: $color-light-blue;
                color: white;
                font-size: 0.8em;
                height: 100%;
                margin-top: 2px;
                text-transform: uppercase;
                width: 100%;
              }
            }

            .content-price {
              background-color: $color-search-medium-blue;
              display: table;
              width: 100%;

              .price {
                display: table-cell;
                color: $color-search-dark-blue;
                font-size: 0.8em;
                font-weight: 500;
                margin: 0px;
                padding: 1em;
                vertical-align: middle;
                width: 100%;
              }
            }

            .content-price.no-background {
              background-color: transparent;

              .price {
                height: 134px;
              }
            }

          }

        }

      }

    }


  }

}

.section-search{
  background-color: rgba(166,168,171,0.1);
  box-sizing: border-box;
  margin-top: 0em;
  padding-top: 2em;

  > div{
    display: block;
    text-align: center;
  }

  h2{
    color: $color-dark-red;
    font-family: 'Typewriter';
    font-size: 45px;
    margin: 0em 1em;
  }

  h3{
    color: $color-light-blue;
    font-family: 'Typewriter';
    font-size: 30px;
    margin: 0em 1em;
  }

  p{
    color: $color-light-green;
    font-size: 20px;
    font-weight: 500;
    margin: 1em 0.3em 0;
    text-transform: uppercase;
  }

  form{
    display: block;
    margin: 0em auto;
    padding: 2em;

    input, select, .search-button{
      background: $color-input-bgcolor;
      border: 1px solid $color-medium-gray;
      border-radius: 10px;
      box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.2);
      color: $color-medium-gray;
      display: block;
      font-family: "gotham";
      font-weight: 400;

    }

    .search-button{
      color: $color-dark-blue;
      display: block;
      margin: 1em auto 1em;
      padding: 0.8em 1.5em;
      text-align: center;
      width: 100px;
    }

    .search-button:hover{
      background-color: rgba(166, 168, 171, 0.2);
      text-decoration: none;
    }

    .search-button:focus{
      background-color: rgba(166, 168, 171, 0.2);
      text-decoration: none;
    }

    input:hover{
      background-color: rgba(166, 168, 171, 0.2);
    }

    input:focus{
      background-color: rgba(166, 168, 171, 0.3);
    }

    select:hover{
      background-color: rgba(166, 168, 171, 0.2);
      cursor: pointer;
    }

    .county, .category, .course{
      appearance: field;
      margin: 0em auto 1em;
      padding: 0.8em 1.5em;
    }

    .county, .category{
      margin-bottom: 0em;
    }

    .county{
      margin-top: 1em;
    }
  }

  .search-image{
    display: block;
    margin: 0px auto -14px;
    max-width: 100px;
    width: 100%;
  }

}

.section-guaranty{
  max-width: 1170px;
  margin: 0px auto;
  padding: 1.5em 0em;
  text-align: center;

  .title-element{
    font-size: 1.3em;
    line-height: 18px;
    margin: 0.5em 0 0;
  }
}

.section-where{
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 1170px;
  padding-bottom: 0em;
  overflow: hidden;
  text-align: center;


  .where-item{
    display: inline-block;
    border-bottom: 1px solid white;
    margin-top: 1.5em;
    min-height: 170px;
    font-size: 1.5em;
    line-height: 1.2em;
    padding: 1em;

    p{
      color: white;
      font-weight: 500;
      margin-top: 0;
      text-transform: uppercase;
    }

    img{
      min-width: 50px;
    }
  }

  .where-item:last-child{
    border-bottom: none;
  }
}

.student-tutors{
  border: 2px solid $color-input-gray-bgcolor;
  margin: 2em auto 0em;
  max-width: $container-width-max;

  .tutors-list-view-row{
    table{
      border-collapse: collapse;
      padding: 0px;
      width: 100%;

      td{
        padding: 0px;
      }

      th{
        font-weight: normal;
      }
    }

    .tutors-list-title-row{
      border-bottom: 2px solid $color-input-gray-bgcolor;
      border-left: 2px solid $color-input-gray-bgcolor;
      border-right: 2px solid $color-input-gray-bgcolor;
      box-sizing: border-box;
      color: $color-dark-gray;
      font-size: 2rem;
      font-weight: 400;
      padding: 0px;
      text-align: center;
      width: 100%;

      .info-title{
        background-color: $color-input-gray-bgcolor;
        color: $color-dark-green;
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        width: 50%;
      }
    }

    .tutors-list-info-row{
      background-color: white;
      padding: 1em;
      width: 100%;

      .tutor-info{
        color: $color-light-blue;
        font-size: 14px;
        font-weight: 500;
        padding: 0.5em;
        text-align: center;
        width: 50%;

        .appointment-button{
          text-align: center;
        }

        .user_picture_container{
          display: inline-block;
          height: 50px;
          margin-right: 1%;
          vertical-align: middle;
          width: 50px;

          .user_picture{
            height: 50px;
            overflow: hidden;
            position: relative;
            width: 50px;

            img {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateY(-50%) translateX(-50%);
            }
          }
        }

        .user_name{
          display: inline-block;
          margin-left: 1em;
          vertical-align: middle;

          a{
            color: $color-light-blue;
            text-decoration: none;
          }
          a:hover{
            color: $color-light-blue;
          }
        }
      }
    }

  }
}

@media (min-width: $screen-sm-min) {

  .search-results-tools{

    .filter-tools{
      display: inline-block;
      vertical-align: top;
      width: 100%;

      .filter-item{
        display: inline-block;
        margin-right: 20px;
        vertical-align: top;
        width: auto;
      }

      .filter-label{
        display: inline-block;
        margin-right: 0px;
        vertical-align: top;
      }
    }

    .order-tools{
      display: inline-block;
      margin-top: 0;
      vertical-align: top;
      width: 100%;

    }

  }

  footer{
    padding: 1em 0em;
  }

  .search-container{
    margin: 0em auto !important;
    padding: 0em 5em;
  }

  .section-categories{
    font-size: 0px;
    min-height: 100px;
    text-align: center;

    .category:nth-child(odd){
      margin-right: 0.62%;
    }

    .category{
      display: inline-block;
      font-size: 19px;
      margin: 0% 0.62% 0% 0%;
      padding: 0px;
      text-align: center;
      width: 19.5%;

      img{
        display: block;
        margin: 0px auto;
        width: 100%;
      }

      a{
        padding: 5.5em 1em 3.5em;
      }

      a:hover{
        text-decoration: none;
      }

      .category-title{
        color: $color-dark-gray;
        display: block;
        font-size: 16px;
        margin: 1em auto 0em;
        text-transform: uppercase;
        width: 100%;
      }
    }

    .category:last-child{
      margin-right: 0px;
    }
  }

  .section-search{
    margin-top: 0em;


    > div{
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 70%;
    }

    h2{
      font-size: 50px;
      margin: 0.5em 0em 0em 1.2em;
    }

    h3{
      margin: 0.2em 0 0 2em;
    }

    p{
      font-size: 22px;
      margin: 0.1em 1em 0.2em 3.2em;
    }

    form{
      box-sizing: content-box;
      display: inline-block;
      margin: 0 0 0.5em;
      padding: 0em 2em 0em 3em;
      text-align: right;

      input, select, .search-button{
        display: inline-block;

      }

      .search-button{
        display: inline-block;
        padding: 0.8em 1.5em;
        width: 120px;
      }

      .course, .county,{
        padding: 0.8em 1.5em;
        width: 45%;
      }

      .category{
        width: 100%;
      }


    }

    .search-image{
      bottom: -115px;
      display: inline-block;
      left: 40px;
      margin-bottom: 0px;
      max-width: 160px;
      position: relative;
      vertical-align: top;
      width: 100%;
    }
  }


  #tutor-detail{
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    height: 85%;
    overflow: scroll;
    position:relative;
    text-align: left;
    vertical-align: middle;
    width: 1000px;
  }

  .section-search-results{
    .light-search{

      h2{
        color: #ec2227;
        display: inline-block;
        font-family: 'Typewriter';
        font-size: 40px;
        margin: 10px 0 0 0;
        vertical-align: top;
        width: 20%;
      }

      form{
        display: inline-block;
        margin: 0px;
        padding: 1em 0;
        text-align: right;
        vertical-align: top;
        width: 79%;

        input, select, .search-button{
          background: $color-input-bgcolor;
          border: 1px solid $color-medium-gray;
          border-radius: 10px;
          box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.2);
          color: $color-medium-gray;
          display: inline-block;
          font-family: "gotham";
          font-weight: 400;

        }

        .search-button{
          color: $color-dark-blue;
          display: inline-block;
          margin: 0em auto;
          padding: 0.8em 1.5em;
          text-align: center;
          width: 18%;
        }

        .search-button:hover{
          background-color: rgba(166, 168, 171, 0.2);
          text-decoration: none;
        }

        .search-button:focus{
          background-color: rgba(166, 168, 171, 0.2);
          text-decoration: none;
        }

        input:hover{
          background-color: rgba(166, 168, 171, 0.2);
        }

        input:focus{
          background-color: rgba(166, 168, 171, 0.3);
        }

        select:hover{
          background-color: rgba(166, 168, 171, 0.2);
          cursor: pointer;
        }

        .county, .category, .course{
          appearance: field;
          margin: 0em auto 1em;
          padding: 0.8em 1.5em;
          width: 40%;
        }



        .angucomplete-dropdown{
          width: 100%;
        }

        .angucomplete-holder{
          width: 40%;

          input{
            width: 100%;
          }

        }

        .county, .category{
          margin-bottom: 0em;
          //width: 100%;
        }
      }
    }
  }

  .section-where{
    padding-bottom: 3em;

    .where-item{
      border: none;

    }

    .where-item:nth-child(2), .where-item:nth-child(4){
      border-right: 1px solid white;
      margin-top: 1.5em;
    }
  }

  .what-is-geek-title{
    border-radius: 10px 10px 0 0;
    font-size: 1.3rem;
    padding: 0.4em 0em 0.2em;
  }
}

@media (min-width: $screen-md-min) {


  .search-results-tools{

    .filter-tools{
      display: inline-block;
      vertical-align: top;
      width: 63%;

      .filter-item{
        display: inline-block;
        font-size: 12px;
        margin: 0 8px 0 0;
        vertical-align: top;
        width: auto;

        label{
          margin: 2px 0 0 0;
        }
      }

      .filter-label{
        display: inline;
        margin-right: 12px;
        vertical-align: top;
      }
    }

    .order-tools{
      display: inline-block;
      margin-top: 0;
      text-align: right;
      vertical-align: top;
      width: 36%;

      .order-label{
        margin: 0;
      }

    }

  }

  .how-it-works-wrapper{
    .section-how-it-works{
      box-sizing: border-box;
      font-size: 22px;
      margin: 0px auto;
      max-width: 1170px;

      .how-item{
        padding: 3rem 1rem;
      }

      .title-content{
        margin-bottom: 1em;

        span.number{
          border: 2px solid $color-dark-green;
          border-radius: 50px;
          box-sizing: border-box;
          display: inline-block;
          font-size: 10px;
          font-weight: 500;
          height: 20px;
          margin: -2px 5px 0px 0px;
          padding: 0.2em;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }

        span.title{
          box-sizing: border-box;
          display: inline;
          font-size: 24px;
          margin-bottom: 0em;
          text-transform: uppercase;
          vertical-align: middle;
        }
      }
      p{
        font-size: 20px;
      }

      img{
        max-width: 110px;
      }

      img.horizontal-align{
        display: inline-block;
        margin-right: 3em;
        max-width: 110px;
      }

    }
  }

  .section-guaranty{
    max-width: 1170px;
    margin: 0px auto;
    padding: 1.5em 0em;

    .title-element{
      font-size: 2.5em;
      line-height: 42px;
      margin: 0.1em 0 0;
    }
  }

  .section-search-results{

    .light-search{
      h2{
        font-size: 60px;
        margin: 0;
      }
    }

  }

  .section-search{
    margin-top: 0em;

    h2{
      font-size: 60px;
      margin: 0.5em 0em 0em 1em;
    }

    h3{
      font-size: 50px;
      margin: 0em 0em 0.2em 2em;
    }

    p{
      font-size: 28px;
      margin: 0 1em 0em 3.4em;
    }

    > div{
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 70%;
    }

    form{
      display: inline-block;
      margin: 0em 0em 1em 7em;
      padding: 0em;

      .search-button{
        display: inline-block;
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county, .category{
        margin-bottom: 0px;
        padding: 0.8em 1.5em;
        width: 250px;
      }
    }

    .search-image{
      bottom: -38px;
      display: inline-block;
      left: 40px;
      margin-bottom: 0px;
      max-width: 260px;
      position: relative;
      vertical-align: top;
      width: 100%;
    }
  }

  .section-where{

    .where-item{
      border-right: 1px solid white;
      margin-top: 1.5em;

      p{
        height: 72px;
      }

    }

    .where-item:last-child{
      border-right: none;
    }
  }
}

@media (min-width: $screen-lg-min) {

  .calendar .week-view .week-row .week-day{
    font-size: 1rem;
  }

  .tutor-calendar-section{

    .tutor-calendar-title-day{


      .week-title{

        td.title{
          font-size: 1.5rem;
          width: 80%;
        }

        td.control{
          width: 8%;
        }
      }
    }
  }

  .search-results-tools{

    margin: 2rem;

    .filter-tools{
      display: inline-block;
      vertical-align: top;
      width: 63%;

      .filter-item{
        display: inline-block;
        font-size: 13px;
        margin: 0 12px 0 0;
        vertical-align: top;
        width: auto;

        label{
          display: inline-block;
          margin: 2.5px 0 0 0;
        }
      }

      .filter-label{
        display: inline;
        margin-right: 12px;
        vertical-align: top;
      }
    }

    .order-tools{
      display: inline-block;
      margin-top: 0;
      text-align: right;
      vertical-align: top;
      width: 36%;

      .order-label{
        margin: 0;
      }

    }

  }

  .where-item{
    font-size: 2.2em;
    line-height: 1.2em;
    padding: 1em;

    p{
      color: white;
      font-weight: 500;
      margin-top: 0;
      height: 72px;
      text-transform: uppercase;
    }

  }

  .where-item{
    border-right: 1px solid white;
    margin-top: 1.5em;
  }

  .where-item:last-child{
    border-right: none;
  }

  .how-it-works-wrapper{
    .section-how-it-works{
      box-sizing: border-box;
      font-size: 22px;
      margin: 0px auto;
      max-width: 1170px;

      .how-item{
        padding: 3rem 1rem;
      }

      .title-content{
        margin-bottom: 1em;

        span.number{
          border: 2px solid $color-dark-green;
          border-radius: 50px;
          box-sizing: border-box;
          display: inline-block;
          font-size: 10px;
          font-weight: 500;
          height: 20px;
          margin: -2px 5px 0px 0px;
          padding: 0.2em;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }

        span.title{
          box-sizing: border-box;
          display: inline-block;
          font-size: 26px;
          margin-bottom: 0em;
          text-transform: uppercase;
          vertical-align: middle;
        }
      }
      p{
        font-size: 20px;
      }

      img{
        max-width: 110px;
      }

      img.horizontal-align{
        display: inline-block;
        margin-right: 3em;
        max-width: 110px;
      }

    }
  }

  .what-is-geek-title{
    font-size: 1.8rem;
    padding: 0.2em 0em 0.1em;
  }

  .section-search{

    > div{
      width: 75%;
    }

    form{
      display: inline-block;

      .search-button{
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county, .category{
        padding: 0.8em 1.5em;
        width: 250px;
      }

    }

  }


}

