// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "lib/global";

.appointment-detail-content{
  padding: 0.4rem 0rem !important;
}


.custom-checkbox {
  /* checkbox aspect */
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    background: $color-sign-up-input-blue;
  }
}

.calendar{

  .week-day.unavailable{
    background-image: linear-gradient(-45deg, transparent 45%, $color-input-gray 50%, transparent 55%, transparent 100%);
    background-size: 8px 8px;
    background-position: 2px 2px;
    cursor: default !important;
  }

}

.tutor-calendar-section{
  height: 480px !important;
  overflow: hidden;
  position: relative;

  .tutor-calendar-title-day{
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    table{
      height: 50px;
    }

    .week-title{
      background-color: $color-light-green;
      color: white;
      font-size: 0px;
      padding: 0.3em;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      width: 100%;

      td.title{
        font-size: 1.5rem;
        width: 80%;
      }

      td.control{
        width: 8%;
      }
    }
  }

  .tutor-calendar-hours{
    height: 100%;
    overflow: auto;
    padding-top: 100px;
  }
}

.modal-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  width:100px;
  vertical-align: middle;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#sign-in-modal {
  text-align: center;
  text-transform: uppercase;

  .modal-dialog {
    font-family: "gotham";
    font-weight: 500;
    font-style: normal;
    max-width: 350px;
    width: 100%;

    .modal-content {
      border-color: $color-sign-up-medium-blue;
      border-width: 7px;
      border-radius: 10px;
      overflow: hidden;
      box-sizing: content-box;

      .modal-head {
        background-color: $color-sign-up-dark-blue;
        border-bottom: 7px solid;
        border-color: $color-sign-up-medium-blue;
        font-size: 0;
        height: 240px;
        overflow: hidden;
        position: relative;

        .owl {
          bottom: 60px;
          margin: 0 auto;
          position: absolute;
          width: 100%;

          img {
            width: 200px;
          }
        }

        .owl-hands {
          bottom: 45px;
          margin: 0 auto;
          position: absolute;
          width: 100%;

          img {
            width: 170px;
          }
        }

        .tabs {
          bottom: 0px;
          cursor: pointer;
          position: absolute;
          width: 100%;

          .tab {
            background-color: $color-sign-up-dark-blue;
            display: inline-block;
            font-size: 15px;
            position: absolute;
            bottom: 0;
            width: 230px;

            span {
              bottom: 15px;
              color: #28479C;
              position: absolute;
              width: 175px;
            }
          }

          .tab.active {
            background-color: $color-sign-up-light-blue;
          }

          .left-tab {
            border-top-left-radius: 100%;
            border-top: 7px solid $color-sign-up-medium-blue;
            border-left: 7px solid $color-sign-up-medium-blue;
            border-right: 3px solid $color-sign-up-medium-blue;
            left: -62px;
            height: 65px;

            span {
              right: 0;
            }
          }

          .right-tab {
            border-top-right-radius: 100%;
            border-top: 7px solid $color-sign-up-medium-blue;
            border-left: 4px solid $color-sign-up-medium-blue;
            border-right: 7px solid $color-sign-up-medium-blue;
            height: 65px;
            right: -62px;

            span {
              left: 0;
            }
          }
        }
      }

      .modal-body {
        font-size: 14px;
        height: 345px;
        padding: 20px;

        .form-button-fb {
          background-color: #6A86C9;
          border-radius: 2px;
          color: white;
          cursor: pointer;
          display: table;
          height: 42px;
          text-align: center;
          width: 100%;

          div {
            display: table-cell;
            height: 100%;
            padding-top: 4px;
            vertical-align: middle;
          }
        }

        .form-group{
          position: relative;
        }

        .form-input {
          background: white;
          background-color: $color-sign-up-medium-blue;
          border: 0;
          border-radius: 2px;
          color: $color-sign-up-input-blue;
          display: block;
          height: 30px;
          margin-top: 18px;
          outline: 0;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 7px;
          width: 100%;
        }

        .form-text {
          color: $color-sign-up-medium-blue;
          font-size: 18px;
          margin-top: 12px;
          padding-top: 10px;
          text-transform: lowercase;
        }

        .form-checkbox {
          color: $color-sign-up-input-blue;
          font-size: 11px;
          text-align: left;
          width: 100%;

          .form-control {
            display: inline-block;
            height: 0;
            width: 0;
          }

          label {
            font-weight: 500;
            padding-top: 4px;
          }
        }

        ::-webkit-input-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        }
        ::-moz-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        } /* firefox 19+ */
        :-ms-input-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        } /* ie */
        input:-moz-placeholder {
          color: $color-sign-up-input-blue;
          text-transform: uppercase;
        }

        .form-submit {
          background-color: $color-sign-up-input-blue;
          border-radius: 2px;
          color: white;
          cursor: pointer;
          display: table;
          height: 52px;
          margin-top: 15px;
          text-align: center;
          width: 100%;

          div {
            display: table-cell;
            height: 100%;
            padding-top: 4px;
            vertical-align: middle;
          }
        }

        .has-error {
          .form-input, .form-input-half, .form-textarea, .form-span{
            border: solid 1px red;
          }

          [type="checkbox"]:not(:checked) + label:before,
          [type="checkbox"]:checked + label:before {
            border: solid 1px red;
          }
        }

        .form-checkbox.has-error:before {
          display: none;
        }

        .has-error:before {
          background-color: $color-light-red;
          border-radius: 50% 50%;
          color: white;
          content: "!";
          font-size: 13px;
          font-weight: 500;
          display: inline-block;
          height: 15px;
          padding-left: 1px;
          position: absolute;
          right: 10px;
          text-align: center;
          top: 8px;
          width: 15px;
          z-index: 100;
        }
      }
    }
  }
}

.modal-container {

  table {
    width: 100%;
  }

  .icon-close-big {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .search-result-list {
    padding: 2em;

    .tutor {
      box-sizing: border-box;
      display: table;
      height: 200px;
      margin: 0em 0em 2em 0em;
      text-transform: uppercase;
      width: 100%;

      .content {
        margin-left: 0.3em;
        height: 100%;
      }

      .tutor_picture {
        display: table-cell;
        height: 100%;
        vertical-align: top;
        width: 20%;

        img {
          width: 100%;
        }
      }

      .tutor-class-info {
        box-sizing: border-box;
        display: table-cell;
        height: 100%;
        padding: 0;
        text-align: center;
        vertical-align: top;
        width: 20%;

        .content {
          width: 100%;

          .content-button {
            height: 20%;
            position: relative;
            width: 100%;

            button {
              background-color: $color-light-blue;
              bottom: 0;
              height: 100%;
              left: 0;
              position: absolute;
              text-transform: uppercase;
              width: 100%;
            }
          }

          .content-price {
            background-color: rgba(121, 170, 219, 0.4);
            display: table;
            height: 60%;
            width: 100%;

            .price {
              display: table-cell;
              color: $color-light-blue;
              font-size: 18px;
              font-weight: 500;
              height: 100%;
              margin: 0px;
              vertical-align: middle;
              width: 100%;
            }
          }

          .content-score {
            background-color: rgba(145, 201, 172, 0.2);
            display: table;
            height: 20%;
            width: 100%;

            .score {
              display: table-cell;
              color: $color-light-blue;
              font-size: 0px;
              height: 100%;
              margin: 0px;
              padding: 0px;
              vertical-align: middle;
              width: 100%;

              span {
                font-size: 25px;
                margin: 0px 8px 0px 0px;
                padding: 0px;
              }

              span:last-child {
                margin-right: 0px;
              }
            }
          }
        }

      }

      .tutor-personal-info {
        box-sizing: border-box;
        height: 100%;
        padding: 0em;
        vertical-align: top;

        .resume {
          color: $color-medium-orange;
          font-size: 14px;
          font-weight: 500;
          margin: 1em 0em 0em;
          padding: 0em;
        }

        .tutor-county {
          color: $color-dark-green;
          font-size: 18px;
          font-weight: 600;
          margin: 0px;
        }

        .tutor-name {
          color: $color-medium-orange;
          font-size: 22px;
          font-weight: 600;
          margin: 0em;
          padding: 0em;
        }

        div.content {
          background-color: rgba(250, 174, 64, 0.1);
          padding: 1.5em;
        }
      }

    }
  }
}

.section-dashboard-container {
  background-color: $color-light-gray;
  margin-bottom: 6em;

  .section-search{
    border-radius: 10px;
  }

  .student-profile-container {

    .request-title {
      color: $color-dark-green;
    }

    .student_picture {
      line-height: 0;
      text-align: center;
      width: 100%;

      .profile_picture_container {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: inline-block;
        width: 220px;

        .profile_picture {
          background: url('/assets/site/person.png') no-repeat white;
          background-size: cover;
          height: 220px;
          overflow: hidden;
          position: relative;
          width: 220px;

          img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
          }

        }
      }

      .action-button-upload {
        width:  100%
      }
    }
  }

  .send-form{
    margin: 2em;
    float: right;
    text-align: right;
    width: 20%;
  }
}

.how-it-works-wrapper{
  padding: 0em;

  .section-how-it-works{
    box-sizing: border-box;
    font-size: 22px;
    font-weight: 500;
    margin: 0px auto;
    max-width: 1170px;
    padding: 0em;
    text-align: center;

    .how-item{
      box-sizing: border-box;
      padding: 2.5em 1em;
    }

    .how-item-testimony{
      box-sizing: border-box;
      color: white;
      font-size: 1em;
      margin: 0;
      padding: 3em 1em;
      text-transform: uppercase;


      span{
        color: $color-light-green;
        display: block;
      }
    }

    p{
      font-weight: normal;
      height: 94px;
      margin-bottom: 1.5em;
      color: white;
    }

    img{
      display: inline-block;
      margin-right: 4em;
    }

    img:last-child{
      margin-right: 0;
    }

    .title-content{
      margin-bottom: 0.1em;

      span.number{
        border: 2px solid $color-dark-green;
        border-radius: 50px;
        box-sizing: border-box;
        display: block;
        font-size: 20px;
        height: 40px;
        margin: -2px auto 0.8em;
        padding: 0.2em;
        text-align: center;
        vertical-align: middle;
        width: 40px;
      }

      span.title{
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 2em;
        text-transform: uppercase;
        vertical-align: middle;
      }
    }

  }
}

.section-search-results{

  .appointment-request-feedback {
    color: $color-medium-gray;
    font-size: 1.2em;
    padding: 1em;

    .action-buttons {
      text-align: right;
    }
  }

  .light-search{
    background-color: rgba(166,168,171,0.1);
    padding: 1.5em 1em;

    form{
      display: inline-block;
      margin: 0px;
      padding: 2em;

      input, select, a.search-button{
        background: $color-input-bgcolor;
        border: 1px solid $color-medium-gray;
        border-radius: 10px;
        box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.2);
        color: $color-medium-gray;
        display: block;
        font-family: "gotham";
        font-weight: 400;

      }

      a.search-button{
        color: $color-dark-blue;
        display: block;
        margin: 1em auto 1em;
        padding: 0.8em 1.5em;
        text-align: center;
        width: 100px;
      }

      a.search-button:hover{
        background-color: rgba(166, 168, 171, 0.2);
        text-decoration: none;
      }

      input:hover{
        background-color: rgba(166, 168, 171, 0.2);
      }

      input:focus{
        background-color: rgba(166, 168, 171, 0.3);
      }

      select:hover{
        background-color: rgba(166, 168, 171, 0.2);
        cursor: pointer;
      }

      .county, .category, .course{
        appearance: field;
        margin: 0em auto 1em;
        padding: 0.8em 1.5em;
      }

      .county, .category{
        margin-bottom: 0em;
      }
    }
  }

  .search-results-list{
    margin: 2em 0em 0em;

    .search-results-tools{
      background-color: rgba(166,168,171,0.1);
      border-radius: 10px 10px 0px 0px;
      padding: 1em;
      margin: 0em 0em 1em;

      .btn-back {
        cursor: pointer;
        font-weight: bold;
      }
    }

    .search-result-list {

      .tutor {
        box-sizing: border-box;
        clear: both;
        margin-bottom: 3em;
        text-transform: uppercase;
        width: 100%;

        .content {
          margin-bottom: 0.3em;
        }

        .tutor_picture_container {
          display: table-cell;
          height: 100%;
          padding: 0;
          vertical-align: middle;

          .tutor_picture {
            background-color: white;
            display: inline-block;
            overflow: hidden;
            position: relative;
            width: 100%;

            img {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translateY(-50%) translateX(-50%);
            }

          }
        }

        .tutor-personal-info{
          box-sizing: border-box;
          padding: 0em;

          .content {
            background-color: rgba(250,174,64,0.1);
            padding: 1.5em;
            margin-bottom: 0.3em;
            margin-left: 0.3em;
            min-height: 200px;

            .resume {
              color: $color-medium-orange;
              font-size: 14px;
              font-weight: 500;
              height: 90px;
              margin: 1em 0em 0em;
              overflow: hidden;
              padding: 0em;

              span {
                color: $color-dark-orange;
                cursor: pointer;
                text-decoration: underline;
              }
            }

            .resume.expanded {
              height: auto;
            }

            .given-classes {
              color: $color-dark-green;
              font-size: 12px;
              font-weight: 500;
              margin: 1em 0em 0em;
              padding: 0em;
            }

            .tutor-county {
              color: $color-dark-green;
              font-size: 18px;
              font-weight: 600;
              margin: 0px;
            }

            .tutor-name {
              color: $color-medium-orange;
              font-size: 22px;
              font-weight: 600;
              margin: 0em;
              padding: 0em;
            }
          }
        }

        .tutor-class-info {
          box-sizing: border-box;
          padding: 0;
          text-align: center;

          .content {
            margin-bottom: 0.3em;
            margin-left: 0.3em;

            .content-button {
              height: 40px;
              position: relative;
              width: 100%;

              button {
                background-color: $color-light-blue;
                bottom: 0;
                color: white;
                height: 100%;
                left: 0;
                position: absolute;
                text-transform: uppercase;
                width: 100%;
              }
            }

            .content-price {
              background-color: $color-search-medium-blue;
              display: table;
              width: 100%;

              .price {
                display: table-cell;
                color: $color-search-dark-blue;
                font-size: 18px;
                font-weight: 500;
                height: 98px;
                margin: 0px;
                vertical-align: middle;
                width: 100%;
              }

              .preferences {
                display: table-row;

                .active {
                  color: $color-search-dark-blue;
                }

                span {
                  color: white;
                  font-size: 18px;
                  margin: 0px 8px 0px 0px;
                  padding: 0px;
                }

                span:last-child {
                  margin-right: 0px;
                }
              }
            }

            .content-score {
              background-color: $color-search-light-blue;
              display: table;
              height: 54px;
              width: 100%;

              .score {
                color: $color-search-medium-blue;
                display: table-cell;
                font-size: 0px;
                height: 100%;
                margin: 0px;
                padding: 0px;
                vertical-align: middle;
                width: 100%;

                .star-empty {
                  color: $color-search-medium-blue;
                }

                .star-full {
                  color: $color-search-dark-blue;
                }

                span {
                  font-size: 25px;
                  margin: 0px 8px 0px 0px;
                  padding: 0px;
                }

                span:last-child {
                  margin-right: 0px;
                }
              }

            }

            .score-more {
              background-color: $color-search-light-blue;
              color: $color-search-dark-blue;
              font-size: 10px;
              margin-bottom: 5px;
              width: 100%;
            }
          }

        }

      }
    }


  }

}

.section-search{
  background-color: rgba(166,168,171,0.1);
  border-radius: 10px 10px 0px 0px;
  box-sizing: border-box;
  margin-top: 0em;
  padding-top: 2em;

  > div{
    display: block;
    text-align: center;
  }

  h2{
    color: $color-dark-red;
    font-family: 'Typewriter';
    font-size: 45px;
    margin: 0em 1em;
  }

  h3{
    color: $color-light-green;
    font-family: 'Typewriter';
    font-size: 30px;
    margin: 0em 1em;
  }

  form{
    display: block;
    margin: 0em auto;
    padding: 2em;

    input, select, a.search-button{
      background: $color-input-bgcolor;
      border: 1px solid $color-medium-gray;
      border-radius: 10px;
      box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.2);
      color: $color-medium-gray;
      display: block;
      font-family: "gotham";
      font-weight: 400;

    }

    a.search-button{
      color: $color-dark-blue;
      display: block;
      margin: 1em auto 1em;
      padding: 0.8em 1.5em;
      text-align: center;
      width: 100px;
    }

    a.search-button:hover{
      background-color: rgba(166, 168, 171, 0.2);
      text-decoration: none;
    }

    input:hover{
      background-color: rgba(166, 168, 171, 0.2);
    }

    input:focus{
      background-color: rgba(166, 168, 171, 0.3);
    }

    select:hover{
      background-color: rgba(166, 168, 171, 0.2);
      cursor: pointer;
    }

    .county, .category, .course{
      appearance: field;
      margin: 0em auto 1em;
      padding: 0.8em 1.5em;
    }

    .county, .category{
      margin-bottom: 0em;
    }
  }

  .search-image{
    display: block;
    margin: 0px auto -10px;
    max-width: 100px;
    width: 100%;
  }

}

.section-guaranty{
  max-width: 1170px;
  margin: 0px auto;
  padding: 1.5em 0em;

  .title-element{
    margin: 0.1em 0 0;
  }
}

.section-where{
  box-sizing: border-box;
  margin: 0px auto;
  max-width: 1170px;
  padding-bottom: 3em;
  overflow: hidden;
  text-align: center;

  .where-item{
    font-size: 2.2em;
    line-height: 1.2em;
    padding: 1em;

    p{
      color: white;
      font-weight: 500;
      margin-top: 0;
      height: 72px;
      text-transform: uppercase;
    }
  }

  .where-item{
    border-right: 1px solid white;
    margin-top: 1.5em;
  }

  .where-item:last-child{
    border-right: none;
  }
}

.student-tutors{
  border: 2px solid $color-input-gray-bgcolor;
  min-height: 300px;
  margin: 2em 0em 0em 0em;

  .tutors-list-view-row{
    table{
      border-collapse: collapse;
      padding: 0px;
      width: 100%;

      td{
        padding: 0px;
      }

      th{
        font-weight: normal;
      }
    }

    .tutors-list-title-row{
      border-bottom: 2px solid $color-input-gray-bgcolor;
      border-left: 2px solid $color-input-gray-bgcolor;
      border-right: 2px solid $color-input-gray-bgcolor;
      box-sizing: border-box;
      color: $color-dark-gray;
      font-size: 2rem;
      font-weight: 400;
      padding: 0px;
      text-align: center;
      width: 100%;

      .info-title{
        background-color: $color-input-gray-bgcolor;
        color: $color-dark-green;
        font-size: 1rem;
        font-weight: 500;
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
        width: 50%;
      }
    }

    .tutors-list-info-row{
      background-color: white;
      padding: 1em;
      width: 100%;

      .tutor-info{
        color: $color-light-blue;
        font-size: 14px;
        font-weight: 500;
        padding: 0.5em;
        text-align: center;
        width: 50%;

        .user_picture_container{
          display: inline-block;
          height: 50px;
          margin-right: 1%;
          vertical-align: middle;
          width: 50px;

          .user_picture{
            height: 50px;
            width: 50px;
          }
        }

        .user_name{
          display: inline-block;
          margin-left: 1em;
          vertical-align: middle;
        }
      }
    }

  }
}

@media (min-width: $screen-sm-min) {
  footer{
    padding: 1em 0em;
  }

  .section-categories{
    font-size: 0px;
    min-height: 100px;
    text-align: center;

    .category:nth-child(odd){
      margin-right: 0.62%;
    }

    .category{
      display: inline-block;
      font-size: 19px;
      margin: 0% 0.62% 0% 0%;
      padding: 0px;
      text-align: center;
      width: 19.5%;

      img{
        display: block;
        margin: 0px auto;
        width: 100%;
      }

      a{
        padding: 5.5em 1em 3.5em;
      }

      a:hover{
        text-decoration: none;
      }

      .category-title{
        color: $color-dark-gray;
        display: block;
        font-size: 16px;
        margin: 1em auto 0em;
        text-transform: uppercase;
        width: 100%;
      }
    }

    .category:last-child{
      margin-right: 0px;
    }
  }

  .section-search{
    margin-top: 1em;

    > div{
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 70%;
    }

    form{
      box-sizing: content-box;
      display: inline-block;
      margin: 1em 0em;
      padding: 0em 2em 0em 4em;
      text-align: right;

      input, select, a.search-button{
        display: inline-block;

      }

      a.search-button{
        display: inline-block;
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county, .category{
        padding: 0.8em 1.5em;
        width: 49%;
      }


    }

    .search-image{
      bottom: -58px;
      display: inline-block;
      left: 40px;
      margin-bottom: 0px;
      max-width: 160px;
      position: relative;
      vertical-align: top;
      width: 100%;
    }
  }

  #tutor-detail{
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    height: 85%;
    overflow: scroll;
    position:relative;
    text-align: left;
    vertical-align: middle;
    width: 1000px;
  }
}

@media (min-width: $screen-md-min) {

  .how-it-works-wrapper{
    .section-how-it-works{
      box-sizing: border-box;
      font-size: 22px;
      margin: 0px auto;
      max-width: 1170px;

      .title-content{
        margin-bottom: 1em;

        span.number{
          border: 2px solid $color-dark-green;
          border-radius: 50px;
          box-sizing: border-box;
          display: inline-block;
          font-size: 10px;
          height: 20px;
          margin: -2px 5px 0px 0px;
          padding: 0.2em;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }

        span.title{
          box-sizing: border-box;
          display: inline-block;
          margin-bottom: 0em;
          text-transform: uppercase;
          vertical-align: middle;
        }
      }


    }
  }

  .section-search-results{

    .light-search{

      padding: 1.5em 1em 1em;

      h2{
        color: #ec2227;
        font-family: 'Typewriter';
        font-size: 60px;
        margin: 0px;
      }

      form{
        display: inline-block;
        margin: 0px;
        padding: 1em;

        input, select, a.search-button{
          background: $color-input-bgcolor;
          border: 1px solid $color-medium-gray;
          border-radius: 10px;
          box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.2);
          color: $color-medium-gray;
          display: inline-block;
          font-family: "gotham";
          font-weight: 400;

        }

        a.search-button{
          color: $color-dark-blue;
          display: inline-block;
          margin: 0em auto;
          padding: 0.8em 1.5em;
          text-align: center;
          width: 18%;
        }

        a.search-button:hover{
          background-color: rgba(166, 168, 171, 0.2);
          text-decoration: none;
        }

        input:hover{
          background-color: rgba(166, 168, 171, 0.2);
        }

        input:focus{
          background-color: rgba(166, 168, 171, 0.3);
        }

        select:hover{
          background-color: rgba(166, 168, 171, 0.2);
          cursor: pointer;
        }

        .county, .category, .course{
          appearance: field;
          margin: 0em auto 1em;
          padding: 0.8em 1.5em;
          width: 40%;
        }

        .angucomplete-holder{
          width: 40%;
        }

        .angucomplete-dropdown{
          width: 100%;
        }

        .county, .category{
          margin-bottom: 0em;
          width: 100%;
        }

        .county{
          width: 40%;
        }
      }
    }

  }

  .section-search{
    margin-top: 1em;

    h2{
      font-size: 60px;
      margin: 0.5em 0em 0em 1em;
    }

    h3{
      font-size: 50px;
      margin: 0em 0em 0.5em 2em;
    }

    > div{
      display: inline-block;
      vertical-align: top;
      text-align: left;
      width: 70%;
    }

    form{
      display: inline-block;
      margin: 0em 0em 1em 7em;
      padding: 0em;

      a.search-button{
        display: inline-block;
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county, .category{
        margin-bottom: 0px;
        padding: 0.8em 1.5em;
        width: 250px;
      }
    }

    .search-image{
      bottom: -28px;
      display: inline-block;
      left: 40px;
      margin-bottom: 0px;
      max-width: 260px;
      position: relative;
      vertical-align: top;
      width: 100%;
    }
  }
}

@media (min-width: $screen-lg-min) {

  .section-search{

    > div{
      width: 75%;
    }

    form{
      display: inline-block;

      a.search-button{
        padding: 0.8em 1.5em;
        width: 150px;
      }

      .course, .county, .category{
        padding: 0.8em 1.5em;
        width: 250px;
      }
    }

  }
}

