<ul class="hidden-xs">
  <li>
    <a href="#" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">¿Quieres dar clases en geek?</a>
  </li>
  <li><a href="#" title="¿Quieres dar clases en geek?" class="signin">Ingresa</a></li>
  <li><a href="#" title="¿Quieres dar clases en geek?" class="signup">Registrate</a></li>
  <li><a href="#" title="¿Quieres dar clases en geek?" class="text-color-light-blue">English/Español</a></li>
</ul>
<ul class="hidden-md hidden-lg hidden-sm">
  <li>
    <a href="#" title="¿Quieres dar clases en geek?" class="text-color-dark-blue">¿Tutor?</a>
  </li>
  <li><a href="#" title="¿Quieres dar clases en geek?">Ingresa</a></li>
  <li><a href="#" title="¿Quieres dar clases en geek?">Registrate</a></li>
</ul>