<ul class="hidden-xs">
  <li>
    <a href="/" title="¿Qué quieres aprender hoy?" class="text-color-dark-blue">¿Qué quieres aprender hoy?</a>
  </li>
  <li><a href="#" title="Ingresa" class="signin">Ingresa</a></li>
  <li><a href="#" title="Registrate" class="signup">Regístrate</a></li>
  <li><a href="#" title="Idioma" class="text-color-light-blue">English/Español</a></li>
</ul>
<ul class="hidden-md hidden-lg hidden-sm">
  <li>
    <a href="/" title="¿Qué quieres aprender hoy?" class="text-color-dark-blue">Estudiante</a>
  </li>
  <li><a href="#" title="Ingresa">Ingresa</a></li>
  <li><a href="#" title="Registra">Regístrate</a></li>
</ul>